{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	ul.lgas {
		margin: 0;
		padding: 0;
		list-style-type: none;
		clear: both;
	}
	ul.lgas li {
		float: left;
		border: 1px solid #888;
		padding: 2px 5px;
		margin: 2px 4px;
	}
	ul.lgas li a {
		text-decoration: none;
	}
</style>
<ul class="lgas">
	{% for site in sites %}
	<li><a href="/facilities/{{site.slug}}">{{site.name}}</a>
	{% endfor %}
</ul>
<br class="clearfix">
<p style="clear:both">
	Hi
</p>
{% endblock %}
{% block js %}
<script type="text/javascript" charset="utf-8">
	$('ul.lgas').delegate('a', 'click', function(){
		$.getJSON(this.href).done(function(d){
			console.log(d);
			var div = $("<div />").text(JSON.stringify(d));
			div.dialog();
		}).fail(function(){
			console.log("Fail", arguments)
		});
		return false;
	})
</script>
{% endblock %}