

/*****

Not sure you want to use this stylesheet as an exemple since my CSS is pretty
messy. I trust you to do much better :-)

******/




/*** GLOBAL ***/

a {
color: grey;
}

td.empty {
background-color:#DDDDDD;
}

#mangrove thead tr th {
	background: url(../images/table_header_repeat.jpg) repeat-x;
}

#mangrove thead th {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	color: #DDDDDD;
	font-family: Tahoma;
}


#mangrove .create-button a {
float:left; 
padding-left:27px; 
height:37px; 
overflow:hidden;
background:url("../images/btn-create-left.gif") 0 0 no-repeat; 
text-decoration:none; 
font-weight:bold; 
cursor:pointer;
}

#mangrove .create-button span  {
float:left; 
display:block; 
width:163px; 
padding:8px 0 10px 10px; 
background:url("../images/btn-create-right.gif") -2px 0 no-repeat;
color:black;
text-decoration:none;
}

#mangrove .create-button a:hover {
background-position:0 -37px;
}

#mangrove ul {
list-style-type:square;
}

#mangrove .delete a {
display:block;
height:24px;
width:24px;
background:url("../images/delete.gif") no-repeat;
text-indent:-999px;
overflow:hidden;
}

#mangrove .delete a:hover {
display:block;
height:24px;
width:24px;
background:url("../images/delete.gif") no-repeat;
background-position:0 -24px;
}


.confirm input {
margin:0 1em;
}

/*** HEADER ***/

#mangrove #header {
margin-bottom: 1em;
}

#mangrove #header-top {
    background: url(../images/top_bg.jpg) top center repeat-x;
    height: 92px;
    color: white;
    overflow: hidden;
}

#mangrove #header .logout-link {
float:right;
margin: 1em;
}


#mangrove #header-top h1 {
    padding:1em;
    padding-left: 140px;
    margin-left:10px;
    margin-bottom: -50px;
    color: white;
    background: url(../images/Logo_OMS_bnw_small.png) no-repeat;
}

#mangrove #header-top a {
    color: white;
}


#mangrove #menu	{
    border-top: 1px solid #7e7e7e;
	font-family: Tahoma;
	font-size: 13px;
    height: 40px;
	z-index: 500;
	background: url(../images/nav/repeat.jpg) repeat-x;
	margin:0;
}

#mangrove #menu li {
display: inline;
padding-right:1em;
float: left;
color:  #fff;
font-weight:bold;
height: 37px;
margin-right:1em; 
}

#mangrove #menu a,
#mangrove #menu span	{
	display: block;
	color: #fff;
	height:100%;
	text-decoration: none;
    font-weight:bold;
    padding: 8px 0px 0 16px;
    
}

#mangrove #menu .selected a,
#mangrove #menu a:hover 	{
    background: url(../images/nav/pro_line_1.gif) no-repeat;
}

#mangrove #menu .selected,
#mangrove #menu li:hover 	{
    padding-right:16px;
    background: url(../images/nav/pro_line_1.gif) center right ;
}

#mangrove .nav-divider	{
	background: url(../images/nav/divider.jpg) top no-repeat;
	height:37px;
}

/*** Report results ***/


#dashboard #pagination h3, 
#dashboard #pagination p {
float: left;
}

#dashboard #pagination h3 span {
font-size:0.7em;
color:grey;
}

#mangrove #pagination .previous a {
display: block;
margin-top: -3px; 
height:24px;
width:24px;
margin-right: 1em;
text-indent: -999px;
overflow:hidden;
background: url(../images/paging_left.gif) no-repeat;
}

#mangrove #pagination .next a {
display: block;
width:24px;
height:24px;
text-indent: -999px;
overflow:hidden;
margin-top: -3px; 
margin-left: 1em;
background: url(../images/paging_right.gif) no-repeat;
}


#tabs .menu {
float:left;
}

#tabs p {
text-align:right;
padding-right:2em;
padding-top:16em;
}


table td {
    border: 1px solid #DDDDDD;
}

table ul {
    padding-top:1em;
}

#dashboard table th,
#dashboard table td {
text-align: center;
}

#dashboard table .total {
text-align: right;
}

#dashboard table .drugs {
text-align: left;
}

#mangrove #lang-switcher {
float: right;
}

#mangrove #lang-switcher li {
display: inline;
padding-right:1em;
}


#dashboard-header {
margin: 1em;
}

#dashboard #campaign-date {
font-style: italic;
}

#mangrove form p label {
width:15ex;
display:block;
float:left;
}


/*** MANAGE REPORT ***/

#mangrove #report-list #content ul li {
height:2em;
margin:0.5em;
}


#mangrove #report-list #content ul .report-link {
display: block;
float:left;
margin-right: 1em;
color: black;
text-decoration: none;
font-size:1.5em;
position: relative;
top: -0.2em;
}

#mangrove #edit-report p {
margin-top:1em;
}

#mangrove #edit-report #content ul li{
margin-top: 0.5em;
}

#mangrove #edit-report #content ul li .edit-view-link {
display: block;
float:left;
margin-right: 1em;
color: black;
font-size:1.1em;
position: relative;
}

#mangrove #report-list #content ul .report-link:hover {
text-decoration: underline;
}

#mangrove #report-list #content ul li .edit {
display: block;
float:left;
padding-right: 2ex;
}

#mangrove #report-list #content ul li .delete,
#mangrove #edit-report #content ul li .delete{
display: block;
}

/*** Manage views ***/


#edit-view #edit-view-nav li {
float: left;
margin-left: 3em;
}

#edit-view #data-display-form p {
text-align:right;
}

#edit-view #data-display-form td,
#edit-view #data-display-form th {
text-align:center;
}

#edit-view #data-display-form table span {
margin: 0 1em;
}

#edit-view #data-display-form table a {
text-decoration: none;
font-size: 1.2em;
color:white;
border: 1px solid grey;
}

#edit-view #aggregation-form li {
list-style-type: none;
}

#edit-view #edit-indicators p {
border-top: grey 1px dotted;
padding-top:1em;
}

#edit-view #edit-indicators p label {
position: relative;
top:0.5em;
}

#edit-view #edit-indicators div.subform {
position:relative;
top:-5.5em;
left:60ex;
border-width:0;
margin-bottom:-1em;
}

#edit-view #edit-indicators div.subform p {
border-width:0;
}

#edit-view #edit-indicators div.button {
margin:1em;
text-align:right;
}

/* ---- LOGIN ---- */	

#ntd-login	{
	background: url(../images/login/login_bg.jpg) no-repeat top center;
}

#ntd-login h1 {
margin-top: 3em;
color:white;
}

#ntd-login #loginbox	{
	background: url(../images/login/loginbox_bg.png) no-repeat;
	height: 212px;
	padding-top: 60px;
	width: 508px;
}


#ntd-login #login-inner	{
	color: #161616;
	font-family: Tahoma;
	margin-left: 80px;
}

#ntd-login #login-inner label	{
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
    width:20ex;
    display:block;
    float:left;  
    margin-top: 1.3em;  	 
}


#ntd-login .login-inp	{
	background: transparent url(../images/login/inp_login.png) no-repeat;
	border: none;
	color: #fff;
	font-size: 16px;
	height: 28px;
	padding: 6px 6px 0 10px;
	width: 204px;
}

#ntd-login .submit-login	{
	background: url(../images/login/submit_login.gif) no-repeat;
	border: none;
	cursor: pointer;
	height: 29px;
	width: 73px;
	text-align:right;
}

#ntd-login .submit	{
	text-align:right;
	margin-right:3em;
}
	
#ntd-login .submit-login:hover	{
	background: url(../images/login/submit_login.gif) no-repeat 0 -29px;
}

#ntd-login .login-error	{
margin-top:1em;
color:white;
margin-left: 1em;
}

