{% extends "ui_base.html" %}
{% load i18n %}

{% block page_title %}Access Denied{% endblock %}

{% block content %}
<div class='content-inner-wrap'>
{% if user.is_authenticated %}
	<p>
		I'm sorry, but at the moment your account has not been
		granted access to the Nigeria MDG Information System.
	</p>
	<p>
		Please
		email <a href="mailto:{{user_manager_email}}?subject=NMIS%20User%20[{{user.username}}]%20Requesting%20Permission">OSSAP</a>
		to request access.
	</p>
{% else %}
	<h1>
		Please Register or Log In
	</h1>
	<p>
		<a href="{% url auth_login %}">{% trans "Log in" %}</a>
	</p>
{% endif %}
</div>
{% endblock %}
