<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html> 
<head> 
	<title>User Requests</title> 
	
	<meta name="robots" content="index,follow" /> 
	
	<meta name="title" content="Bob's Blog - Crafting Software: jQuery Auto-Filtering Table" /> 
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" /> 
	<meta name="description" content="Thought on developing software and testing: jQuery Auto-Filtering Table" /> 
	<meta name="keywords" content="" /> 

	
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.silverwareconsulting.com/rss.cfm?mode=full" /> 
 
	<script type="text/javascript"> 
	function launchComment(id) {
		cWin = window.open("http://www.silverwareconsulting.com/addcomment.cfm?id="+id,"cWin","width=550,height=700,menubar=yes,personalbar=no,dependent=true,directories=no,status=yes,toolbar=no,scrollbars=yes,resizable=yes");
	}
	function launchTrackback(id) {
		cWin = window.open("http://www.silverwareconsulting.com/trackbacks.cfm?id="+id,"cWin","width=550,height=500,menubar=yes,personalbar=no,dependent=true,directories=no,status=yes,toolbar=no,scrollbars=yes,resizable=yes");
	}
	</script> 
</head> 
 
 
				

<script src="/static/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.uitablefilter.js"></script>
<link rel="stylesheet" href="/static/css/tablesorter/style.css" type="text/css" media="print, projection, screen" />

	<script type="text/javascript">
	$(document).ready(function() {
		var $table = $("#myTable")
			.tablesorter({widthFixed: true, widgets: ['zebra']});
		FilterText = "";
		ColumnArray = ["State", "LGA", "User"];
		for (i=0;i<ColumnArray.length;i++) {
			$("#myTable tbody tr").find("td:eq(" + i + ")").click( function() {
				clickedText = $(this).text();
				FilterText = ((FilterText == clickedText) ? "" : clickedText );
				$.uiTableFilter( $table, FilterText, ColumnArray[i]);
			});
		}
	});
	</script>

<table cellpadding="2" cellspacing="0" class="tablesorter" id="myTable">
  <thead>
    <tr>
      {% for header in headers %}<th>{{ header }}</th>{% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for row in table %}
    <tr>
      {% for cell in row %}<td>{{ cell }}</td>{% endfor %}
    </tr>
    {% endfor %}
  </tbody>
<table>




 
</body> 
</html> 


