{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/tablesorter/style.css" type="text/css" media="print, projection, screen" />
{% endblock %}
{% block content %}
<table cellpadding="2" cellspacing="0" class="tablesorter" id="myTable">
  <thead>
    <tr>
      {% for header in headers %}<th>{{ header }}</th>{% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in table %}
    <tr>
      {% for cell in row %}<td>{{ cell }}</td>{% endfor %}
    </tr>
    {% endfor %}
  </tbody>
<table>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.uitablefilter.js"></script>
<script type="text/javascript"> 

$(function() {
	var $table = $("#myTable")
		.tablesorter({widthFixed: true, widgets: ['zebra']});
	FilterText = "";
	ColumnArray = ["State", "LGA", "User"];
	for (i=0;i<ColumnArray.length;i++) {
		$table.find('tbody tr').find("td:eq(" + i + ")").click( function() {
			clickedText = $(this).text();
			FilterText = ((FilterText == clickedText) ? "" : clickedText );
			$.uiTableFilter( $table, FilterText, ColumnArray[i]);
		});
	}
});

</script>
{% endblock %}
