pyxform
site_media/attachments

tmp/*
*.pyc
*.sql
*.tar.gz
*~
.DS_Store
*.sqlite3
error.log
site_media/css/sass/.sass-cache/*
.sass-cache
.odk
*orig
.idea
search_index

#for a local virtualenv (as done in mangrove repo)
ve/

# file created by tests
registration.xml

# folder to hold csv files
csvs

xform_manager_dataset.json

/data
local_settings.py
.~lock.*

# media folder used by tests
# todo: figure out a way to clean this up rather than ignore it.
/test_media
/media

load_script.logs
load_script.pid
