[submodule "main/static/bootstrap/src"]
	path = main/static/bootstrap/src
	url = git://github.com/twbs/bootstrap.git
[submodule "js_tests/EnvJasmine"]
	path = js_tests/EnvJasmine
	url = git://github.com/trevmex/EnvJasmine.git
[submodule "main/static/recline"]
	path = main/static/recline
	url = git://github.com/modilabs/recline.git
