pyxform
site_media/attachments

tmp/*
*.pyc
*~
.DS_Store
db.sqlite3
error.log
site_media/css/sass/.sass-cache/*
.sass-cache
.odk
*orig
.idea
search_index

#for a local virtualenv (as done in mangrove repo)
ve/

# file created by tests
registration.xml

# folder to hold csv files
csvs

xform_manager_dataset.json

data
local_settings.py
.~lock.*

# "your code sucks, you should fix this" -- andrew
test_static

load_script.logs
load_script.pid