custom_settings.py

pyxform
xform_manager
eav
site_media/attachments

tmp/*
*.pyc
*~
.DS_Store
db.sqlite3
error.log
site_media/css/sass/.sass-cache/*
.sass-cache
.odk
*orig
.idea
search_index

#for a local virtualenv (as done in mangrove repo)
ve/

# file created by tests
registration.xml

# folder to hold csv files
csvs
