Django==1.2.3
Fabric==0.9.2
django-mako==0.1.4pre
xlwt==0.7.2
Markdown==2.0.3
django-treebeard==1.61
South==0.7.3
-e git://github.com/mvpdev/django-eav.git@e8b5849de23cd266284fd0f40150a41a34654e29#egg=django_eav-0.9.2-py2.6-dev
django-registration==0.7
django-mptt==0.4.2
ipython==0.10.1
ipdb==0.2
couchdbkit==0.5.1
