{% extends "ui_base.html" %}
{% load i18n %}

{% block page_title %}Log In{% endblock %}

{% block account_links %}{% endblock %}

{% block content %}
<p>
  Welcome to the Nigeria MDGs Information System. In order to log in
  you need a username and password. Please register
   <a href="{% url registration_register %}">here</a> to get a
  username and
  password. To log in please fill in the form below.
</p>

<form method="post" action=".">
  <table>
    {{ form.as_table }}
  </table>
  {% csrf_token %}
  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>
  If you forget your password you can reset it
  <a href="{% url auth_password_reset %}">here</a>.
</p>

<p>
  If you forget your username please email
  <a href="mailto:{{user_manager_email}}?subject=Forgot%20Password">OSSAP</a>.
</p>
{% endblock %}
