{% extends "base.html" %}
{% load i18n %}
{% block content %}

<section id="login">
  <div class="page-header">
    <h1>{% trans "Sign in" %}</h1>
  </div>

  <div class="row">
    <div class="span8">
      <form class="well" method="post" action=".">
        <table>
          {{ form.as_table }}
          <tfoot>
            <tr>
              <td>&nbsp;</td>
              <td><input type="submit" class="btn btn-large btn-primary" value="{% trans 'Sign in' %}" /></td>
            </tr>
          </tfoot>
        </table>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      {% url "auth_password_reset" as reset_url %}
      <p>{% blocktrans %}Can't access your account? <a href="{{ reset_url }}">Reset your password.</a>{% endblocktrans %}</p>
      {% url "registration_register" as registration_url %}
      <p>{% blocktrans %}New to formhub? <a href="{{ registration_url }}">Create an account.</a>{% endblocktrans %}</p>
    </div>
  </div>
</section>

{% endblock %}
