

div.left-side-nav
  :width 27.5%
  :float left
  h1.sn-title
    :padding 2px 25px
    :font-weight normal
    :font-size 18px
    :margin 0
    :color #fff
    :background-color #333
  div.navwrap
    :border 1px solid #666
    p.notalink, a
      :display block
      :padding 2px 25px
      :margin 0
      :line-height 24px
    ul
      :list-style-type none
      :margin 0
      :padding 0
      li
        :margin 0
        :padding 0
        :border-bottom 1px solid #bbb
      ul
        li
          :padding-left 12px
div.right-content
  :width 67.5%
  :float right