<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>NMIS {% block title %}{% endblock %}</title>
	<script type="text/javascript" src="/site-media/js/jquery-1.4.3.js"></script>
	<script type="text/javascript" src="/site-media/jquery-ui/jquery-ui-1.8.5.custom.min.js"></script>
	<script type="text/javascript" src="/site-media/js/jquery.buildin.js"></script>
	<link rel="stylesheet" href="/site-media/css/sitewide.css" type="text/css" media="screen" title="Sitewide" charset="utf-8" />
	<link rel="stylesheet" href="/site-media/jquery-ui/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" title="Sitewide" charset="utf-8" />
</head>
<body>
	<div id="header">
		<div class="fwidth">
			<a href="/" id="logo"><span>NMIS</span></a>
			<h1 id="title"><span class="top">NMIS Pilot</span><br />{% block htitle %}{% endblock %}</h1>
		<div class="account_links">
			<a href="/admin">Admin</a>
		</div>
		</div>
	</div>
	<ul id="menu">
		<div class="fwidth">
		<li><a href="/">Dashboard</a></li>
		<li><a href="/forms">Forms</a></li>
		<li><a href="/submissions">Submissions</a></li>
		</div>
	</ul>
	<div id="content">
		<div class="fwidth">
{% block content %}{% endblock %}
	</div>
	</div>
	<script type="text/javascript">
	<!--
	if($('a.b')) {
		$('a.b');
	}
	-->
	</script>
</body>
</html>
