<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>NMIS {% block title %}{% endblock %}</title>
	<script type="text/javascript" src="/site_media/js/jquery-1.4.3.js"></script>
	<link rel="stylesheet" href="/site_media/css/sitewide.css" type="text/css" media="screen" title="Sitewide" charset="utf-8" />
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
