{% extends 'base.html' %}
{% block content %}
{% if survey_list %}
	<h3>Survey list</h3>
	<ul>
		{% for survey in survey_list %}
		<li><a href="/couchly/{{survey.id}}">{{survey.name}}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<a href="/couchly">Back to survey list</a>
	<h3>{{survey_id}}</h3>
	<div id="survey-data"></div>
{% endif %}
{% endblock %}
{% block footer %}
{% if survey_id %}
<style type="text/css" media="screen">
table td {
	font-family: courier;
	border: 1px solid #eee;
}
table td.pretty {
	font-family: cursive, Arial;
	font-weight: bold;
	color: blue;
	font-size: larger;
}
</style>
<script type="text/javascript" charset="utf-8">
<!--
var surveyId = "{{survey_id}}";
$.json2table({{survey_data|safe}}).appendTo($("div#survey-data"));

var displayDictionary = {{display_dictionary|safe}};
$.each(displayDictionary, function(k, v){
	$('.'+k).html(v).addClass('pretty');
})
-->
</script>
{% endif %}
{% endblock %}