{% extends "base.html" %}
{% block htitle %}Dashboard{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
	var baseUrl = "{{dashboard_base_url}}";
</script>
<script type="text/javascript" src="/site-media/js/sammy.extensions.js"></script>
<script type="text/javascript" src="/site-media/js/nmis.dashboard.sammy.js?idonno"></script>
<script src="/site-media/js/custom-markers.js" type="text/javascript" charset="utf-8"></script>
<script src="/site-media/js/activity-list.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/site-media/css/map-key.css" type="text/css" media="all" title="Sitewide" charset="utf-8" />
{% endblock %}

{% block content %}
<div class="full-content sliding" id="main">
	<div class="iwrap" id="dashboard">
		<div class="iiwrap">
		</div>
	</div>
	<div class="iwrap" id="activity">
		<div class="iiwrap">
			{% include '_activity.html' %}
		</div>
	</div>
	<div class="iwrap" id="frequency-tables">
		<div class="iiwrap">
			{% include '_frequency_table.html' %}
		</div>
	</div>
	<div class="iwrap" id="map">
		<div class="iiwrap">
			{% include '_map.html' %}
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">

$('body').delegate('.dontChangePage', 'click', function(evt){
	evt.preventDefault();
})
dashboard.activateSwitchTo(".full-content.sliding");

$(function(){
	var clearStorageLink = $("<a />", {href:'#'}).html("Clear Storage");
	clearStorageLink.click(function(evt){
		storage.clear('activity');
		storage.clear('activity_stamp');
		evt.preventDefault();
	})
})

	$('.button').button();
	SetResizer(jQuery, ".iiwrap", "#header, #menu", (16+24));

</script>

<script type="text/javascript" charset="utf-8">
var clickr = $("<a />", {href:'#','class':'dontChangePage'});
clickr.html('.');
clickr.css({'text-decoration':'none'})
clickr.click(function(){
	storage.clear('activity');
})
	$('.account_links').append(clickr);
</script>

{% endblock %}