{% extends "base.html" %}
{% block htitle %}Dashboard{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="/site-media/css/dashboard.css" type="text/css" media="all">
{% endblock %}
{% block scripts %}
<script type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/site-media/css/map-key.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<div class="full-content sliding" id="main">
	<div class="iwrap" id="dashboard">
		<div class="iiwrap">
			<!-- Copied from "export_list.html" -->
			<table class="pretty padded">
				<thead>
					<tr>
				    <th>Title</th>
				    <th>Number of Submissions</th>
				    <th>Time of Last Submission</th>
				    <th>Export</th>
				  </tr>
				</thead>
				<tbody>
			{% for xform in xforms %}
				<tr>
				  <td>{{ xform.title }}</td>
				  <td>{{ xform.submission_count }}</td>
				  <td>
				    {% if xform.time_of_last_submission %}
				    {{ xform.time_of_last_submission }}
				    {% endif %}
				  </td>
				  <td>
				    {% if xform.submission_count %}
				    <a href={% url parsed_xforms.views.csv_export id_string=xform.id_string %}>csv</a>
				    {% endif %}
				  </td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	</div>
	<style type="text/css">
	</style>
	<div class="iwrap" id="lga-list">
		<div class="iiwrap">
			<div class='pretty-table-wrap'>
			<p class="info">
				Phase II states are listed in the table below. Click on a state to see LGAs surveyed, and click the LGA name to see a map of the submitted surveys.
			</p>
			<table border="0" class="pretty padded" id="state-lga-list">
				<thead>
					<tr>
						<th colspan="4"></th>
						{% for title in zone_table.survey_titles %}
						<th class="survey-col-header">{{title}}</th>
						{% endfor %}
						<th><span class='tot-span'>TOTAL</span></th>
					</tr>
				</thead>
				{% for state in zone_table.states %}
				<tbody>
					<tr class="state-row">
						<td class="h-bar"></td>
						<td>{{state.zone_name}}</td>
						<td>{{state.name}}</td>
						<td>
							<span class="lga-count">({{state.lga_count}} LGAs Surveyed)</span>
						</td>
						{% for tot in state.survey_totals_by_title %}
						<td class="centered">{{tot}}</td>
						{% endfor %}
						<td class="state total">
							<span class="total">{{state.total_count}}</span>
						</td>
					</tr>
					{% for lga in state.lga_list %}
					<tr class="lga-row">
						<td class="h-bar"></td>
						<td><a href="#/map/lga/{{lga.pk}}" class="discrete-link">[View Map]</a></td>
						<td colspan="2" class="lga-name">
							<a href="#/map/lga/{{lga.pk}}">
								{{lga.name}}</a></td>
						{% for tot in lga.survey_totals_by_title %}
						<td class="centered">{{tot}}</td>
						{% endfor %}
						<td class="lga total">
							<span class="total">{{lga.total_count}}</span>
						</td>
					</tr>
					{% endfor %}
				</tbody>
				{% endfor %}
				<tfoot>
					<tr class="total-row">
						<td class="h-bar"></td>
						<td colspan="3" style="text-align:right"><span class="tot-span">TOTAL</span></td>
						{% for tot in zone_table.survey_totals_by_title %}
						<td class="centered total">{{tot}}</td>
						{% endfor %}
						<td class="total-total">{{zone_table.total_total}}</td>
					</tr>
				</tfoot>
			</table>
			</div>
			<div id="map-wrap" style="position:absolute;width:100%;height:100%;top:0;left:0;z-index:0;">
				<div id="map-div" style="height:96%;margin:9px">
				</div>
			</div>
		</div>
	</div>
	<div class="iwrap" id="activity">
		<div class="iiwrap">
			<h2>
				Activities
			</h2>
			<table id="activity-list" class="shade-alternate fullw padded">
				<thead>
					<tr>
						<th>Date</th>
						<th>Surveyor</th>
						<th>Title</th>
						<th>Survey Type
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div class="iwrap" id="frequency-tables">
		<div class="iiwrap">
			<div id="freq-table-selector" style="position:relative">
				<div class="map-key-ww"><div class="map-key-w" style="padding:8px">
					<div id="m-key" class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
						<table>
							<tbody>
								<tr>
									<td class="selectors">
										<div class="selector-wrap">Rows
											<select id="freq-rows"></select>
										</div>
										<div class="selector-wrap">Columns
											<select id="freq-cols"></select>
										</div>
										<a href="#" style="margin-left:20px" id="get-table">Get Table</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div></div>
			</div>
			<div id="freq-table" style="padding:65px 15px 10px 15px;"></div>
		</div>
	</div>
	<div class="iwrap" id="map">
		<div class="iiwrap">
			<div class="map-wrap">
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="/site-media/js/sammy.extensions.js"></script>
<script type="text/javascript" src="/site-media/js/dashboard.js"></script>
{% endblock %}
