<!-- <div class="footer-section"> -->
<!-- 	<p class="fs-h">Dashboard</p> -->
<!-- 	<p class="fs-info">All in one page</p> -->
<!-- 	<p class="fs-link"><a href="/xforms/dashboard/#/">&ndash;Data Export</a></p> -->
<!-- 	<p class="fs-link"><a href="/xforms/dashboard/#/activity">&ndash;Activity List</a></p> -->
<!-- 	<p class="fs-link"><a href="/xforms/dashboard/#/map">&ndash;Map</a></p> -->
<!-- 	<p class="fs-link"><a href="/xforms/dashboard/#/frequency-tables">&ndash;Frequency Tables</a></p> -->
<!-- </div> -->
<!-- <div class="footer-section"> -->
<!-- 	<p class="fs-h">Profile Pages</p> -->
<!-- 	<p class="fs-info">Individual Pages</p> -->
<!-- 	<p class="fs-link"><a href="/xforms/surveyors">&ndash;Surveyors</a></p> -->
<!-- 	<p class="fs-sub-info">Surveyor Profile Pages</p> -->
<!-- 	<p class="fs-link"><a href="/xforms/surveys">&ndash;Survey Types</a></p> -->
<!-- 	<p class="fs-sub-info">Survey Type Profile Pages</p> -->
<!-- </div> -->
<!-- <div class="footer-section"> -->
<!-- 	<p class="fs-h">Management Tools</p> -->
<!-- 	<p class="fs-info">For Survey Managers</p> -->
<!-- 	<p class="fs-link"><a href="/xform_manager/">&ndash;XForm Manager</a></p> -->
<!-- 	<p class="fs-sub-info">Upload and Manage New Forms</p> -->
<!-- 	<p class="fs-link"><a href="/phone_manager/">&ndash;Phone Manager</a></p> -->
<!-- 	<p class="fs-sub-info">Update Status of Phones</p> -->
<!-- </div> -->

<div class="footer-section">
	<p class="fs-h">Management Tools</p>
	<p class="fs-info">For Survey Managers</p>
	<p class="fs-link"><a href={% url xform_manager.views.list_xforms %}>&ndash;Survey Form Manager</a></p>
	<p class="fs-sub-info">Upload, List, and Update Survey Forms</p>
	<p class="fs-link"><a href={% url phone_manager.views.phone_manager %}>&ndash;Phone Manager</a></p>
	<p class="fs-sub-info">Monitor and Update Phone Status</p>
</div>
