{% extends "base.html" %}

{% block content %}
<div class="page-nav">
<!--	<a href="/data">Survey Data Table</a> -->
<a href="/odk/#/">Survey Data Results</a>
<a href="/reports/manage">Report Manager</a>
</div>
<script type="text/javascript" charset="utf-8">
	$('.page-nav a').button();
</script>
<style type="text/css" media="screen">
	.page-nav a {
		display: block;
		width: 25%;
		border: 1px solid #777;
		border-radius: 4px;
		-moz-border-radius: 5px;
		padding: 5px 16px;
		margin: 2px 12px;
		float: left;
		background-color: #ddd;
		text-decoration: none;
		color: #333;
		line-height: 60px;
		text-align: center;
	}
	.page-nav a:hover {
		background-color: #ccc;
	}
	.page-nav {
		clear: both;
	}
</style>
<br style="clear:both" />
{% endblock %}
