{% extends 'base.html' %}

{% block additional-headers %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
    html { height: 100%; overflow: hidden }
    body { height: 100%; margin: 0; padding: 0 }
    #touchforms { height: 100%; width: 100% }
</style>
{% endblock %}

{% block body %}
<body>
    {% include "topbar.html" %}
    <div id="formplayer">
        <iframe id="touchforms" src="{{ touchforms }}">
        </iframe>
    </div>
</body>
{% endblock %}
