{% load i18n %}

<table class="pretty padded fullw">
  <thead>
    <tr>
      <th>{% trans "Downloadable by Phone" %}</th>
      <th>{% trans "Form ID" %}</th>
      <th>{% trans "Number of Submissions" %}</th>
      <th>{% trans "Time of Last Submission" %}</th>
      <th>{% trans "CSV" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for xform in xforms %}
    <tr>
      <td>
	<a href={% url "odk_logger.views.toggle_downloadable" id_string=xform.id_string %} class="delete">
	  {% if xform.downloadable %}
	  [ {% trans 'yes' %} ]
	  {% else %}
	  [ {% trans 'no' %} ]
	  {% endif %}
	</a>
      </td>
      <td>{{ xform.id_string }}</td>
      <td>{{ xform.submission_count }}</td>
      <td>
	{% if xform.time_of_last_submission %}
	{{ xform.time_of_last_submission }}
	{% endif %}
      </td>
      <td><a href="#" class="button">{% trans "Download CSV" %}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
<!--
	$('tr span.downloadable.true').each(function(){$(this).parents('tr').find('td').css({'font-weight':'bold'})})
-->
</script>
