{% extends 'base.html' %}

{% block content %}
  <section id="profile">
    <div class="page-header">
      <img src='{{ content_user_gravatar_img_link }}' alt='gravatar' width='40' height='40' style='float:left; padding-right:10px;' />
      <h1>
        {{ content_user.username }}
        <span style='color:#DDD; font-weight:100'>&nbsp;/&nbsp;</span>
        {{ xform.id_string }}
      </h1>
    </div>
    <div class="row">
      <div class="span10">
    {% if location  %}
        <p>Location: {{ location }}</p>
    {% endif %}
    {% if profile.home_page %}
        <p>Website: <a href="{{ profile.home_page }}">{{ profile.home_page }}</a></p>
    {% endif %}
    {% if profile.twitter %}
        <p>Twitter: <a href="http://www.twitter.com/{{ profile.twitter }}">@{{ profile.twitter }}</a></p>
    {% endif %}
        <p>Member since: {{ content_user.date_joined|date:"F j, Y" }}</p>
      </div>
    </div> 
    <hr>
    <div class="row">
      <div class="span16">
        <h3>Description: {{ xform.id_string }}</h3>
        <a href="{% url download_xform content_user.username xform.id_string %}">
            <button class="btn small success">form.xls</button>
        </a>
    <hr>
    <h3>Data
    {% if xform.shared_data %}
        <span class="label notice">PUBLIC</span>
    </h3>
        <ul>
            <li>
                <a href="{% url odk_viewer.views.csv_export content_user.username xform.id_string %}">
                    <button class="btn small">csv</button>
                </a>
            </li>
            <li>
                <a href="{% url odk_viewer.views.xls_export content_user.username xform.id_string %}">
                    <button class="btn small">xls</button>
                </a>
            </li>
            <li>
                <a href="{% url odk_viewer.views.map xform.id_string %}">
                    <button class="btn small info">Map &raquo;</button>
                </a>
            </li>
        </ul>
    {% else %}
        <span class="label warning">PRIVATE</span>
    </h3>
    {% endif %}
    </div> 
  </section>
{% endblock %}
  
