<p>Your submission was successful!</p>
{% if show_options %}
    <ul>
        <li><a class="webform-link" href="http://{{ domain }}{% url main.views.show username id_string %}">Return to the form page</a></li>
        <li><a class="webform-link" href="http://{{ domain }}{% url odk_logger.views.enter_data username id_string %}">Fill the form out again</a></li>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> 
    <script type="text/javascript">
        $('a.webform-link').click(function() {
            top.location = $(this).attr('href');
            return false;
        });
    </script>
{% endif %}
