# postgres
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'aklogbook',
        'USER': 'aklogbook',
        'PASSWORD': '',
    }
}

ENKETO_URL = 'http://enketo/' # TODO
ENKETO_API_INSTANCE_IFRAME_URL = "https://enketo/api_v1/instance/iframe"
ENKETO_API_TOKEN = "abcde"

MONGO_DATABASE = {
    'HOST': 'localhost',
    'PORT': 27017,
    'NAME': 'aklogbook',
    'USER': '',
    'PASSWORD': ''
}

# ------------------------------------------------------------------------------
# Email
# ------------------------------------------------------------------------------
EMAIL_HOST = 'mailserver.domain.com'
# EMAIL_PORT = ###
# EMAIL_USE_TLS = True
EMAIL_HOST_USER = 'email@domain.com'
DEFAULT_FROM_EMAIL = 'email@domain.com'
SERVER_EMAIL = 'email@domain.com'