{% extends "ui_base.html" %}
{% block head %}
{% endblock %}
{% block js %}

<script type="text/javascript" charset="utf-8">

var wrap = $('.mode-demo');

var rows = 'lga facility'.split(' ');
var cols = 'health education'.split(' ');

function selectRow(i){
	wrap.find('tr').removeClass('selected');
	wrap.find('tr:nth-child('+(i+1)+')').addClass('selected');
}
function selectColumn(i) {
	wrap.find('td').removeClass('selected');
	wrap.find('td:nth-child('+(i+1)+')').addClass('selected');
}

function selectViewMode(v) {
	var ri = rows.indexOf(v);
	if(~ri) { return selectRow(ri); }
}
function selectSector(v) {
	var ri = cols.indexOf(v);
	if(~ri) { return selectColumn(ri); }
}

$(function(){
	selectViewMode('lga');
	selectSector('health');
});

</script>
{% endblock %}
{% block content %}
<table class="mode-demo">
	<tr class="lga">
		<td class="health">
			LGA &raquo; Health
		</td>
		<td class="education">
			LGA &raquo; Education
		</td>
	</tr>
	<tr class="facility">
		<td class="health">
			Facility &raquo; Health
		</td>
		<td class="education">
			Facility &raquo; Education
		</td>
	</tr>
</table>
<style>
table.mode-demo td {
	display: none;
}
table.mode-demo tr.selected td.selected {
	display: table-cell;
}
	a.mode-button {
		display: block;
		background-color: #fafafa;
		padding: 8px 12px;
	}
	a.mode-button.active {
		background-color: #aaa;
		font-weight: bold;
	}
	#nav-wrap {
		width: 25%;
		float: left;
	}
	#right-wrap {
		width: 60%;
		float: left;
	}

</style>
<div id="nav-wrap">
<div id="view-modes">
	<h1>
		View Modes
	</h1>
	<ul>
		<li>
			<a href="/modes/view/lga" data-view-mode="lga" class="mode-button -view-mode">LGA view</a>
		</li>
		<li>
			<a href="/modes/view/facility" data-view-mode="facility" class="mode-button -view-mode">Facility view</a>
		</li>
	</ul>
</div>
<div id="sectors">
	<h1>
		Sectors
	</h1>
	<ul>
		<li>
			<a href="/modes/" data-sector="overview" class="mode-button -sector-mode">Overview</a>
		</li>
		<li>
			<a href="/modes/sector/education" data-sector="education" class="mode-button -sector-mode">Education</a>
		</li>
		<li>
			<a href="/modes/sector/water" data-sector="water" class="mode-button -sector-mode">Water</a>
		</li>
		<li>
			<a href="/modes/sector/health" data-sector="health" class="mode-button -sector-mode">Health</a>
		</li>
	</ul>
</div>
</div>
<div id="right-wrap">
	<div id="states">
		<table>
			<tbody>
				<tr>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="icons">
		<h2>
			Icons
		</h2>
		<p>
			
		</p>
	</div>
	<div class="bottom-box">
		<h2>
			Bottom box
		</h2>
		<p>
			
		</p>
	</div>
</div>
{% endblock %}
