{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/qunit.css" type="text/css" media="all" charset="utf-8">
{% endblock %}
{% block js %}
<script src="/static/js/application.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/libs/OpenLayers.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/libs/wax.ol.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/libs/qunit.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	var map,
		$map = $('#map');

	test("map is created", function(){
		(function createMap(){
			var options = {
				projection: new OpenLayers.Projection("EPSG:900913"),
	            displayProjection: new OpenLayers.Projection("EPSG:4326"),
	            units: "m",
	            maxResolution: 156543.0339,
	            restrictedExtent: new OpenLayers.Bounds(-4783.9396188051, 463514.13943762, 1707405.4936624, 1625356.9691642),
	 			maxExtent: new OpenLayers.Bounds(-20037500, -20037500, 20037500, 20037500)
			};
			OpenLayers.IMAGE_RELOAD_ATTEMPTS = 3;
	        OpenLayers.ImgPath = "/static/openlayers/default/img/";
			OpenLayers._getScriptLocation = function(){ return "/static/ol_lib/"; }
			map = new OpenLayers.Map('map', options);

			var mapLayerArray = [];
			var ml = new OpenLayers.Layer.TMS("Nigeria", ["http://tilestream.openmangrove.org:8888/"],
	            			{ layername: "nigeria_base", 'type': 'png' });
			var ll = {
				"lon":1174792.2806667,"lat":860375.19022312,
				"zoom": 8
				};
		    map.addLayers([ml]);
			map.addControl(new OpenLayers.Control.LayerSwitcher());
			map.setBaseLayer(ml);
			var llz = new OpenLayers.LonLat(ll.lon, ll.lat);
			map.setCenter(llz, ll.zoom);
		})();
		var waxPopupData = [];
		var wax1, wax2;
		(function addWaxLayer(){
			wax1 = new wax.ol.Interaction({
	            tilejson: '1.0.0',
	            scheme: 'tms',
	            callbacks: new wax.tooltip(),
	            tiles: ["http://tilestream.openmangrove.org:8888/1.0.0/nga_primary_enrollment/{z}/{x}/{y}.png"],
	            grids: ["http://tilestream.openmangrove.org:8888/1.0.0/nga_primary_enrollment/{z}/{x}/{y}.grid.json"],
	            formatter: function(options, data) {
					waxPopupData.push(data);
				//	log(JSON.stringify(data));
	                return JSON.stringify(data);
	                }
	            });
			wax2 = new wax.ol.Interaction({
	            tilejson: '1.0.0',
	            scheme: 'tms',
	            callbacks: new wax.tooltip(),
	            tiles: ["http://tilestream.openmangrove.org:8888/1.0.0/nga_pct_no_bednet_malmeds_oneweek/{z}/{x}/{y}.png"],
	            grids: ["http://tilestream.openmangrove.org:8888/1.0.0/nga_pct_no_bednet_malmeds_oneweek/{z}/{x}/{y}.grid.json"],
	            formatter: function(options, data) {
					waxPopupData.push(data);
				//	log(JSON.stringify(data));
	                return JSON.stringify(data);
	                }
	            });
		})();
		(function(buttons){
			$(buttons).each(function(i, bs){
				$('<a />')
					.attr('href', '#')
					.text(bs[0])
					.click(function(evt){
						map.removeControl(activeWax);
						map.addControl(bs[1]);
						activeWax = bs[1];
						evt.preventDefault();
					})
					.appendTo($('.content-inner-wrap'));
			});
		})([
			["Wax 1", wax1],
			["Wax 2", wax2]
			]);
		map.addControl(wax1);
		var imUrl = "http://tilestream.openmangrove.org:8888/1.0.0/nigeria_base/8/135/133.png";
		
		var mapDiv = OpenLayers.Util.getElement('map');
        var obj = {result: 0};
        var eventTypes = ["doThingA", "doThingB", "doThingC"];
		var name = "mouseover";
        var func = function() {};
        OpenLayers.Event.observe($map.get(0), "mouseover", function(){log("MOUSEOVER!", this, arguments);});
        
		events = new OpenLayers.Events(obj, $map.get(0), ["mouseover"]);
		
		var evt = {
            id: Math.random(),
            "foo": "bar"
        };
        events.triggerEvent("mouseover", evt);
		
		events.triggerEvent("mouseover", {});
//		var func = function () { this.result++ }
//        events.register( "doThingA", obj, func );
        
        
//        events = new OpenLayers.Events(obj, mapDiv, eventTypes);
		//equal(wax1.gm.getGrid(imUrl), "x")
		map.removeControl(wax1);
		map.addControl(wax2);
		var activeWax =  wax1;
		ok(map !== undefined, "Map is not undefined");
		var im = $map.find('img').filter(function(){ return this.src == imUrl; });
		equal(map.controls.length, 6, "asdf");
		ok(im.length == 1, "One image matching the imUrl exists");
		//debugger;
		ok(waxPopupData.length == 0, "No popup data has been added yet");
		_im = im;
//		im.trigger('mouseover');
		ok(waxPopupData.length == 1, "After hover, map popup data is good.");
	});
</script>
{% endblock %}
{% block content %}
<div id="map" style="border:1px solid blue;width:256px;height:256px;">
</div>
<h1 id="qunit-header">QUnit Testing of NMIS Map</h1>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">test markup</div>
{% endblock %}