{% extends "ui_base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/widget-wrap.css" type="text/css" media="all" charset="utf-8">
<style type="text/css" media="screen">
	.content-inner-wrap {
		position: relative;
	}
	.resizing-map {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 10;
	}
	.overmap-content {
		z-index: 11;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
</style>
{% endblock %}
{% block content %}
<div class='content-inner-wrap'>
<div class='overmap-content'>
<script type="text/javascript" charset="utf-8">
<!--
//add widget callbacks to this array
var _widgetCallbacks = [];
function widget(cb) { _widgetCallbacks.push(cb); }
-->
</script>
{% include 'widget_includes.html' %}
</div>
<div id="map" class="resizing-map"></div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/launch-open-layers.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
<!--
var defaultSectorSlug = 'health';
var facilityDataLoaded = function(){};

var selectedSector, selectedFacility, selectedColumn;
(function(){
		facilityDataLoaded = function(){
			$('body').bind('facility-select', function(evt, edata){
				var facility = facilityData.list[edata.uid];
				if(facility === selectedFacility) {
					return false;
				}

				selectedFacility === undefined || $('body').trigger('facility-unselect', {uid: selectedFacility.uid});
				selectedFacility = facility;


				//scrolls to row by default (?)
				if (edata.scrollToRow === undefined) { edata.scrollToRow = true; }

				edata.scrollToRow && (function scrollToTheFacilitysTr(){
					if(facility.tr!==undefined) {
						var ourTr = $(facility.tr);
						var offsetTop = ourTr.offset().top - ourTr.parents('table').eq(0).offset().top
						var tabPanel = ourTr.parents('.ui-tabs-panel');
						tabPanel.scrollTo(offsetTop, 500, {
							axis: 'y'
						});
					}
				})()

				$.each(facilityData.list, function(i, fdp){
					fdp.mrkr === undefined || $(fdp.mrkr.icon.imageDiv).hide();
				});
				$(facility.mrkr.icon.imageDiv).show();

				var popup = $("<div />");
				var sector = $(facilitySectors).filter(function(){return this.slug==facility.sector}).get(0);
				(function buildDefinitionList(){
					var tab = $("<table />").css({
						'width': 400
					});
					var imgFullUrl = ("http://nmis.mvpafrica.org/site-media/attachments/" + facility.img_id).toLowerCase();
					var imgLink = $("<a />", {'href':imgFullUrl, 'target': '_BLANK'}).html($("<img />", {src: imgFullUrl}).css({'width': 90}));
					popup.prepend(imgLink);

					$(sector.columns).each(function(i, col){
						var tr = $("<tr />");
						var colSlug = col.slug;
						var colName = col.name;
						tr.append($("<td />").text(colName))
						tr.append($("<td />").text(facility[colSlug]))
						tab.append(tr);
					});
					popup.append(tab);
				})();

				popup.dialog({
					height: 275,
					width: 520,
					close: function(){
						$('body').trigger('facility-unselect');
					}
				});
			});
			$('body').bind('facility-unselect', function(evt, edata){
				$('.ui-dialog').remove();
				selectedSector === undefined || (typeof(filterPointsBySector)!=='function') ||filterPointsBySector(selectedSector);
				$('.selected-facility').removeClass('selected-facility');
				selectedFacility = undefined;
			});
//			$('body').bind('facility-mouseover', function(evt, edata){var facility = facilityData.list[edata.uid];});
//			$('body').bind('facility-mouseout', function(evt, edata){var facility = facilityData.list[edata.uid];});
			$('body').bind('sector-change', function(evt, edata){
				$('body').trigger('facility-unselect');
				if(selectedSector !== edata.sector) {
					selectedSector = edata.sector;
					ftabs.tabs('select', facilitySectorSlugs.indexOf(selectedSector));
					(typeof(filterPointsBySector)==='function') && filterPointsBySector(selectedSector);
				}
			});

			$('body').bind('column-select', function(evt, edata){
				var wrapElement = $('#lga-facilities-table');
				var column = edata.column;
				var sector = edata.sector;
				if(selectedColumn!==edata.column) {
					$('body').trigger('column-unselect', {column:selectedColumn});
					if(column.description !== undefined && column.description !== null) {
						$('.selected-column', wrapElement).removeClass('selected-column');
						(function highlightTheColumn(columnIndex){
							var table = $('table.facility-list');
							table.find('tr').each(function(){
								$(this).find('td').eq(columnIndex).addClass('selected-column');
							})
						})(column.thIndex);

						buildColumnDescriptionBox(edata.column);
						$('#column-description').show();
					}
					selectedColumn = edata.column;
				}
			});
			$('body').bind('column-unselect', function(evt, edata){
				$('#column-description').hide();
			})
			// actions to be taken for the facility navigation table and image stuff.
			$('body').bind('facility-select', function(evt, edata){
				var facility = facilityData.list[edata.uid];
				facility.tr === undefined || $(facility.tr).addClass('selected-facility');
			});

			var facilityTableWrap = $('#lga-facilities-table').html($('<div />', {'id': 'facility-tabs'}).html($('<ul />'))).append($('<div />', {'id':'image-nav'}));
			var ftabs = $('div#facility-tabs', facilityTableWrap).css({'padding-bottom':18});
			var ftabUl = $('ul', ftabs);
			var imageNavigation = $('div#image-nav', facilityTableWrap);

			$.each(facilitySectors, function(i, sector){
				var li = $("<li />");
				var fdata = facilityData.bySector[sector.slug] || facilityData.bySector[sector.name];
				var sectorCount = $("<span />", {'class':'sector-count '+sector.slug});
				if(fdata instanceof Array && fdata.length > 0) {
					sectorCount.text(" ("+fdata.length+")")
				}
				li.append($("<a />", {'href':'#facilities-'+sector.slug}).text(sector.name).append(sectorCount));
				ftabUl.append(li);
				ftabs.append(createTableForSectorWithData(sector, facilityData));
			});

			ftabs.tabs({select: function(evt, ui){
				$(evt.target).trigger('sector-change', {sector: $(ui.panel).data('sector-slug')})
			}});

			$(facilityTableWrap).trigger('sector-change', {sector: defaultSectorSlug});

			(function deleteThisWhenYouWantToDoItProperly(){
				var stColors = {
		  			'facilities-water': "blue",
		  			'facilities-health': "red",
		  			'facilities-agriculture': "orange",
		  			lga: "purple",
		  			'facilities-education': "green",
		  			defaultColor: "pink"
		  		};
				$('.ui-tabs-nav', ftabs).find('li a').each(function(){
					var colorSlug = this.hash.replace("#", "");
					var flagColor = stColors[colorSlug];
					var flagUrl = "/static/images/geosilk/flag_"+flagColor+".png"
					$(this).prepend($("<img />", {src: flagUrl, 'class': 'flag'}));
				})
			})();
			$('#lga-facilities-wrap').height($(window).height()-160);
			ftabs.height(220);
			ftabs.find('.ui-tabs-panel').css({'overflow':'auto','height':'75%'})
			facilityTableWrap.addClass('ready');
//			loadMap(facilityData);
		}
		
		function createTableForSectorWithData(sector, data){
			var div = $("<div />", {id: 'facilities-'+sector.slug}).text(sector.name).data('sector-slug', sector.slug);
			var table = $('<table />', {'class':'facility-list'});
			var thRow = $("<tr />");
			table.append($("<thead />").html(thRow));
			var sectorData  = data.bySector[sector.slug] || data.bySector[sector.name];
			if(sector.columns!==undefined && sector.columns.length>0 && sectorData!==undefined && sectorData.length>0) {
				$.each(sector.columns, function(i, col){
					var th = $("<th />", {'class':'col-'+col.slug}).text(col.name);
					col.thIndex = i;
					th.click(function(){
						$('body').trigger('column-select', {
							sector: sector,
							column: col
						});
					});
					thRow.append(th)
					});
				var tbod = $("<tbody />");
				$.each(sectorData, function(i, fUid){
					tbod.append(createRowForFacilityWithColumns(data.list[fUid], sector.columns))
				})
				table.append(tbod);
			}
			return div.html(table);
		}
		function createRowForFacilityWithColumns(fpoint, cols){
			var tr = $("<tr />");
			$.each(cols, function(i, col){
				var colSlug = col.slug;
				var value = fpoint[colSlug];
				if(value===undefined) { value = '—'; }
				tr.append($("<td />", {'class':'col-'+colSlug}).text(value));
				tr.data('facility-uid', fpoint.uid);
			});
			tr.click(function(){$(this).trigger('facility-select', {
				'uid': fpoint.uid,
				'scrollToRow': false
			})});
			tr.mouseover(function(){$(this).trigger('facility-mouseover', {uid: fpoint.uid})})
			tr.mouseout(function(){$(this).trigger('facility-mouseout', {uid: fpoint.uid})})
			fpoint.tr = tr.get(0);
			return tr;
		}
		
})()
/*

widgets.push(function(){

	
	function populateImageDivForSector(s) {
		var sector = $(facilitySectors).filter(function(){
			if(this.slug===s) {return true;} else {return false;}
		}).get(0);
		
		var naviWrap = $("<div />", {'class':'image-iwrap'});
		imageNavigation.html(naviWrap);
		var ulList = $("<ul />");

		var tt = $("<h4 />").text("Photos for " + sector.name);
		
		var facilities = $.map(facilityData.bySector[sector.slug], function(uid, i){return facilityData.list[uid];})
		
		$(facilities).each(function(i, facility){
            var t = facility.image_id;
			var thumbnailUrl = '/pictures/fwd/'+t+'/140x140';
			var biggerImage = '/pictures/fwd/'+t+'/raw';
			var im = $("<img />", {'src':thumbnailUrl});
			var li = $("<li />", {'class':'img-wrap'}).html(im);
			li.click(function(){
				$('.ui-dialog').remove();
				var pu = $("<div />");
				pu.html($("<img />", {'src':biggerImage}));
				pu.dialog();
			})
			ulList.append(li);
		});
		naviWrap.append(ulList);
		var tot = 0;
		$('li', ulList).each(function(){
			tot += $(this).width();
		});
	}
});
*/

var facilityDataStuff = (function(){
	var printDebugStats = true;
	function warn() {
		if(console !== undefined && console.warn !== undefined) {
			console.warn(arguments); throw(arguments[0]);
		}
	}
	function log() {
		if(console !== undefined && console.log !== undefined) {
			console.log(arguments);
		}
	}
	function happy() {console.log(arguments);}
	function processPassedData(passedData){
		var data, sectors, noLatLngs=0;
		facilitySectorSlugs = [];
		
		passedData === undefined && warn("No data was passed to the page", passedData);
		if(!passedData.sectors || !passedData.sectors.length) {
			warn("data must have 'sectors' list.")
		}
		(function validateSectors(s){
			$(s).each(function(){
				this.name === undefined && warn("Each sector needs a name.", this);
				this.slug === undefined && warn("Each sector needs a slug.", this);
				this.columns instanceof Array || warn("Sector columns must be an array.", this);
				
				(this.slug in facilitySectorSlugs) && warn("Slugs must not be used twice", this);
				facilitySectorSlugs.push(this.slug);
				
				$(this.columns).each(function(i, val){
					var name = val.name;
					var slug = val.slug;
					
					name === undefined && warn("Each column needs a slug", this);
					slug === undefined && warn("Each column needs a name", this);
				});
			});
			sectors = s;
		})(passedData.sectors)
		passedData.data === undefined && warn("Data must be defined", this);
		
		(function validateData(d) {
			d.length === undefined && warn("Data must be an array", this);
			
			$(d).each(function(i, row){
				this.sector === undefined && warn("Each row must have a sector", this);
				if(this.latlng === undefined) {
					//some points don't have latlngs but should show up in tables.
					noLatLngs++;
				} else {
					(this.latlng instanceof Array) || warn("LatLng must be an array", this);
					(this.latlng.length === 2) || warn("Latlng must have length of 2", this);
					
				}
				
				(!!~facilitySectorSlugs.indexOf(this.sector.toLowerCase())) || warn("Sector must be in the list of sector slugs:", {
					sector: this.sector,
					sectorSlugs: facilitySectorSlugs,
					row: this
				});
			});
		})(passedData.data);
		
		(function processData(rawData){
			var uidCounter = 0;
			var list = {};
			var groupedList = {};
			var sectorNames = [];
			$.each(rawData, function(i, pt){
				if(pt.uid===undefined) { pt.uid = 'uid'+i; }
				pt.sector = pt.sector.toLowerCase();
				if(!~sectorNames.indexOf(pt.sector)) {
					sectorNames.push(pt.sector);
					groupedList[pt.sector] = [];
				}
				groupedList[pt.sector].push(pt.uid);
				list[pt.uid]=pt;
			});
			data = {
				bySector: groupedList, //sector-grouped list of IDs, for the time being
				list: list //the full list (this is actually an object where the keys are the unique IDs.)
			};
		})(passedData.data);
		
		printDebugStats && (function printTheDebugStats(){
			log("" + sectors.length + " sectors were loaded.");
			var placedPoints = 0;
			$(sectors).each(function(){
				if(data.bySector[this.slug] === undefined) {
					log("!->: No data loaded for "+this.name);
				} else {
					var ct = data.bySector[this.slug].length;
					placedPoints += ct;
					log("   : "+this.slug+" has "+ct+" items.", this);
				}
			});
			log(noLatLngs + " points had no coordinates")
		})();
		
		window.facilityData = data;
		window.facilitySectors = sectors;
	}
	return processPassedData;
})()

$('.content-inner-wrap').css({'padding':0})
var pageRootUrl = "/ui/";
$(function(evt){
	var env = {
		launchers: {},
		callbacks: {},
		addCallback: function(k, fn){
			if(this.callbacks[k]===undefined) {this.callbacks[k]=[]}
			this.callbacks[k].push(fn);
		}
	};
	
	function buildFacilityDataTable(data, sectors){
		facilityDataLoaded()
	}
	
	(function setModeBinders(body){
		var mode;
		body.bind('mode-change', function(evt, data){
			if(mode !== data.mode) {
				mode = data.mode;
//				console.log("Changing mode to "+data.mode);
			}
			var fv1 = $.getJSON('/facilities/site/zurmi');
			var fvDefs = $.getJSON('/facility_variables');
			$.when(fv1, fvDefs).done(function(lgaRequest, varDataReq){
				var facilityData = lgaRequest[0];
				var variableDefs = varDataReq[0].sectors;
				var facilityDataARr = [];
				$.each(facilityData, function(k, v){
					v.uid = k;
					facilityDataARr.push(v);
				});
				facilityDataStuff({sectors: variableDefs, data: facilityDataARr});
				if(facilityData!==undefined && facilitySectors!==undefined) {
					buildFacilityDataTable(facilityData, facilitySectors);
				}
			});
			// launchOpenLayers(function(){
			// 	console.log("HERE!!", this.map)
			// });
		})
	})($('body'));
	
	$(_widgetCallbacks).each(function(i, w){
		w.call(env);
	});
	function setPageMode(t) {$('body').trigger('mode-change', {mode: t});}
	var dashboard = $.sammy(function(){
		this.get(pageRootUrl, function(){
			setPageMode("country");
		});
		this.get(pageRootUrl + "lga/", function(){
			setPageMode("lga");
		});
	});
	//do we want this in the global scope?
	window._dashboard = dashboard;
	dashboard.run();
	function runCallbacksOn(cbs, obj) {$(cbs).each(function(i, cb){cb.call(obj)})}
	function launchMap(cbArr) {
		var map = {};
		//load map...
		runCallbacksOn(env.callbacks.map, map);
	}
	if(env.launchers.map) {
		launchMap();
	}
});

var SetResizer = (function($, resizeSelector, excludeSelector, extraPadding){
	var resizeElem = $(resizeSelector),
		excludeElem = $(excludeSelector);

	function ResizePage(){
		var windowHeight = $(window).height(),
			totalHeight = windowHeight - extraPadding;

		excludeElem.each(function(){totalHeight -= $(this).height();});
		resizeElem.css({'height':totalHeight})
	}
	$(window).resize(ResizePage);

	$(function(){
		resizeElem.css({'overflow':'auto'});
		$(document.body).css({'overflow':'hidden'})
		$(window).trigger('resize')
	});
});
(function($){
	$.fn.thinButton = function(){
		this.button();
		$('span.ui-button-text', this).css({'padding':'1px 5px'});
		return this;
	}
})(jQuery);
SetResizer(jQuery, ".content-inner-wrap", "#header, #menu", 15);
-->
</script>
{% endblock %}