{% extends "base.html" %}
{% block head %}
<style type="text/css" media="screen">
</style>
<link rel="stylesheet" href="/static/openlayers/default/style.css" type="text/css" media="all" charset="utf-8">
{% endblock %}

{% block lga_nav %}
			<form action="/~/" method="POST">
			<div class="lga-nav">
					<select id="lga-select" name="lga" style="width:280px;" title="Select an LGA">
						<!-- <option></option> -->
						{% for statename, lgas in active_districts %}
						<optgroup label="{{statename}}">
							{% for lganame, lgaid in lgas %}
								<option value="{{lgaid}}">{{lganame}}</option>
							{% endfor %}
						</optgroup>
						{% endfor %}
					</select>
					<script type="text/javascript" charset="utf-8">
						var lgaId = (function(_){return _})({{lga_id|safe}});
					</script>
					  {% csrf_token %}
					<input type="submit" value="GO">
			</div>
<!--			<div class="load-options">
				<input type="checkbox" id="load-map" name="load-map" />
				<label for="load-map">Load Map</label>
			</div> -->
			</form>
{% endblock %}

{% block content %}
<script type="text/html" id="map-bar-template">
	<div class="map-key-ww">
		<div class="map-key-w">
			<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix" id="m-key">
				<table>
					<tbody>
						<tr></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</script>
	<div class="widget-outer-wrap" style="bottom:0">
		<div class="fullw-widget">
			<div id="lga-widget-wrap"></div>
		</div>
	</div>
	<div id="map" class="resizing-map"></div>
	<div id="zone-navigation">
		{% for zone in nav_zones %}
		<div class="zl-wrap">
			<div class="zone-list">
				<h2 class="zone-title">
					{{zone.name}}
				</h2>
				<ul>
					{% for state in zone.states %}
					<li>
						<a href="#" class="state-link" data-lga-count="{{state.lga_count}}">
							{{state.name}}
						</a>
						<ul class="lga-list">
							{% for lga in state.lgas %}
							<li>
								<a href="/~{{lga.unique_slug}}">
									{{lga.name}}
								</a>
							</li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endfor %}
		<div class="clearfix" style="clear:both;">
		</div>
	</div>
{% endblock %}
{% block js %}
<script src="/static/js/application.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/launch-open-layers.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
<!--

var debugMode = false;

var pageRootUrl = "/~";

var defaultMode = {
	sector: 'overview',
	level: 'lga'
};

var loadMap = true;
//var loadMap = $("input#load-map").attr('checked');

-->
</script>
<script src="/static/js/lga-dashboard.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
<!--

//layer data is pulled from the database now.
var layerData = (function(_){return _})({{layer_details|safe}});

$('.content-inner-wrap').css({'padding':0});


var mapBar = (function(){
	var _placed = false;
	var _elem;
	var defaultOpts = {
		'leftButtons': [
			['Profile', 'profile']
		],
		'preSectorButtons': [
			['Overview', 'overview']
		],
		'sectorButtons': [
			['Health', 'health'],
			['Water', 'water'],
			['Education', 'education']
		],
		'viewLevels': [
			['LGA level', 'lga'],
			['Facility level', 'facility']
		],
		reset: true
	};
	return function getMapBar(_opts){
		var opts = $.extend(defaultOpts, _opts);
		if(!_placed) {
			_elem = $($('#map-bar-template').html());
			$('.content-inner-wrap').prepend(_elem);
			_placed = true;
		}
		var tr = _elem.find('tr').detach();
		opts.reset && tr.empty();

		(function(){
			var viewLevelTd = $('<td />').appendTo(tr);
			$.each(opts.viewLevels, function(i, button){
				$('<a />', {'href':'#', 'class':'viewLevelButton'})
					.text(button[0])
					.appendTo(viewLevelTd)
					.addClass('view-mode-'+button[1])
					.addClass('view-mode-button')
					.data('viewLevel', button[1])
					.click(function(){
						setViewMode($(this).data('viewLevel'));
					});
			});
		})();

		(function(){
			var sectorTd = $('<td />');
			if(!!opts.preSectorButtons && opts.preSectorButtons.length > 0) {
				$.each(opts.preSectorButtons, function(i, button){
					$('<a />', {'href': '#', 'class': 'preSectorButton'})
						.text(button[0])
						.addClass('sector-'+button[1])
						.addClass('sector-button')
						.data('sectorSlug', button[1])
						.appendTo(sectorTd);
				});
				sectorTd.append($('<span />', {'class':'spacer'}))
			}
			$.each(opts.sectorButtons, function(i, button){
				$('<a />', {'href': '#', 'class': 'sectorButton'})
						.text(button[0])
						.addClass('sector-'+button[1])
						.addClass('sector-button')
						.appendTo(sectorTd)
						.data('sectorSlug', button[1]);
			});
			sectorTd.delegate('a', 'click', function(){
				var ss =  $(this).data('sectorSlug');
				ss !== undefined && setSector(ss);
			});
			sectorTd.appendTo(tr);
		})();

		var leftButtons = $('<td />').prependTo(tr);
		$.each(opts.leftButtons, function(i, b){
			var text = b[0];
			var clickSlug = b[1];
			$('<a />', {'href':'#'})
				.addClass('profile-toggle')
				.text(b[0])
				.click(function(){
					var pdw = $('.profile-data-wrap');
					pdw.width(pdw.width());
					var pdw = $('.profile-data-wrap').toggleClass('hidden');
					if(!pdw.hasClass('hidden')) {
						$(this).addClass('active-button');
					} else {
						$(this).removeClass('active-button');
					}
				})
				.appendTo(leftButtons);
		});
		_elem.find('tbody').html(tr);
		return {
			elem: _elem
		};
	}
})();

// var tmpLegendData = {};
// $.getJSON('/static/tmp_legend_data.json').done(function(d, req){ tmpLegendData = d; });
// 
var modes = {
	home: {
		enter: function(){
			$('.widget-outer-wrap').hide()
			$('.fwidth').width(1100)
			$('#zone-navigation').show();
		},
		leave: function() {
			$('.widget-outer-wrap').show();
			$('.fwidth').width('auto');
		}
	},
	lga: {
		enter: function (){
			$('.profile-data-wrap').show();
			$('#zone-navigation').hide();
			// SetResizer is defiend in application.js
			//   its purpose is to trigger "full-height" whenever the page is resized.
			//   it has some weird side-effects on mobile browsers.
			SetResizer(jQuery, ".content-inner-wrap", "#header, #menu", 15);
			var mb = mapBar()
					.elem.show();
//					.find('tr').append($('<td />').html($('<a />', {'href':'#'}).text("hi").click(function(){console.log(this); return false;})));
		},
		leave: function(){
			$('.profile-data-wrap').hide();
			mapBar().elem.hide();
		}
	}
};

var currentMode;
function setMode(mode) {
	if(currentMode==mode) { return; }
	currentMode!==undefined && modes[currentMode].leave
					.apply(this, [].concat(arguments));
	currentMode = mode;
	modes[currentMode].enter.apply(this, [].concat(arguments))
}

//a temporary link back to the home page.
descriptionClick($('<a />', {'href':'/~'})
	.addClass('home-link')
	.addClass('hover-unhide')
	.text('*')
	.css({
		position: 'absolute',
		top: 5,
		left: 5,
		color: '#fff',
		textDecoration: 'none'
	})
	.appendTo('#header'));

$(function(){
	var dashboard = $.sammy(function(){
		function createTitleForLga(state, lga) {
			return $("<span />").text("LGA: ")
				.append($("<span />", {'class': 'state-name'}).text(state))
				.append($("<span />").text(' » '))
				.append($("<span />", {'class': 'lga-name'}).text(lga));
		}
		
		//preparing the list of layers for "launchOpenLayers"
		var _layerIdsAndNames = $.map(layerData, function(layer, i){
			return [[layer.name, layer.slug, layer.level_key, layer.indicator_key]]
		});
		var layerIdsAndNames = [["Nigeria", "nigeria_base"]].concat(_layerIdsAndNames);
		this.get(pageRootUrl, function(){
			$('#map').css({
				'height': '476px',
				'position': 'static'
			});
			setMode('home');
			setTitle($("<span />", {'text': 'Home'}));
			$('<div />')
				.addClass('home-map')
				.appendTo('#map')
				.width(680)
				.height(476)
				.css({'position':'absolute'})
			var mapNavWrap = $('<div />')
				.addClass('home-map-nav')
				.appendTo('#map')
				.height(476)
				.css({
					'border': '1px solid #bbb',
					'padding-left': '685px'
				});
			(function activateNavigation(){
					var nav = $('#zone-navigation');
					if(!nav.hasClass('activated')) {
						nav.delegate('.lga-list a', 'click', function(){
							//sammy is not being friendly right now, so I'm going around it.
							window.location = this.href;
							return false;
						});
						nav.delegate('a.state-link', 'click', function(){
							var ul = $(this).parents('li')
									.eq(0)
									.find('ul');
							if(ul.hasClass('showing')) {
								nav.find('.showing').removeClass('showing');
							} else {
								nav.find('.showing').removeClass('showing');
								ul.addClass('showing')
							}
						});
						nav.find('.state-link').each(function(){
							var lgaCount = $(this).data('lgaCount');
							if(lgaCount!==undefined) {
								$('<span />')
									.text(' ('+lgaCount+')')
									.addClass('lga-count')
									.addClass(lgaCount===0 ? 'zero' : undefined)
									.appendTo(this);
							}
						});
						nav.addClass('activated')
							.show();
					}
				})();
			$('<div />')
				.addClass('map-loading-message')
				.appendTo('#map')
				.hide();

			launchOpenLayers({
				defaultLayer: '',
				layers: layerIdsAndNames,
				loadingMessage: 'Please be patient while this map loads',
				loadingElem: '.map-loading-message',
				layerSwitcher: false,
				elem: '.home-map'
			})(function(){
				var n = {
					lat: 1044435.5543009,
					lon: 875770.62606869,
					z: 6
				};
				__map = this.map;
				this.map.setCenter(new OpenLayers.LonLat(n.lon, n.lat), n.z);
				var mlLegend = $('<div />')
							.addClass('mn-legend');
				var mn = $('<div />')
							.addClass('mn-iwrap');
				var mnw = $('<div />')
							.addClass('mn-iiwrap')
							.append(mn)
							.append(mlLegend)
							.appendTo(mapNavWrap);
				var layerNav = $('<div />')
						.addClass('layer-nav')
						.appendTo(mn);
				var mdgDisplay = $('<h3 />')
						.addClass('mdg-display')
						.appendTo(mn);
				var layerDescription = $('<div />')
						.addClass('layer-description')
						.appendTo(mn);
				var that = this;
				(function createLayerSwitcher(){
					var s = $('<select />')
								.attr('title', 'Please select an indicator map...')
								.append($('<option />'))
					var layerGroups = {};
					var ogs = [];
					$.each(layerData.sort(function(a,b){
						if(a.display_order===b.display_order) {return 0;}
						return a.display_order > b.display_order ? 1 : -1;
					}), function(){
						var ss = this.mdg;
						var dest = s;
						if(ss!==undefined && ss !== '' && ss !== null) {
							if(layerGroups[ss]===undefined) {
								var og = $('<optgroup />').attr('label', 'MDG '+ss);
								layerGroups[ss] = og;
								ogs.push(og);
							}
							dest = layerGroups[ss];
						}
						var o = $('<option />')
							.text(this.name)
							.attr('value', this.slug)
							.appendTo(dest);
					});
					$(ogs).each(function(){
						s.append(this);
					});
					
					s.change(function(){
						var layerId = $(this).val();
						var OLlayer = that.mapLayers[layerId];
						if(OLlayer!==undefined) {
							that.map.setBaseLayer(OLlayer);
						}
						var layerObj;
						$.each(layerData, function(){
							if(this.slug===layerId) {
								layerObj = this;
							}
						});
						if(!!layerObj) {
							if(!!layerObj.mdg) {
								var mdgT = mdgGoalText(+layerObj.mdg);
								mdgDisplay.html(mdgT);
							} else {
								mdgDisplay.empty();
							}
							//legendDataStr comes compacted into a string.
							var legendDataStr = layerObj.legend_data,
								legendData = [];
							if(!~['', undefined].indexOf(legendDataStr)) {
								$.each(legendDataStr.split(';'), function(i, x){
									if(x!=='') {
										x = x.split(',');
										legendData.push({
											value: x[0],
											opacity: x[1],
											color: x[2]
										});
									}
								});
								$('.mn-legend').addClass('open').html((function(){
									var tbody = $('<tbody />');
									$(legendData).each(function(i, lv){
										var tr = $('<tr />');
										var styl = { 'background-color': lv.color };
										if(lv.opacity !== undefined) { styl.opacity = lv.opacity; }
										var colorSpan = $('<span />')
												.addClass('color-span')
												.css(styl)
												.html("&nbsp;");
										tr.append($('<td />').html(colorSpan));
										tr.append($('<td />').html($('<p />').text(lv.value)));
										tbody.append(tr);
									});
									return $('<table />').html(tbody);
								})());
							} else {
								$('.mn-legend').removeClass('open').html('');
							}
							layerDescription.empty();
							var hideBox = true;
							var description = $('<p />')
								.appendTo(layerDescription);
							if(!!layerObj.description) {
								description.text(layerObj.description);
								hideBox = false;
							}
							if(!!layerObj.data_source) {
								hideBox = false;
								$('<span />')
									.text(' (' + layerObj.data_source + ')')
									.css({'font-style':'italic'})
									.appendTo(description);
							}
						}
						})
						.appendTo(layerNav);
					s.width('100%');
					s.chosen()
				})();
			});
		});
		this.get(pageRootUrl + ":lga", function(){
			var lgaId = this.params.lga;
			$('#zone-navigation').hide();
			setMode('lga');
			lga.loadData(lgaId, function(){
				this.buildTable = true;
				setTitle(createTitleForLga(this.stateName, this.lgaName));
				var curSector = $.cookie('sector') || defaultMode.sector,
					curLevel = $.cookie('level') || defaultMode.level;
				setSector(curSector);
				setViewMode(curLevel);
			});
		});
	});
	
	window._dashboard = dashboard;
	$(function(){
		dashboard.run();
	});
});

-->
</script>
{% endblock %}
