{% extends 'base.html' %}
{% block additional-headers %}
<link rel="stylesheet" href="/static/css/pivot.css" />
<link rel="stylesheet" href="/static/css/subnav.css" />
{% endblock %}

{% block content %}
    <div class="subnav">
      <ul class="nav nav-pills">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Filter Fields
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu stop-propagation" style="overflow:auto;max-height:450px;padding:10px;">
            <div id="filter-list"></div>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Display Fields
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu stop-propagation" style="overflow:auto;max-height:450px;padding:10px;">
            <div id="row-label-fields"></div>
          </ul>
        </li>
      </ul>
    </div>
    <hr/>
<span id="pivot-detail"></span>
<hr/>
<div id="results"></div>
<script type="text/javascript" src="/static/js/formManagers.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/pivot.js"></script>
<script type="text/javascript" src="/static/js/jquery_pivot.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">

var formJSONUrl = "{{ jsonform_url }}";
var mongoAPIUrl = "{{ mongo_api_url }}";
var formResponseMngr = new FormResponseManager(mongoAPIUrl, loadResponseDataCallback);
var formJSONMngr = new FormJSONManager(formJSONUrl, loadFormJSONCallback);

$(document).ready(function(){
    // prevent dropdown from closing after selection
    $('.stop-propagation').click(function(event){
        event.stopPropagation();
    });

    // load form
    formJSONMngr.loadFormJSON();
});

function loadFormJSONCallback()
{
    /// we have loaded the form, now load the data
    formResponseMngr.loadResponseData({});
}

function loadResponseDataCallback()
{
    var fields = formJSONMngr.getPivotJsFields();
    var rowLabels = formJSONMngr.getRowLabels();
    var data = formResponseMngr.getAsPivotJs(rowLabels);

    // format the data into pivots array array format
    $('#pivot-container').pivot_display('setup', {json: data, fields: fields, rowLabels: rowLabels, 'callbacks':{
        afterUpdateResults: function(){
            $('#results > table').dataTable({
                "sDom": "<'row'<'span6'l><'span6'f>>t<'row'<'span6'i><'span6'p>>",
                "iDisplayLength": 50,
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "sScrollX":"100%"
            });
        }
    }})
}
</script>
{% endblock %}
