{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section id="data-view">
        <div class="page-header">
            <h1>{%  trans "Data View" %} <small><a href="{% url "main.views.show" owner.username xform.id_string %}">{{ xform.title }}</a></small></h1>
        </div>
        <div class="row">
        <span class="span12">
            <div id="data-grid"></div>
            <div style="clear: both;"></div>
        </span>
        </div>
    </section>
{% endblock %}

{% block additional-headers %}
    <link rel="stylesheet" href="/static/recline/dist/recline.css" />
    <link rel="stylesheet" href="/static/recline/vendor/slickgrid/2.0.1/slick.grid.css" />
    <link rel="stylesheet" href="/static/js/datetimepicker/datepicker.css" />
    <style type="text/css">
        .recline-slickgrid {
            height: 700px;
        }
    </style>

{% endblock %}

{% block javascript %}
{{ block.super }}
    <script src="/static/js/underscore-min.js" type="text/javascript"></script>
    <script src="/static/recline/vendor/mustache/0.5.0-dev/mustache.js" type="text/javascript"></script>
    <!-- Slick Grid -->
    <script src="/static/recline/vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
    <script src="/static/recline/vendor/slickgrid/2.0.1/jquery.event.drag-2.0.min.js" type="text/javascript"></script>
    <script src="/static/recline/vendor/slickgrid/2.0.1/slick.grid.min.js" type="text/javascript"></script>
    <script src="/static/recline/vendor/backbone/0.9.2/backbone.js" type="text/javascript"></script>
    <script src="/static/recline/dist/recline.js" type="text/javascript"></script>
    <script src="/static/js/backend.formhub-mongo-api.js" type="text/javascript"></script>
    <script src="/static/js/fh.multiview.js" type="text/javascript"></script>
    <script src="/static/js/widget.language-selector.js" type="text/javascript"></script>
    <script src="/static/js/views.fh-slickgrid.js" type="text/javascript"></script>
    <script src="/static/js/datetimepicker/datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        var formJSONUrl = "{% url "odk_logger.views.download_jsonform" owner.username xform.id_string %}";
        var mongoAPIUrl = "{% url "main.views.api" owner.username xform.id_string %}";
        var views, sideBarViews, multiView, slickView;
        var numDefaultColumns = 30;//number of columns to show by default
        var instance_view_url = "{% url "odk_viewer.views.instance" owner.username xform.id_string %}"
    </script>
    <script src="/static/js/data_view.js" type="text/javascript"></script>
{% endblock %}
