{% extends 'base.html' %}

{% block content %}

{% load i18n %}

<section id="export-downloads">
  <div class="page-header">
    <h1>{{ export_type|upper }} {% blocktrans %}Exports{% endblocktrans %} (<a href="{% url main.views.show username xform.id_string %}">{{ xform.id_string }}</a>)</h1>
  </div>
  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.pagination.js"></script>
  <script type="text/javascript" language="javascript" src="/static/js/form_actions.js"></script>
  <script type="text/javascript" charset="utf-8">

        $.extend( $.fn.dataTableExt.oStdClasses, {
          "sSortAsc": "header headerSortDown",
          "sSortDesc": "header headerSortUp",
          "sSortable": "header",
          "sWrapper": "dataTables_wrapper form-inline"
        } );

	$(document).ready(function() {
	  $('#forms-table').dataTable({
              "sDom": "<'row'r>t<'row'<'span6'i><'span6'p>>",
	          "bPaginate" : true,
                  "sPaginationType": "bootstrap",// "iDisplayLength": 4,
                  "bSort": true,
                  "oLanguage": {"sSearch": "Search:"},
                  "oSearch": {"sSearch": ""},
              "aoColumnDefs": [
                  { "asSorting": [ "desc" ], "aTargets": [ 0 ] },
              ]
      });
      $('#forms-table_filter').addClass('row');
      $('#mfeedback').hide();
	} );
  </script>

    <form action="{% url odk_viewer.views.create_export username xform.id_string export_type %}" method="post" enctype="application/x-www-form-urlencoded">
        {% csrf_token %}
            <span style='float:middle;'>
	        <div>
                <input type="submit" class="btn large btn-primary" value="{% trans 'New Export' %}" />
            </div>
            </span>
    </form>

  <table id="forms-table" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{% trans "Filename" %}</th>
        <th>{% trans "Date Created" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for export in exports %}
      <tr>
        <td>
            {% if not export.is_pending %}
            <a href="{% url odk_viewer.views.export_download username xform.id_string export.export_type export.filename %}">{{ export.filename }}</a>
            {% else %}
              <span class="status">{% trans "Pending ..." %}</span>
              <a href="#" class="refresh-export-progress" data-role="refresh-export-progress" data-url="{% url odk_viewer.views.export_progress export.id %}">{% trans "Click to refresh" %}</a>
            {% endif %}
        </td>
        <td>{{ export.created_on }}</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>
{% endblock %}
