{% extends 'base.html' %}

{% block additional-headers %}
<style type="text/css">

</style>

<script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.pagination.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/sammy-0.7.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/sammy-plugins/sammy.meld-0.7.1.min.js"></script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Browse Form Data (<a href="{% url main.views.show username xform.id_string %}">{{ xform.title }}</a>)</h1>
</div>
<div id="data"></div>
<script type="text/javascript">
var formJSONUrl = "{% url odk_logger.views.download_jsonform username id_string %}";
var mongoAPIUrl = "{% url main.views.api username id_string %}";
var app; // sammy app
var questions = {};
// TODO: this re should only accept valid js variable names so numbers/letter/underscore
var cleanRe = /[\[\]\/]/g; // regular expression used to clean names with slashes
var cleanReplacement = '_';

Question = function(questionData)
{
    this.name = questionData.name;
    this.type = questionData.type;
    this.label = questionData.label;
}

Question.prototype.getLabel = function(language)
{
    /// if plain string, return
    if(typeof(this.label) == "string")
        return this.label;
    else if(typeof(this.label) == "object")
    {
        if(language && this.label.hasOwnProperty(language))
            return this.label[language];
        else
        {
            var label = null;
            for(key in this.label)
            {
                label = this.label[key];
                break;// break at first instance and return that
            }
            return label;
        }

    }
    // return raw name
    return this.name;
};

(function($) {

  app = $.sammy('#data', function() {
      this.use('Meld');

      // index route
      this.get('#/', function(context) {
          /// get the first response object
          var query = '{}';
          loadData(context);
      });

      // #/id route
      this.get('#/:id', function(context) {
          var id = this.params['id'];
          var query = '{"_id": ' + id + '}';
          loadData(context, query);
      });

      this.bind('error', {}, function(){
          //alert('Invalid route requested')
          app.setLocation('#/');
      })

  });

  /// load form structure
  $.getJSON(formJSONUrl)
      .success(function(data){
              parseQuestions(data.children);
              // load count
              $.getJSON(mongoAPIUrl, {'count': 1})
                  .success(function(data){
                          app.run('#/');
                      })
          });

})(jQuery);

function loadData(context, query)
{
    //TODO: show loader
    $.getJSON(mongoAPIUrl, {'query': query, 'limit':1})
            .success(function(data){
                reDraw(context, data[0]);
                if(data[0])
                {
                    // load next record
                    $.getJSON(mongoAPIUrl, {'query': '{"_id": {"$gt": ' + data[0]['_id'] +'}}', 'limit': 1, 'sort': '{"_id":1}', 'fields':'["_id"]'})
                        .success(function(nextData){
                                var nextButton = $('li.next');
                                if(nextData.length > 0)
                                {
                                    nextButton.removeClass('disabled');
                                    nextButton.children('a').attr('href', '#/' + nextData[0]['_id']);
                                }
                                else
                                {
                                    nextButton.addClass('disabled');
                                    // make next url the current url
                                    nextButton.children('a').attr('href', '#/' + data[0]['_id']);
                                }
                            });
                    // load previous record
                    $.getJSON(mongoAPIUrl, {'query': '{"_id": {"$lt": ' + data[0]['_id'] +'}}', 'limit': 1, 'sort': '{"_id":-1}', 'fields':'["_id"]'})
                            .success(function(prevData){
                                var prevButton = $('li.prev');
                                if(prevData.length > 0)
                                {
                                    prevButton.removeClass('disabled');
                                    prevButton.children('a').attr('href', '#/' + prevData[0]['_id']);
                                }
                                else
                                {
                                    prevButton.addClass('disabled');
                                    // make prev url the current url
                                    prevButton.children('a').attr('href', '#/' + data[0]['_id']);
                                }
                            });
                }

            })
            .error(function(){
                alert("BAD REQUEST");
            })
}

function reDraw(context, data)
{
    // make sure we have some data, if the id was in valid we would gte a blank array
    if(data)
    {
        var cleanData = {};
        for(key in data)
        {
            var value = data[key];
            var cleanKey = key.replace(cleanRe, cleanReplacement);
            cleanData[cleanKey] = value;
        }

        // check if table has been created, if not reCreate
        if($('#data table').length == 0)
            createTable();
        context.meld($('#data'), cleanData, {
            selector: function(k) {
                k = k.replace(cleanRe, cleanReplacement);
                return '[data-key=' + k + ']';
            }
        });
    }
    else
    {
        $('#data').empty();
        $('#data').html("<h3>The requested content was not found.<h3>");
    }
}

function createTable()
{
    var dataContainer = $('#data');
    dataContainer.empty();

    // status and navigation rows - have to do separate top and bottom since jquery doesnt seem to append the same onject twice
    var topStatusNavRows = $('<div class="row"></div>');
    var statusStr = '<div class="span6"><div class="dataTables_info"></div></div>';
    var topStatus = $(statusStr);
    topStatusNavRows.append(topStatus);

    var pagerStr = '<div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="next disabled"><a href="#">Next → </a></li></ul></div></div>';
    var topPager = $(pagerStr);

    topStatusNavRows.append(topPager);
    dataContainer.append(topStatusNavRows);

    var table = $('<table id="data-table" class="table table-bordered table-striped"></table');
    var tHead = $('<thead><tr><th class="header" width="50%">Question</th><th class="header">Response</th></tr></thead>');
    var tBody = $('<tbody></tbody>');
    for(key in questions)
    {
        console.log(key);
        var question = questions[key];
        var questionLabel = question.getLabel();
        var dataRow = $('<tr class=""><td>' + questionLabel + '</td><td data-key="' + key + '"></td></tr>');
        tBody.append(dataRow);
    }
    table.append(tHead);
    table.append(tBody);
    dataContainer.append(table);

    var bottomStatusNavRows = $('<div class="row"></div>');
    var bottomStatus = $(statusStr);
    bottomStatusNavRows.append(bottomStatus);

    var bottomPager = $(pagerStr);

    bottomStatusNavRows.append(bottomPager);
    dataContainer.append(bottomStatusNavRows);
}

function parseQuestions(children, prefix)
{
  for(idx in children)
  {
      var question = children[idx];
      if(question.hasOwnProperty('children') && question.type == "group")
      {
          parseQuestions(question.children, (question.name + cleanReplacement));
      }
      else
      {
          // TODO: question class that has accessor mesthods for type, label, language etc
          questions[((prefix?prefix:'') + question.name)] = new Question(question);
      }
  }
}
</script>
{% endblock %}
