{% load i18n %}{% if image_urls %}
<ul class="media-grid">
{% for image_url in image_urls %}
<li><a href="#">
  <img width="210" class="thumbnail" src="{{ image_url }}" alt="">
</a></li>
{% endfor %}
</ul>
{% endif %}
{% if languages|length > 1 %}
<select id="selectLanguage">
    {% for language, label in languages %}
        <option value="{{ language }}">{{ language }}</option>
    {% endfor %}
</select>
{% endif %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>{% trans "Question" %}</th>
      <th>{%trans "Response" %}</th>
    </tr>
  </thead>
  <tbody>{% for pair in label_value_pairs %}
    <tr>
      <td>{% for language, label in pair.0 %}
        <span class="language {{ language }}"{% if language != default_language %} style="display: none;"{% endif %}>{{ label }}</span>
      {% endfor %}</td>
      <td>{{ pair.1 }}</td>
    </tr>{% endfor %}
  </tbody>
</table>
<script type="text/javascript">_StatHat.push(['_trackCount', 'nDdz7zH1c26BwPwOzF0_fyBMc2Fl', 1.0]);</script>
