<form action="." method="post" enctype="multipart/form-data">
  <h2>
    Upload Section
  </h2>
  <p>
    To build an Survey for ODK Collect upload the XLS file(s) you
    wish to convert. If your entire survey is described in a single
    XLS file, upload that file, mark it as active, and download the
    resulting Survey.
	</p>
	<p>
    To update your survey, edit your XLS file, save the changes,
    upload the file, and download the updated Survey.
  </p>
  <p>
    {% csrf_token %}
    <input type="file" name="section_file" >
    <input type="submit" value="Submit">
  </p>
</form>