{% extends 'xform_builder_base.html' %}

{% block content %}
<!-- I'm not sure how to get these breadcrumbs showing up in the --
  -- header block. When it was in block header it overwrote the base --
  -- header. -->

<div class="content-section">
  <form action="." method="post" enctype="multipart/form-data">
    <h2>
      Upload Section
    </h2>
    <p>
      To build an XForm for ODK Collect upload the XLS file(s) you
      wish to convert. If your entire survey is described in a single
      XLS file, upload that file, mark it as active, and download the
      resulting XForm.
	</p>
	<p>
      To update your survey, edit your XLS file, save the changes,
      upload the file, and download the updated XForm.
    </p>
    <p>
      {% csrf_token %}
      <input type="file" name="section_file" >
      <input type="submit" value="Submit">
    </p>
  </form>
</div>

<div class="content-section">
  <h2>Uploaded Sections</h2>
  {% if available_sections_empty %}
  <p>No sections have been uploaded yet.</p>
  {% else %}
  <p>Below is a list of all sections that have been uploaded for this
  survey. You must add at least one section to your survey before you
  can create an XForm for ODK Collect.</p>
  <ul id="available-sections-list">
    {% for section in available_sections %}
    <li data-section-slug="{{section.slug}}">
      <div class="active-bar left-bar lb-a {% if section.is_marked_included %}active{% else %}inactive{% endif %}"></div>
      <!--			<div class="included-bar left-bar lb-b"></div> -->
      <p class="title">
	<span class="section-slug">{{section.slug}}</span> <span class="sub-sections">{% for ss in section.sub_sections %}<span class="ss">{{ss}}</span>{% endfor %}</span>
      </p>
      <p class="section-buttons">

	{% if section.is_marked_included %}
	<a href="/edit/{{xform.id_string}}/section/{{section.slug}}/deactivate" class="make-inactive">Remove from Survey</a>
	{% else %}
	<a href="/edit/{{xform.id_string}}/section/{{section.slug}}/activate" class="make-active">Add to Survey</a>
	{% endif %}
	<a href="/edit/{{xform.id_string}}/section/{{section.slug}}/delete" class="delete">Delete</a>
      </p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<div class="content-section">
  <h2>Order Active Sections</h2>
  {% if base_sections_empty %}
  <p>No sections are active yet.</p>
  {% else %}
  <p>The list below describes how the active sections will be ordered
  in the final survey. Use the up and down arrows to the right of each
  section to move it up and down in the survey. Use the minus symbol
  to deactivate a section of the survey.</p>
  <ol class="form-section-list">
    {% for section in base_sections %}
    <li class="section-{{section.slug}}" data-section-slug="{{section.slug}}">
      <p>
	{{section.slug}}
      </p>
      <p class="status" style="display:none"></p>
      <ul class="sub-sections">
	{% for ss in section.sub_sections %}
	<li>
	  {{ss}}
	</li>
	{% endfor %}
      </ul>
      <a class="button deactivate" href="/edit/{{xform.id_string}}/section/{{section.slug}}/deactivate" title="Remove Section">&mdash;</a>
      <a class="button move-up" href="/edit/{{xform.id_string}}/section/{{section.slug}}/up" title="Move Up">Move Up</a>
      <a class="button move-down" href="/edit/{{xform.id_string}}/section/{{section.slug}}/down" title="Move Down">Move Down</a>
    </li>
    {% endfor %}
  </ol>
  <p class="xform-buttons">
    <a href="/download/{{xform.id_string}}.xml" id="download">Download XForm</a>
    <a href="/download/{{xform.id_string}}.json" id="download">Download JSON</a>
  </p>
  {% endif %}
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">
<!--
$('a.delete').click(function(evt){
	!confirm('Are you sure you want to delete this section?') && evt.preventDefault();
});

$('#validate').click(function(evt){
	$.getJSON('/edit/{{xform.id_string}}/validate').done(function(data){
		console.log(data);
		if(data.section_stats) {
			$.each(data.section_stats, function(sectionSlug, stat){
				var z = $('.section-'+sectionSlug).addClass(stat.status);
				if(stat.message) {
					z.find('p.status').text(stat.message).show();
				}
			});
		}
		if(data.status=="error") {
			$('p.survey-status').text(data.message).show();
		} else if(data.status=="good") {
			$('p.survey-status').hide();
		}
	});
	evt.preventDefault();
});

/*--
var debugJson = $("<a />", {'href':'#'}).text("View Underlying JSON").click(function(evt){
	var ta = $('textarea#t');
	if(ta.length===0) {
		ta = $('<textarea />', {'id':'t'})
			.css({'width':'96%','height':'200px'})
			.appendTo($('.xform-buttons'));
	}
	$.getJSON("/edit/{{xform.id_string}}/debug_json").done(function(data){
		ta.text(JSON.stringify(data));
	});
	evt.preventDefault();
}).appendTo($('p.xform-buttons'));
--*/
-->
</script>
{% endblock %}
