<h1>Create New Survey</h1>

<p>
  To start a new survey enter a Title and ID String. When a
  surveyor opens the survey in ODK Collect they will see the Title
  first. The ID String is used internally to link survey submissions
  to this survey. XLS2Survey will automatically add a version
  identifier onto the ID String to make sure each version of your
  survey is uniquely identified.
</p>

<form action="." method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Create New Survey">
</form>
