{% extends 'xform_builder_base.html' %}

{% block content %}
<div class="content-section">
  <h2>Using the Application</h2>
  <ol>
    <li> For a quick introduction to the xls2xform syntax check out
      <a href="https://github.com/mvpdev/pyxform/blob/develop/pyxform/tests/example_xls/tutorial.xls?raw=true">tutorial.xls</a>.
      For more in depth information read the
      <a href="https://docs.google.com/document/d/1Dze4IZGr0IoIFuFAI_ohKR5mYUt4IAn5Y-uCJmnv1FQ/edit?hl=en_US">help</a>.
    <li> Choose your .xls file and submit it for conversion.
    <li> If you are trying to convert an .xls file that uses the old
      syntax, check the 'Original Syntax' box, this will give you more
      informative error messages.
  </ol>
</div>

<div class="content-section">
  <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Convert to XForm">
  </form>
</div>
{% endblock %}
