<h1>Survey List</h1>

<table>
  {% for survey in user.surveys.all %}
  <tr>
    <td>{{survey.title}}</td>
    <td><a href="{% url xls2xform.views.edit_survey survey.id_string %}">Edit</a></td>
    <td><a href="{% url xls2xform.views.download_survey survey.id_string 'xml' %}">Download</a></td>
    <td><a href="{% url xls2xform.views.delete_survey survey.id_string %}" class="delete">Delete</a></td>
    {% if extra_links %}
    {% include extra_links %}
    {% endif %}
  </tr>
  {% endfor %}
</table>
