
#pretty-table-wrap {
	z-index:999;
}
table#state-lga-list tbody tr.lga-row {
	display: none;
}
table#state-lga-list tbody.opened tr.lga-row {
	display: table-row;
}
table#state-lga-list tbody.opened tr.lga-row td {
	background-color: #f6f6f6;
	border-bottom-color: #ddd;
	color: #333;
}
table#state-lga-list tbody.opened tr.lga-row td, table#state-lga-list tbody.opened tr.lga-row td a { color: #333; }
table#state-lga-list tbody.opened tr.state-row td {
	border-bottom: 1px solid #bbb;
}
table#state-lga-list span.lga-count {
	font-size: 10px;
	color: #888;
}
table#state-lga-list tr.state-row {
	cursor: pointer;
}
table#state-lga-list a.discrete-link {
	color: #777;
	font-size: 11px;
}
table#state-lga-list td.h-bar {
	width: 5px;
	padding: 0;
	background-color: #eee;
}
table#state-lga-list tbody.opened td.h-bar {
	background-color: #999;
}
table#state-lga-list tbody.opened tr.lga-row td.h-bar {
	background-color: #bbb;
	border-color: #999;
}
table#state-lga-list tfoot td.h-bar {
	background-color: transparent;
	border-color: transparent;
}
table#state-lga-list tfoot td {
	border-bottom-color: transparent;
}
table#state-lga-list tfoot td.total-total {
	color: #222;
	background-color: #ccc;
	font-weight: bold;
	border-color: #777;
	border-width: 1px 0 0 1px;
}
table#state-lga-list a {
	display: block;
}
table#state-lga-list .tot-span {
	font-size: smaller;
	font-weight: normal;
	color: #777;
}
/*--	table#state-lga-list td.lga-name span.lga-name-prefix {color: #eee;} --*/
a.img-link {
	float: left;
	display: block;
	width: 80px;
	max-height: 80px;
	margin: 2px 8px 8px 0;
}
a.img-link img {
	max-width: 80px;
	max-height: 80px;
}
table.popup-context td {
	font-size: 11px;
	color: #777;
}
table tr.total-row td.total {
	font-weight: bold;
	border-top: 1px solid #aaa;
	color: #222;
}
table td.total {
	font-weight: bold;
	border-left: 1px solid #aaa;
	color: #222;
	text-align: center;
}
table tr.lga-row td {
	font-weight: normal;
	font-size: 11px;
}
table tr.lga-row td.total {
	font-weight: bold;
}
table thead th.survey-col-header {
	width: 120px;
	text-align: center;
}