{% load i18n %}
{% block content %}
    <div id="addserviceformstatus">{{ status }}</div>
    <div id="addserviceform-container">
    <form name="addserviceform" id="addserviceform" action="{% url "restservice.views.add_service" username id_string %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="tab-content bordered-side">
        <div class="tab-pane active" id="upload">
            <table class="narrow-labels">
                {{ form.as_table }}
            </table>
        </div>
    </div>
    <div class="form-actions bordered-side bordered-bottom nomargintop">
        <input type="submit" class="btn large btn-primary" value="{% trans 'Add service' %}" />
    </div>
    </form>
    <ol id="restservice_list">
        {% for sv in list_services %}
            {% include "service.html" %}
        {% endfor %}
    </ol>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        var attach_delete = function(){
            var el = $(this);
            $.post(el.data('url'), "service-id=" + el.data('id'), function(data){
                el.parent().remove();
            });
            return false;
        };

        $('a.restserviceitem').click(attach_delete);
        $(document).on('submit', '#addserviceform', function(evt){
            evt.preventDefault();
            $.post(this.action, $(this).serialize(), function(data){
                try{
                    var rs = $.parseJSON(data);
                    if (rs.status){
                        if(rs.status == 'success'){
                            $("#addserviceform").each(function(){
                                this.reset();
                            });
                            if(rs.restservice){
                                $("#restservice_list").append(rs.restservice);
                                $("#restservice_list a.restserviceitem").click(attach_delete);
                            }
                        }
                        $('#addserviceformstatus').html(rs.message);
                    }

                }catch (e){
                }
            });
            return false;
        });
    });
    </script>
{% endblock %}
