{% extends 'base.html' %}

{% block content %}

  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.pagination.js"></script>
  <script type="text/javascript" charset="utf-8">

        $.extend( $.fn.dataTableExt.oStdClasses, {
          "sSortAsc": "header headerSortDown",
          "sSortDesc": "header headerSortUp",
          "sSortable": "header"
        } );

	$(document).ready(function() {
	  $('#stats-table').dataTable({
                  "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
	          "bPaginate" : true,
                  "sPaginationType": "bootstrap",
                  "iDisplayLength": 25,
                  "bSort": true, 
                  "oLanguage": {"sSearch": "Search:"},
                  "oSearch": {"sSearch": ""},
	          "aaSorting": [[ 1, "desc" ]]
          });
	});
  </script>

  <div class="page-header">
<br>
<h1>Submissions ({{stats.submission_count.total_submission_count}})</h1>
  </div>




  <table id="stats-table" class="zebra-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Submissions</th>
      </tr>
    </thead>
    <tbody>
      {% for k, v in stats.submission_count.items %}
      {% if k != 'total_submission_count' %}
      <tr>
        <td>{{k}}</td>
        <td>{{v}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <hr />


{% endblock %}
