{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="page-header">
<br>
<h1>{% blocktrans with nb_sub=stats.submission_count.total_submission_count %}Submissions ({{ nb_sub }}){% endblocktrans %}</h1>
  </div>

  <table id="stats-table" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{% trans "User" %}</th>
        <th>{% trans "Submissions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for k, v in stats.submission_count.items %}
      {% if k != 'total_submission_count' %}
      <tr>
        <td>{{k}}</td>
        <td>{{v|stringformat:"d"}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <hr />
{% endblock %}
{% block javascript %}
{{ block.super }}
  <script type="text/javascript" src="/static/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="/static/js/jquery.dataTables.pagination.js"></script>
  <script type="text/javascript">

	$(document).ready(function() {
        $.extend( $.fn.dataTableExt.oStdClasses, {
          "sSortAsc": "header headerSortDown",
          "sSortDesc": "header headerSortUp",
          "sSortable": "header"
        } );

	  $('#stats-table').dataTable({
                  "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
	          "bPaginate" : true,
                  "sPaginationType": "bootstrap",
                  "iDisplayLength": 25,
                  "bSort": true,
                  "oLanguage": {"sSearch": "{% trans 'Search:' %}"},
                  "aoColumns": [null, {"sType": "numeric", "sClass": "right", "sWidth":"100px"}],
                  "oSearch": {"sSearch": ""},
	          "aaSorting": [[ 1, "desc" ]]
          });
	});
  </script>
{% endblock %}

