{% extends "rest_framework/base.html" %}

{# Override this template in your own templates directory to customize #}

{% block title %}
Formhub REST API
{% endblock %}
{% block bootstrap_theme %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/screen.css?v=2809679b01" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
    <!--[if lte IE 8]>
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
	  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
{% endblock %}
{% block script %}
{{ block.super }}
    <style type='text/css'>
        pre code .pln{color:#d14;}
        pre code .pun{color:#32af8d;}
    </style>
{% endblock %}
{% block branding %}
    <a class='brand' href='https://formhub.org'>Formhub</a>
{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
