{% if score_partial %}
<div class='reviews'>
{{score_partial|safe}}	
</div>
<script type="text/javascript" charset="utf-8">
	$('div.reviews').delegate('form', 'submit', function(){
		var postUrl = $(this).attr('action').replace('post','ajax_post');
		$.ajax({
		  type: 'POST',
		  url: postUrl,
		  data: $(this).serialize()
		}).done(function(response){
			$('.reviews').html(response)
		})
		return false;
	});
	function editReview() {
		$('#review_form_wrap').show();
		$('.your-review').hide();
	}
</script>
{% endif %}
