<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <title>formhub</title> 
    <meta name="description" content=""> 
    <meta name="author" content=""> 
 
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements --> 
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
 
    <!-- Le styles --> 
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet"> 
    <link href="/static/css/screen.css" rel="stylesheet"> 
    <link href="/static/css/iphone-btn-style.css" rel="stylesheet"> 
 
    <!-- Le javascript --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
    <script src="/static/js/jquery.tablesorter.min.js"></script> 
    <script src="/static/js/application.js"></script> 
    <script src="/static/js/iphone-style-checkboxes.js"></script> 

    <script src="/static/bootstrap/js/bootstrap.min.js"></script> 
 
    <!-- Le fav and touch icons --> 
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico"> 
    <link rel="apple-touch-icon" href="/static/bootstrap/docs/assets/ico/bootstrap-apple-57x57.png"> 
    <link rel="apple-touch-icon" sizes="72x72" href="/static/bootstrap/docs/assets/ico/bootstrap-apple-72x72.png"> 
    <link rel="apple-touch-icon" sizes="114x114" href="/static/bootstrap/docs/assets/ico/bootstrap-apple-114x114.png">

    <!-- spot to insert stuff for google maps -->
    {% block additional-headers %}{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-83697-18']);
  _gaq.push(['_setDomainName', 'formhub.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head> 

  {% block body %}
  <body>
    {% include "topbar.html" %}

    <div class="container">
      {% block message %}
        {% if message %}
          {% include "message.html" %}
        {% endif %}
      {% endblock %}
      {% block content %}
        {% if template %}{% include template %}{% endif %}
        {{ content|safe }}
      {% endblock %}
    </div>

    {% include "footer.html" %}
  </body>
  {% endblock %}

</html>
