
<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <title>ODK Deploy</title> 
    <meta name="description" content=""> 
    <meta name="author" content=""> 
 
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements --> 
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
 
    <!-- Le styles --> 
    <link href="/static/bootstrap/bootstrap.css" rel="stylesheet"> 
    <link href="/static/bootstrap/docs/assets/css/docs.css" rel="stylesheet"> 
    <link href="/static/bootstrap/docs/assets/js/google-code-prettify/prettify.css" rel="stylesheet"> 
 
    <!-- Le javascript --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> 
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script> 
    <script src="/static/bootstrap/docs/assets/js/google-code-prettify/prettify.js"></script> 
    <script>$(function () { prettyPrint() })</script> 
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script> 
    <script src="/static/bootstrap/js/bootstrap-twipsy.js"></script> 
    <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script> 
    <script src="/static/bootstrap/docs/assets/js/application.js"></script> 
 
    <!-- Le fav and touch icons --> 
    <link rel="shortcut icon" type="image/x-icon" href="/static/bootstrap/assets/ico/favicon.ico"> 
    <link rel="apple-touch-icon" href="/static/bootstrap/assets/ico/bootstrap-apple-57x57.png"> 
    <link rel="apple-touch-icon" sizes="72x72" href="/static/bootstrap/assets/ico/bootstrap-apple-72x72.png"> 
    <link rel="apple-touch-icon" sizes="114x114" href="/static/bootstrap/assets/ico/bootstrap-apple-114x114.png"> 
  </head> 
 
  <body> 
 
    <!-- Topbar
    ================================================== --> 
    <div class="topbar" data-dropdown="dropdown" > 
      <div class="topbar-inner"> 
        <div class="container"> 
          <a class="brand" href="#">ODK Deploy</a> 
          <!--
          <ul class="nav"> 
            <li class="active"><a href="#overview">Overview</a></li>
            <li><a href="#about">About</a></li> 
          </ul> 
          -->
          <ul class="nav secondary-nav"> 
            {% if user.is_authenticated %}
            <li class="dropdown"> 
              <a href="#" class="dropdown-toggle">{{ user.username }}</a> 
              <ul class="dropdown-menu"> 
                <li><a href="{% url auth_logout %}">Log out</a></li> 
              </ul> 
            </li> 
            {% else %}
            <li><a href="{% url auth_login %}">Log in</a></li>
            {% endif %}
          </ul> 
        </div> 
      </div> 
    </div> 

    <div class="container" min-height="100%">
      {% block content %}{% endblock %}
    </div>
 
    <footer class="footer"> 
      <div class="container"> 
        <p> 
          Designed by <a href="http://modi.mech.columbia.edu/">Modi Research Group</a>.<br /> 
          Code licensed under the <a href="http://www.xfree86.org/3.3.6/COPYRIGHT2.html#3" target="_blank">X11 License</a>.
        </p> 
      </div> 
    </footer> 
 
  </body> 
</html>




<!--
     -->

<!--	<div id="content">
		<div class="fwidth">
			<div class="content-inner-wrap"> -->



