<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>formhub</title>
    <meta name="description" content="Mobile data collection made easy. formhub is built on a belief that data collection and analysis should be fast, flexible and reliable. And open source, of course.">
    <meta name="author" content="">
    <meta name="google-site-verification" content="8pAiKPreksD8GiYnSCtWm9QG3i6wyuKg7E2Y95RTzRM" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/screen.css?v=2809679b01" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
    <!--[if lte IE 8]>
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
	  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	{% if not user.is_authenticated %}
		<link href="/static/css/bg.css" rel="stylesheet">
	{% endif %}
    <link href="/static/css/iphone-btn-style.css" rel="stylesheet">

    <!-- Le javascript -->
		<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/jquery.tablesorter.min.js"></script>
    <script src="/static/js/application.js?v=201307251039"></script>
    <script src="/static/js/iphone-style-checkboxes.js"></script>

    <script src="/static/bootstrap/js/bootstrap.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/bootstrap/docs/assets/ico/bootstrap-apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/bootstrap/docs/assets/ico/bootstrap-apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/bootstrap/docs/assets/ico/bootstrap-apple-114x114.png">

    <!-- spot to insert stuff for google maps -->
    {% block additional-headers %}{% endblock %}


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-83697-18']);
  _gaq.push(['_setDomainName', 'formhub.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head>

  {% block body %}
	{% if not user.is_authenticated %}
	<body style="padding-top: 20px !important">
		{% include "change_language.html"%}
		{% include "home_topbar.html" %}
	{% endif %}

  	{% if user.is_authenticated %}
		{% include "topbar.html"%}
  	{% endif %}

    <div class="container">
      {% block message %}
        {% if message or messages or message_list %}
          {% include "message.html" %}
        {% endif %}
      {% endblock %}
      {% block content %}
        {% if template %}{% include template %}{% endif %}
        {{ content|safe }}
      {% endblock %}
    </div>

    {% include "footer.html" %}
  </body>
  {% endblock %}

</html>
