{% load i18n %}

<script type="text/javascript">
	function closeBrowserAlertPopup() {
		document.getElementById('browser-alert-popup').style.display = "none";
		return void(0);
	};
</script>
<div id="browser-alert-popup" style="display: block; z-index: 1005; outline: 0px none; position: absolute; height: 360px; width: 660px; top: 54px; left: 160px;" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-1">
	<script type="text/javascript">
		if(Modernizr.history) {
			document.getElementById('browser-alert-popup')
				.style.display = "none";
			}
	</script>
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
		<span class="ui-dialog-title" id="ui-dialog-title-1">{% trans "Browser Error" %}</span>
		<a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button" onclick="closeBrowserAlertPopup()">
			<span class="ui-icon ui-icon-closethick">{% trans "close" %}</span>
		</a>
	</div>
	<div class="browser-message ui-dialog-content ui-widget-content" style="width: 638px; min-height: 99.5667px; height: 325px;">
		<h2>
			{% trans "Recommended Browser Alert" %}
		</h2>
		<div>
			<p>
				{% trans "Dear Sir or Madam," %}
			</p>
			<p>
				{% trans "Our tests indicate that you are currently using a browser that does not support complex navigation. We highly recommend that you switch to one of the browsers below in order to take full advantage of the Nigeria MDGs Information System." %}
			</p>
			<ul>
				<li>
					<a href="http://www.getfirefox.com/">Mozilla Firefox</a>
				</li>
				<li>
					<a href="http://www.google.com/chrome/">Google Chrome</a>
				</li>
			</ul>
			<p>
				{% trans "Thank You," %}
			</p>
			<p>
				{% trans "The NMIS Support Team" %}
			</p>
		</div>
	</div>
	<div class="ui-resizable-handle ui-resizable-n"></div>
	<div class="ui-resizable-handle ui-resizable-e"></div>
	<div class="ui-resizable-handle ui-resizable-s"></div>
	<div class="ui-resizable-handle ui-resizable-w"></div>
	<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se ui-icon-grip-diagonal-se" style="z-index: 1001;"></div>
	<div class="ui-resizable-handle ui-resizable-sw" style="z-index: 1002;"></div>
	<div class="ui-resizable-handle ui-resizable-ne" style="z-index: 1003;"></div>
	<div class="ui-resizable-handle ui-resizable-nw" style="z-index: 1004;"></div>
</div>
