{% load i18n %}

<div class = "container">
    <div class=" row-fluid">
		<div class = "span12">
      	  	<div class = "span2">
				<a class="brand" href="/" title="formhub"><img alt="formhub" src="/static/images/logo_new.png" class="left"/></a>
			</div>
			<div class = "span7">
				<div class = "navigation">
					<ul id = "navlist">
						<li> <a href="/accounts/register/"> Sign Up </a> </li>
						<li> <a href="http://blog.formhub.org/2011/12/05/data-gatherers-of-the-world-unite/"> Learn More </a> </li>
						<li> <a href="http://blog.formhub.org/"> Blog </a></li>
					</ul>
				</div>
			</div>
			<div class = "span3"> <a href="{% url auth_login %}" class="btn btn-info pull-right">{%  trans "Log In" %}</a> </div>
		</div>
  </div>
</div>