<div class="navbar" data-dropdown="dropdown" >
  <div class="navbar-inner{% if form_view %} navbar-inner-map{% endif %}">
    <div class="container">
      <a class="brand" href="/" title="formhub"><img alt="formhub" src="/static/images/logo.png" /></a>
      {% if form_view %}
      <ul class="nav">
        <li>&nbsp;</li>
        <li>
            <img src='{{ profile.gravatar }}' alt='gravatar' width='30' height='30' />
            &nbsp;
            &nbsp;
        </li>
        <li>&nbsp;&nbsp;</li>
        <li class="lead">
          <a href="{% url main.views.profile content_user.username %}">{{ content_user.username }}</a>
        </li>
        <li class="lead">
          <a href="#">&nbsp;/&nbsp;</a>
        </li>
        <li class="lead">
          <a href="{% url main.views.show content_user.username xform.id_string %}">{{ xform.title }}</a>
        </li>
        <li>&nbsp;</li>
        <li><a href="#"><span class="inverted">{{ xform.submission_count }} submissions</span></a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#" class="dropdown-toggle">Data Download</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
                <a href="{% url odk_viewer.views.csv_export content_user.username xform.id_string %}">
                    csv
                </a>
            </li>
            <li>
                <a href="{% url odk_viewer.views.xls_export content_user.username xform.id_string %}">
                    xls
                </a>
            </li>
            <li>
                <a href="{% url odk_viewer.views.kml_export content_user.username xform.id_string %}">
                     kml
                </a>
            </li>
          </ul>
        </li>
      </ul>
      {% else %}
      <ul class="nav">
        <!-- <li class="active"><a href="#overview">Overview</a></li> -->
        <li><a href="{% url main.views.form_gallery %}">Forms</a></li>
        <li><a href="{% url main.views.members_list %}">People</a></li>
        <li><a href="{% url main.views.tutorial %}">About</a></li>
        <li><a href="{% url main.views.syntax %}">Syntax</a></li>
        <li><a href="{% url main.views.support %}">Support</a></li>
        <li><a href="http://blog.formhub.org/">Blog</a></li>

      </ul>
      <ul class="nav pull-right">
        {% if user.is_authenticated %}
        <li><a href="/{{user.username}}">{{user.username}}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url main.views.public_profile user.username %}"><i class="icon-user"></i> Public profile</a></li>
            <li><a href="{% url main.views.profile_settings user.username %}"><i class="icon-cog"></i> Settings</a></li>
            <!--<li><a href="{% url auth_password_change %}">Change password</a></li>-->
	    <li class="divider"></li>
            <li><a href="{% url auth_logout %}"><i class="icon-off"></i> Sign out</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url auth_login %}">Sign in</a></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
