/*-
 Widgets 
-*/

.widget-wrap {
    position: absolute;
    border: 1px solid #bbb;
    padding: 5px 8px;
    margin: 4px 5px;
    color: #333;
    z-index: 999;
    background-color: rgba(255,255,255,0.95);
}
.widget-outer-wrap {
    width: 100%;
    position: absolute;
    z-index: 999;
}
.fullw-widget {
    margin: 4px 8px;
    border: 1px solid #bbb;
    background-color: rgba(255,255,255,0.95);
}
.load-options, .lga-nav {
    position: absolute;
    top: 5px;
}
.lga-nav {
    right: 300px;
}
.load-options {
    right: 500px;
}

table.facility-list td, table.facility-list.pretty thead th {
    text-align: center;
}

td.checkmark {
    text-align: center;
    font-size: 11px;
}
td.checkmark.on {
    background-color: #9dbbcf;
    color: #003a60;
    /* greenish
    background-color: #e6f5eb;
    color: 336600;
    */
}
td.checkmark.off {
    background-color: #bdd1de;
    color: #003a60;
    /* redish
    background-color: #faebe6;
    color: #a31919;
    */
}
td.checkmark.null {
    opacity: 0.4;
    color: #bbb;
}
td.checkmark.on span.mrk:before {
/*    content: '✓'; */
    content: 'YES';
}
td.checkmark.off span.mrk:before {
/*    content: '✗'; */
    content: 'NO';
}
td.checkmark.null span.mrk:before {
    content: 'n/a';
}

.content-inner-wrap {
	position: relative;
}
.resizing-map {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
.overmap-content {
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
table.facility-list {
	width: 100%;
}
table.facility-list td {
    cursor: pointer;
}
body .ui-tabs .ui-tabs-nav li a {
    padding-left: 40px;
}
body .ui-tabs .ui-tabs-nav li a.normal {
    padding-left: 16px;
}
.ui-tabs-nav li div.flag {
	margin: 0 12px 0 0;
	opacity: 0.5;
	display: block;
	width: 20px;
/* i think we're better off finding icons that fit in this than making this div bigger */
	height: 24px;
	position: absolute;
	left: 10px;
	top: 5px;
	background-repeat: no-repeat;
}
.ui-tabs-nav li.ui-state-active div.flag {
	opacity: 1;
}
.ui-tabs-nav .sector-count {
	font-size: 12px;
	opacity: 0.8;
}
table.facility-list td {
	padding: 2px 5px;
	border: 0 none;
}
tr.selected-facility td {
	background-color: #F2F2F2;
	border-color: #ddd;
}
tr.selected-facility td.selected-column {
	background-color: #E2E2E2;
}
td.selected-column, th.selected-column {
	background-color: #F2F2F2;
	border-color: #ddd;
}
th.clickable {
    cursor: pointer;
}
th.clickable:after {
    color: rgba(1,1,1,0.3);
    font-size: 10px;
}

/* gap analysis table */
.gap-analysis-table {
	margin: 8px 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	height: 300px;
	overflow: auto;
}
table.gap-analysis tbody tr:first-child td {
	font-weight: bold;
	border: 1px solid #ddd;
	border-width: 0 0 1px 0;
	margin: 0 auto;
}
table.gap-analysis td {
	padding: 4px 6px;
	background-color: rgba(255,255,255,0.8);
}
table.gap-analysis td.blank {
	padding: 0;
	background-color: transparent;
}

/*--
Description popup
--*/
#header .description-wrap {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: #fafafa;
}
#header .description-wrap.showing.filled {
    display: block;
}

/*--
Updown toggle bar
--*/
div#toggle-updown-bar {
    height:12px;position:relative;background-color:#ccc;
}
#lga-facilities-table.closed #facility-tabs {
    display: none;
}
div#toggle-updown-bar span.icon {
    display:block;margin:0 auto;width:10px; height:10px;position:absolute;left:50%
}
div#toggle-updown-bar span.icon:before {
    content: '▾';
}
div#lga-facilities-table.closed div#toggle-updown-bar span.icon:before {
    content: '▴';
}

/*- Facility Popup
-*/
html .rd-wrap {
    position: static;
}
.facility-popup {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -250px;
    background-color: #fff;
}
.facility-popup .title-bar h1 {
    margin: 0;
    font-size: 14px;
}
.facility-popup .title-bar a.close {
    position: absolute;
    top: 2px;
    right: 3px;
    width: 14px;
    height: 14px;
    background-color: #333;
    color: #fff;
    font-size: 11px;
}
.facility-popup .left-col {
    width: 140px;
    float: left;
    border-right: 1px solid #777;
}
.facility-popup .right-col {
    width: 300px;
    float: left;
    padding: 4px 8px 8px 20px;
    padding-left: 20px;
}
.facility-popup .right-col table {
    width: 100%;
}
.facility-popup .right-col table tr:nth-child(even) td {
    background-color: #ddd;
}
.facility-popup .right-col .facility-sector-select-box {
    display: none;
}
.facility-popup .right-col .facility-sector-select-box.selected {
    display: block;
}