/*-
 Widgets 
-*/

.widget-wrap {
    position: absolute;
    border: 1px solid #bbb;
    padding: 5px 8px;
    margin: 4px 5px;
    color: #333;
    z-index: 999;
    background-color: rgba(255,255,255,0.95);
}
.widget-outer-wrap {
    width: 100%;
    position: absolute;
    z-index: 999;
}
.fullw-widget {
    margin: 4px 8px;
    border: 1px solid #bbb;
    background-color: rgba(255,255,255,0.95);
}
.load-options, .lga-nav {
    position: absolute;
    top: 5px;
}
.lga-nav {
    right: 300px;
}
.load-options {
    right: 500px;
}

table.facility-list td, table.facility-list.pretty thead th {
    text-align: center;
}

td.checkmark {
    text-align: center;
    font-size: 11px;
}
td.checkmark.on {
    background-color: #9dbbcf;
    color: #003a60;
    /* greenish
    background-color: #e6f5eb;
    color: 336600;
    */
}
td.checkmark.off {
    background-color: #bdd1de;
    color: #003a60;
    /* redish
    background-color: #faebe6;
    color: #a31919;
    */
}
td.checkmark.null {
    opacity: 0.4;
    color: #bbb;
}
td.checkmark.on span.mrk:before {
/*    content: '✓'; */
    content: 'YES';
}
td.checkmark.off span.mrk:before {
/*    content: '✗'; */
    content: 'NO';
}
td.checkmark.null span.mrk:before {
    content: 'n/a';
}

.content-inner-wrap {
	position: relative;
}
.resizing-map {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
.overmap-content {
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
table.facility-list {
	width: 100%;
}
table.facility-list td {
    cursor: pointer;
}
body .ui-tabs .ui-tabs-nav li a {
    padding-left: 40px;
}
body .ui-tabs .ui-tabs-nav li a.normal {
    padding-left: 16px;
}
.ui-tabs-nav li div.flag {
	margin: 0 12px 0 0;
	opacity: 0.5;
	display: block;
	width: 20px;
/* i think we're better off finding icons that fit in this than making this div bigger */
	height: 24px;
	position: absolute;
	left: 10px;
	top: 5px;
	background-repeat: no-repeat;
}
.ui-tabs-nav li.ui-state-active div.flag {
	opacity: 1;
}
.ui-tabs-nav .sector-count {
	font-size: 12px;
	opacity: 0.8;
}
table.facility-list td {
	padding: 2px 5px;
	border: 0 none;
}
tr.selected-facility td {
	background-color: #F2F2F2;
	border-color: #ddd;
}
tr.selected-facility td.selected-column {
	background-color: #E2E2E2;
}
td.selected-column, th.selected-column {
	background-color: #F2F2F2;
	border-color: #ddd;
}
th.clickable {
    cursor: pointer;
}
th.clickable:after {
    color: rgba(1,1,1,0.3);
    font-size: 10px;
}

/* gap analysis table */
.gap-analysis-table {
	margin: 8px 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	height: 300px;
	overflow: auto;
}
table.gap-analysis tbody tr:first-child td {
	font-weight: bold;
	border: 1px solid #ddd;
	border-width: 0 0 1px 0;
	margin: 0 auto;
}
table.gap-analysis td {
	padding: 4px 6px;
	background-color: rgba(255,255,255,0.8);
}
table.gap-analysis td.blank {
	padding: 0;
	background-color: transparent;
}

/*--
Description popup
--*/
#header .description-wrap {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: #fafafa;
}
#header .description-wrap.showing.filled {
    display: block;
}

/*--
Updown toggle bar
--*/
div#toggle-updown-bar {
    height:12px;position:relative;background-color:#ccc;
}
#lga-facilities-table.closed #facility-tabs {
    display: none;
}
div#toggle-updown-bar span.icon {
    display:block;margin:0 auto;width:10px; height:10px;position:absolute;left:50%
}
div#toggle-updown-bar span.icon:before {
    content: '▾';
}
div#lga-facilities-table.closed div#toggle-updown-bar span.icon:before {
    content: '▴';
}

/*- Facility Popup
-*/
html .rd-wrap {
    position: static;
}
.facility-popup {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -250px;
    background-color: #fff;
}
.facility-popup .title-bar h1 {
    margin: 0;
    font-size: 14px;
}
.facility-popup .title-bar a.close {
    position: absolute;
    top: 2px;
    right: 3px;
    width: 14px;
    height: 14px;
    background-color: #333;
    color: #fff;
    font-size: 11px;
}
.facility-popup .left-col {
    width: 140px;
    float: left;
    border-right: 1px solid #777;
}
.facility-popup .right-col {
    width: 300px;
    float: left;
    padding: 4px 8px 8px 20px;
    padding-left: 20px;
}
.facility-popup .right-col table {
    width: 100%;
}
.facility-popup .right-col table tr:nth-child(even) td {
    background-color: #ddd;
}
.facility-popup .right-col .facility-sector-select-box {
    display: none;
}
.facility-popup .right-col .facility-sector-select-box.selected {
    display: block;
}


/*- Brought CSS over from ui.html
-*/

#image-nav {
	display: none;
	padding: 3px 20px;
	height: 150px;
}
#image-nav .image-iwrap {
	width: 100%;
	overflow: auto;
	height: 130px;
}
#image-nav ul {
	width: 999em;
}
#image-nav li {
	list-style-type: none;
	margin-right: 8px;
}
.img-wrap {
	background-color: #666;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	float: left;
}
#column-description {
	padding: 20px 10px;
	background-color: rgba(0,0,0,0.1);
	margin-top: 20px;
}
.column-data-wrap {}
.column-data {
	margin: 4px 12px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	border: 0 none;
	border-radius: 3px;
}
.col-info {
	margin: 2px 5px;
}
.col-info h2 {
	margin: 2px 0;
}
.col-info h3.description {
	margin: 2px 0;
	text-decoration: underline;
}
.sn-wrap {
	position: absolute;
	top: 200px;
	left: 0;
	z-index: 99;
}
.sn {
	margin: 3px 7px;
	background-color: #fff;
	width: 185px;
	padding: 6px 3px;
}
.sn ul {
	margin: 0;
	padding-left: 20px;
}
.sn ul ul {
	padding-left: 10px;
}
#facility-tabs.hide-tds td, #facility-tabs.hide-tds th {
	display: none;
}
#facility-tabs.hide-tds .show-me {
	display: table-cell;
}

/*--
Right display div for facility popup
--*/
.rd-wrap {
	height: 65%;
	right: 0;
	position: absolute;
	z-index: 99
}
.right-div {
	background-color: #fff;
	margin: 4px 5px 5px 0;
}
.sub-sector-list {
	padding: 3px 0 16px;
}
.sub-sector-list span {
	color: #666;
}
.sub-sector-list a {
	padding: 3px 8px;
	color: #666;
	text-decoration: none;
	border-radius: 3px;
/*		text-decoration: none;
	border: 1px solid #999;
	color: #444;
	background-color: #eee;
	padding: 2px 6px;
	border-radius: 3px; */
}
.sub-sector-list a:hover {
	color: #333;
	background-color: #ddd;
}
.sub-sector-list a.selected {
	color: #000;
	background-color: #ccc;
}
.profile-data-wrap {
	position: absolute;
	top: 0;
	left: 50px;
	z-index: 15;
}
.profile-data {
	padding: 4px;
	margin: 5px 12px;
	background-color: rgba(255,255,255,0.9);
	height: 175px;
	overflow: auto;
}
.profile-data h2 {
	margin: 3px 0;
}
.profile-data h3 {
	margin: 2px 0;
}
.profile-data.hidden {
    display: none;
}
#header .toggle-button {
	color: #eee;
	text-decoration: none;
	padding: 4px 13px;
	font-size: 13px;
	opacity: 0.8;
}
div.toggleable {
	display: block;
}
div.toggleable.hidden {
	display: none;
}
#header .toggle-button.toggled {
	opacity: 1;
}
#lga-facilities-table.hidden {
	display: none;
}
#lga-facilities-table th {
	background-color: #d4ebfa;
}
#lga-facilities-table th.clickable {
	background-color: #bde0f8;
	border: 2px solid;
	border-color: #d9edfb #9bb8cb #95b1c3 #cee8fa;
}
#lga-facilities-table th.selected-column {
	background-color: #afd1e9;
	border-color: #a5c4d9 #c4e2f7 #c4e2f7 #90aabd;
}
.no-select {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
div.display-box {
	background-color: #fff;
}
div.display-box .occurrences {
	margin-left: 4px;
	font-size: 11px;
}
div.display-box * {
	margin: 0;
}
div.db-l-w, div.db-r-w {
	width: 50%;
	float: left;
}
div.db-r-w  {
	float: right;
}
div.db-l, div.db-r {
	margin: 5px 12px 5px;
}
div.db-r {
	margin-left: 0;
}
div.db-l .db-l-content {
	margin-top: 4px;
}
div.db-l h2.db-title {
	padding: 3px 0 4px;
	font-size: 15px;
}
div.db-r, div.db-l h2.db-title, div.db-l .db-l-content {
	color: #000;
	background-color: rgba(255,255,255,0.7);
}
div.db-r div.content {
	margin: 3px 6px;
}
div.db-r {
	overflow: auto;
	height: 100px;
}
#zone-navigation .zl-wrap {
	width: 16.6%;
	float: left;
}
#zone-navigation .zone-list {
	padding: 0 3px;
}
#zone-navigation .lga-count {
	color: #444;
	font-weight: normal;
	font-size: 11px;
	margin-left: 6px;
}
#zone-navigation .lga-count.zero {
	color: #aaa;
}
#zone-navigation .zone-list h2 {
	margin: 6px 0 3px;
	padding: 0 5px;
	text-transform: uppercase;
	color: #444;
	font-size: 14px;
}
#zone-navigation ul {
	border: 1px solid #aaa;
}
#zone-navigation ul ul {
	border: 0 none;
}
#zone-navigation ul li a {
	display: block;
	padding: 5px 12px;
	background-color: #eee;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	opacity: 0.8;
}
#zone-navigation ul li a:hover {
	opacity: 1;
}
#zone-navigation ul ul a {
	background-color: #fafafa;
	color: #555;
	border-color: #ddd;
	font-weight: normal;
	padding-left: 18px;
}
#zone-navigation ul ul a:before {
	content: '»';
	color: #bbb;
}
#zone-navigation ul, #zone-navigation ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#zone-navigation ul.lga-list {
	display: none;
}
#zone-navigation ul.lga-list.showing {
	display: block;
}
a.hover-unhide {
	opacity: 0.1;
}
a.hover-unhide:hover {
	opacity: 0.4;
}
.map-loading-message {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 300px;
	border: 1px solid #aaa;
	padding: 4px 9px;
	border-radius: 6px;
	background-color: #fafafa;
}
.map-key-ww {
	display: none;
	position: absolute;
	top: 0;
	z-index: 99;
	width: 100%;
}
.map-key-w {
	margin: 11px 20px 0 100px;
}
.map-key-w table {
	width: 100%;
}
.map-key-w a {
	display: block;
	float: left;
	padding: 2px 4px;
	background-color: #eee;
	border: 1px solid #888;
	color: #666;
	border-radius: 2px;
	text-decoration: none;
	margin-right: 2px;
}