#header h1#title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 7px;
    left: 140px;
    font-weight: normal;
    color: #878787;
    font-size: 21px;
}
#header h1#title span.top {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
}
.half {
	width: 50%;
}
.lfloat {
	float: left;
}

body {
/*--  font-family: Tahoma; --*/
  font-family: "Lucida Grande","Bitstream Vera Sans",Verdana,sans-serif;
  font-size: 13px;
  padding: 0;
//  background-image: url('../images/bg-shade-repeat.png');
  margin: 0; }
  body .fwidth {
    margin: 0 auto;
    position: relative;
    padding: 0 40px; }

div#content .fwidth {
    padding: 0px;
}
ul#menu .fwidth > li:first-child {
    margin-left: -10px;
}
div#header {
  position: relative;
  height: 36px;
  background-image: url("../images/header_repeat.png");
  background-color: #3d3d3d;
  }
  div#header #logo {
    width: 313px;
    height: 60px;
    display: block;
    background-image: url("../images/nmis_pilot.png");
    background-repeat: no-repeat; }
    div#header #logo span {
      display: block;
      text-indent: -9999em; }
  div#header .language_select, div#header .account_links {
    position: absolute;
    right: 25px;
    color: #ededed; }
    div#header .language_select a, div#header .account_links a {
      color: #dddddd; }
  div#header .language_select {
    bottom: 0px; }
  div#header .account_links {
    top: 5px; margin: 0; }

ul#menu {
  margin: 0;
  padding: 0;
  background-image: url("../images/menu_grad.png");
  background-repeat: repeat-x;
  height: 30px; }
  ul#menu li {
    float: left;
    text-align: center;
    display: block;
    padding: 0 4px;
    line-height: 30px; }
    ul#menu li a {
      display: block;
      color: #eee;
      font-size: 14px;
      font-weight: normal;
      text-decoration: none;
      padding: 1px 20px 2px;
      margin: 2px 5px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border: 2px solid transparent;
      opacity: 0.85;
      line-height: 18px; }
      ul#menu li.selected a, ul#menu li a:hover {
        opacity: 1;
        background-image: url("../images/button_repeat.png");
        background-repeat: repeat-x;
        border: 2px solid #2d2d2d; }

div#body {
  position: relative; }

div#footer {
  position: relative; }

div.icontent {
    padding: 4px 12px;
}

#hlogo {
	display: block;
}
#hlogo img {
	border: 0 none;
	margin: -3px 0;
	height: 34px;
}
h2.title {
	position: absolute;
	left: 100px;
	top: 5px;
	font-size: 16px;
	margin: 0;
	color: #aaa;
	font-weight: normal;
}
.subsection {
	display: none;
}

.ft-wrap {
    width: 100%;
    overflow:auto;
}

.pagination {
    padding: 8px;
    font-size: 80%;
    height: 30px;
}

.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
.pagination a.disabled {
	opacity: 0.4;
}
.pagination a.selected {
	background-color: #668fc9;
	color: #fff;
}

.search-row {
    padding: 4px 10px;
    border: 1px solid #eee;
    margin: 2px 20px;
}

.error-box {
	background-color: #feecec;
	border: 1px solid #fccece;
	margin: 6px 20px;
	padding: 5px 10px;
	color: #511e1e;
}
.error-box h2 {
	margin: 4px 0;
}
.error-box p {
	margin: 4px 0;
}
table.halfw {
    width: 50%;
}
table.fullw {
	width: 100%;
}
.table-spacer {
	height: 16px;
	width:1px;
	border-left: 1px dotted #888;
}
#content .fwidth .nav {
	margin: 3px 0 1px;
	background-color: rgba(255,255,255,0.5);
	border: 1px solid #ccc;
	padding: 5px 12px;
}
#content .fwidth .nav a.nav-button {
	background-color: #fff;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #555;
	padding: 1px 6px;
}
#content .fwidth .nav a.nav-button:hover {
	color: #000;
}
#content .fwidth .nav .raquo {
	color: #555;
}
#content .fwidth .nav .raquo:last-child {display: none;}

.content-inner-wrap {
    background-color: #fff;
	border: 1px solid #666;
	padding: 6px;
	margin: 6px;
}

#footer {
	background-color: rgb(68, 68, 68);
	position: fixed;
	bottom: 0pt;
	width: 100%;
}
#footer .footer-section {
	border: 1px solid rgb(120, 120, 120);
	margin: 8px;
	padding: 6px 12px;
	width: 200px;
	float: left;
	color: rgb(204, 204, 204);
}
#footer p {
	margin: 0pt;
}
#footer .fs-h {
	text-decoration: underline;
	font-size: 13px;
	color: rgb(160, 160, 160);
	margin:0 0 2px 0;
}
#footer p.fs-info, #footer p.fs-sub-info {
	color: rgb(150, 150, 150);
	font-size: 11px;
	font-style: italic;
	margin:0 0 2px;
}
#footer p.fs-sub-info {
	margin: 0 0 1px 6px;
}
#footer p.fs-link {
	color: rgb(160, 160, 160);
	font-size: 13px;
}
#footer p.fs-link a {
	color: rgb(160, 160, 160);
	text-decoration: none;
	display: block;
}
br.cb { clear: both; }

table.pretty {
    border-spacing: 0px;
}
table.pretty td {
    padding: 2px 8px
}
table.pretty thead th {
    text-align: left;
    border: 1px solid #bbb;
    border-width: 0 0 1px 0;
    padding: 3px 3px 3px 6px;
}
table.pretty a {
    text-decoration: none;
    color: #000;
}
table.pretty td {
    border: 1px solid #eee;
    border-width: 0 0 1px;
}


/* Copyright 2008-10 Jarrett Vance
* see http://www.codeplex.com/blogsvc/license */
.ui-rater>span {vertical-align:top;}
.ui-rater-rating {margin-left:.8em}
.ui-rater-starsOff, .ui-rater-starsOn {display:inline-block; height:18px; background:url(../../img/default/stars.png) repeat-x 0 0px;}
.ui-rater-starsOn {display:block; max-width:90px; top:0; background-position: 0 -36px;}
.ui-rater-starsHover {background-position: 0 -18px!important;}

div.lr-cols {
	padding-left: 320px;
	position: relative;
}
div.lr-cols hr {
	border-color: #ccc;
}
.cb {
	clear: both;
}
.l-col {
	position: absolute;
	top:0;
	left:0;
	width: 320px;
}
.l-col h2 {
	margin: 2px 20px;
	text-align: center;
}
.r-col {
	padding: 4px;
}
.r-col .r-sect {
	border: 1px solid #ddd;
	padding: 5px;
	margin: 0 0 4px;
}
.r-col .r-sect .rs-title {
	font-size: 16px;
	font-weight: bold;
	margin: 2px 0;
}
