.map-tab {
  padding: 0 12px;
  height: 200px; }

.map-nav-bar {
  height: 23px;
  overflow: auto; }

div.left-side-nav {
  width: 29%;
  float: left;
  background-color: white; }
  div.left-side-nav h1.sn-title {
    padding: 2px 25px;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    color: white;
    background-color: #333333; }
  div.left-side-nav div.navwrap {
    border: 1px solid #666666; }
    div.left-side-nav div.navwrap p.notalink, div.left-side-nav div.navwrap a {
      display: block;
      padding: 2px 25px;
      margin: 0;
      line-height: 24px; }
    div.left-side-nav div.navwrap ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      div.left-side-nav div.navwrap ul li {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #bbbbbb; }
        div.left-side-nav div.navwrap ul li:last-child {
          border-bottom: 0 none; }
      div.left-side-nav div.navwrap ul ul li {
        padding-left: 12px; }

div.full-content {
  padding: 0px; }
  div.full-content div.iwrap {
    background-color: white;
    border: 1px solid #999999;
    padding: 12px 20px; }

div.right-content {
  width: 69%;
  float: right; }
  div.right-content div.iwrap {
    background-color: white;
    border: 1px solid #999999;
    padding: 12px 20px; }

body.wide-content #content {
  position: relative; }
  body.wide-content #content .fwidth {
    padding: 0; }
    body.wide-content #content .fwidth div.left-side-nav {
      display: none; }
  body.wide-content #content .right-content {
    width: 100%; }

th.col-top {
  text-transform: uppercase; }
  th.col-top div.tab {
    padding: 5px 7px;
    border: 1px solid #cccccc;
    border-width: 1px 1px 2px 1px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    background-color: #eeeeee; }

td.centered {
  text-align: center; }

table.shade-alternate {
  border-spacing: 0; }
  table.shade-alternate td {
    border-bottom: 1px solid #cccccc;
    padding: 3px 5px;
    border-left: 1px solid #dddddd; }
    table.shade-alternate td div.tab {
      border: 1px solid #dddddd; }
    table.shade-alternate td.ltab {
      padding: 2px 0;
      border: 0 none; }
      table.shade-alternate td.ltab div.tab {
        background-color: white;
        border: 1px solid #dddddd;
        border-right: 0px none;
        padding: 3px 3px 3px 5px;
        color: #444444;
        -moz-border-topleft-radius: 3px;
        -moz-border-bottomleft-radius: 3px; }
  table.shade-alternate tr:nth-child(even) td:last-child {
    border-right: 1px solid #cccccc; }
  table.shade-alternate tr:nth-child(odd) td {
    background-color: #efefef; }
    table.shade-alternate tr:nth-child(odd) td.ltab {
      background-color: transparent; }
    table.shade-alternate tr:nth-child(odd) td:last-child {
      border-right: 1px solid #cccccc; }

table.fullw {
  width: 100%; }

table.align-top td {
  vertical-align: top; }

table.padded td {
  padding: 7px; }
