.map-tab {
  padding: 0 12px;
  height: 200px; }

div.left-side-nav {
  width: 27.5%;
  float: left; }
  div.left-side-nav h1.sn-title {
    padding: 2px 25px;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    color: white;
    background-color: #333333; }
  div.left-side-nav div.navwrap {
    border: 1px solid #666666; }
    div.left-side-nav div.navwrap p.notalink, div.left-side-nav div.navwrap a {
      display: block;
      padding: 2px 25px;
      margin: 0;
      line-height: 24px; }
    div.left-side-nav div.navwrap ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      div.left-side-nav div.navwrap ul li {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #bbbbbb; }
      div.left-side-nav div.navwrap ul ul li {
        padding-left: 12px; }

div.right-content {
  width: 67.5%;
  float: right; }
