.map-key-ww {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.map-key-w {
    margin: 8px;
    padding: 8px 8px 8px 100px;
}
.map-key {
    
}

.map-key-w table {
    width: 100%;
}
td.right-align div {
    text-align: right;
}
td.empty-spacer div {
    height: 25px;
}
.selector-wrap {
    -moz-border-radius: 2px;
    border:1px solid #aaa;float:left; padding: 1px 4px; margin: 0 2px;
    font-weight: normal;
    color: #888;
}
.selector-wrap select {
    margin-left: 8px;
}

.im-wrap {
    border: 1px solid #bbb;
    background-color: #ddd;
    border-radius: 4px;
    padding: 5px 5px 0;
}
.im-wrap .im-caption {
    margin: 5px 4px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}