#header h1#title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 7px;
    left: 140px;
    font-weight: normal;
    color: #878787;
    font-size: 21px;
}
#header h1#title span.top {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
}
.half {
	width: 50%;
}
.lfloat {
	float: left;
}

body {
/*--  font-family: Tahoma; --*/
  font-family: "Lucida Grande","Bitstream Vera Sans",Verdana,sans-serif;
  font-size: 13px;
  padding: 0;
  background-image: url('../images/bg-shade-repeat.png');
  margin: 0; }
  body .fwidth {
    margin: 0 auto;
    position: relative;
    padding: 0 40px; }

div#content .fwidth {
    padding: 0px;
}
ul#menu .fwidth > li:first-child {
    margin-left: -10px;
}
div#header {
  position: relative;
  height: 36px;
  background-image: url("../images/header_repeat.png"); }
  div#header #logo {
    width: 313px;
    height: 60px;
    display: block;
    background-image: url("../images/nmis_pilot.png");
    background-repeat: no-repeat; }
    div#header #logo span {
      display: block;
      text-indent: -9999em; }
  div#header .language_select, div#header .account_links {
    position: absolute;
    right: 25px;
    color: #ededed; }
    div#header .language_select a, div#header .account_links a {
      color: #dddddd; }
  div#header .language_select {
    bottom: 0px; }
  div#header .account_links {
    top: 5px; margin: 0; }

ul#menu {
  margin: 0;
  padding: 0;
  background-image: url("../images/menu_grad.png");
  background-repeat: repeat-x;
  height: 30px; }
  ul#menu li {
    float: left;
    text-align: center;
    display: block;
    padding: 0 4px;
    line-height: 30px; }
    ul#menu li a {
      display: block;
      color: #eee;
      font-size: 14px;
      font-weight: normal;
      text-decoration: none;
      padding: 1px 20px 2px;
      margin: 2px 5px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border: 2px solid transparent;
      opacity: 0.85;
      line-height: 18px; }
      ul#menu li.selected a, ul#menu li a:hover {
        opacity: 1;
        background-image: url("../images/button_repeat.png");
        background-repeat: repeat-x;
        border: 2px solid #2d2d2d; }

div#body {
  position: relative; }

div#footer {
  position: relative; }

div.icontent {
    padding: 4px 12px;
}

#hlogo {
	display: block;
}
#hlogo img {
	border: 0 none;
	margin: -3px 0;
	height: 34px;
}
h2.title {
	position: absolute;
	left: 100px;
	top: 5px;
	font-size: 16px;
	margin: 0;
	color: #aaa;
	font-weight: normal;
}
.subsection {
	display: none;
}

.ft-wrap {
    width: 100%;
    overflow:auto;
}

.pagination {
    padding: 8px;
            font-size: 80%;
        }

.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
.pagination a.disabled {
	opacity: 0.4;
}
.pagination a.selected {
	background-color: #668fc9;
	color: #fff;
}
