{% extends "base.html" %}
{% block htitle %}Data{% endblock %}
{% block title %}Data{% endblock %}
{% block content %}

<div class="left-side-nav">
	<div class="navwrap">
	<h1 class="sn-title">
		Data Section
	</h1>
	<ul>
		<li><a href="/data">Data</a></li>
		<ul>
			<li><a href="/data/activity">Recent Activity</a></li>
		</ul>
	</ul>
	</div>
</div>
<div class="right-content">
	<div class="iwrap">
	<h1 class="sn-title">
	  Recent Activity
	</h1>
	<div>
		<table border="0" cellspacing="5" cellpadding="5" class="fullw logger">
			<tr>
				<th>Submission</th>
				<th>Phone</th>
				<th>Submission Time</th>
				<th>Survey Length</th>
			</tr>
			{% for submission in submissions %}
			<tr>
				<td>{{submission.survey_type.name}}</td>
				<td>{{submission.phone}}</td>
				<td>{{submission.end}}</td>
				<td>{{submission.survey_length}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	</div>
</div>
{% endblock %}