{% extends "base.html" %}
{% block htitle %}Map{% endblock %}
{% block content %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
<!--
var coords = {{coords|safe}};
$(function(){
	var lats = $.map(coords, function(a){return a.lat}),
	    lngs = $.map(coords, function(a){return a.lng}),
		maxLat = Math.max.apply(this, lats),
		maxLng = Math.max.apply(this, lngs),
		minLat = Math.min.apply(this, lats),
		minLng = Math.min.apply(this, lngs),
		options = {
		zoom: 6,
		center: new google.maps.LatLng((maxLat-minLat)/2+minLat, (maxLng-minLng)/2+minLng),
		mapTypeId: google.maps.MapTypeId.TERRAIN
	}
	map = new google.maps.Map($('#map')[0], options);
	$(coords).each(function(){
		var marker = new google.maps.Marker({
			position: new google.maps.LatLng(this.lat, this.lng),
			title: this.title
		});
		var infowindow = new google.maps.InfoWindow({
			content: "<h3>"+this.title+"</h3>"
		});
		marker.setMap(map);
		google.maps.event.addListener(marker, 'click', function(){
			infowindow.open(map, this);
		})
	});
});
-->
</script>

<div id="map" style="height:400px;margin:-17px -40px"></div>
{% endblock %}
