{% extends "base.html" %}
{% block htitle %}View{% endblock %}
{% block title %}View{% endblock %}
{% block content %}
<div class="left-side-nav">
	<div class="navwrap">
	<h1 class="sn-title">
		View
	</h1>
	<ul>
		<li><p class='notalink'>Map of Submitted Surveys</p></li>
	</ul>
	</div>
</div>
<div class="right-content">
	<div id="map-tabnav">
	<ul>
		<li>
			<a href="#all">All Submissions</a>
		</li>
		<li>
			<a href="#surveyors">By Surveyor</a>
		</li>
		<li>
			<a href="#survey">By Survey</a>
		</li>
		<li>
			<a href="#recent">Recent Activity</a>
		</li>
	</ul>
	<div id="all">
		All
	</div>
	<div id="surveyors">
		Surveyors
	</div>
	<div id="survey">
		Survey
	</div>
	<div id="recent">
		Recent
	</div>
	<div class="map-tab">&nbsp;</div>
</div>
</div>
<script type="text/javascript" charset="utf-8">
<!--
var Map,
	Center = [8.950110375881215, 7.691971957683561],
	ResizeMap = (function(){
	var mapBox = $('.map-tab'),
		offset = mapBox.offset().top,
		wh = $(window).height(),
		padding = 10,
		sh = wh - (offset + padding);
	
	return function(){
		offset = mapBox.offset().top;
		wh = $(window).height();
		sh = wh - (offset + padding);
		if(sh>100) {mapBox.css({'height':sh})}
	}
})();
ResizeMap();
$(window).resize(ResizeMap);

var points = {
	'all': [],
	'surveyor': [],
	'survey': [],
	'activity': []
}

$('#map-tabnav').tabs({
	select: function(ui, clck){
		var clickType = clck.tab.hash.replace('#','');
		console.log(clickType);
//		console.log(this, arguments);
	}
});
$(function(){
	var options = {
		zoom: 6,
		center: new google.maps.LatLng(Center[0], Center[1]),
		mapTypeId: google.maps.MapTypeId.TERRAIN
	};
	Map = new google.maps.Map($('.map-tab').get(0), options)
})
-->
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}