html { height: 100%; overflow: hidden }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100%;}
.leaflet-popup-content {max-height: 450px; overflow: auto; width: 420px; padding: 4px;}
.leaflet-popup-content ul {list-style-type:none;}
.navbar .nav.pull-right .dropdown-menu {max-height: 600px; overflow: auto;}
.navbar .nav.pull-right .dropdown-menu.questions {width: 400px;}
.dropdown-menu a {white-space: normal; max-width: 600px;}
.legends-container {
    width: 200px;
    position: absolute;
    bottom: 15px;
    z-index: 7;
    left: 15px;
}
.legends-container div {
    margin-bottom: 8px;
}
.legends-container div:last-child {
    margin-bottom: 0px;
}
#legend, #hex-legend {
    background-color: white;
    opacity: 0.95;
    padding: 8px;
    border-radius: 3px;
}
#legend ul, #hex-legend ul {list-style: none;margin: 0px}
#legend ul li {}
#hex-legend .scale ul li {
    display: block;
    float: left;
    width: 22px;
    margin: 0 0 6px 0;
    text-align: center;
}
#hex-legend .scale {
    font-size: 60%;
    margin: 5px 0 0 0;
}
#legend span.legend-bullet {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    border-radius: 3px;
}
#hex-legend span {
    width: 22px;
    height: 15px;
    float: left;
}
#legend span.item-label{
    padding: 0px 20px 0px 20px;
    display: block;
}
#legend a.legend-label {padding: 6px; font-weight: bold;}
#legend a.legend-label.active {
    background-color: #0078A8;
    color: white;
}
#legend a.legend-label.inactive {
    font-weight: normal;
    color: #666;
}
#legend .legend-response-count{float: right; font-weight: bold}
.progress {
    margin-bottom: 0;
}
#map_canvas {
    width:100%;
    height:100%;
}
.leaflet-control-layers-list{
    margin-bottom: 0px;
}

.layer-button-container{
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    border: 1px solid #888;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.layer-button-container  .layer-markerButton.layer-markerButton-active{
    background-color: rgba(153, 153, 153, 0.2);
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: url(images/marker_overlay_active.png);
    background-repeat:no-repeat;
    background-position: center;
    width: 34px;
    height: 34px;
    border-bottom: 1px solid #aaa;
}
.layer-button-container .layer-markerButton{
    background-image: url(images/marker_overlay.png);
    background-repeat:no-repeat;
    background-position: center;
    width: 34px;
    height: 34px;
    border-bottom: 1px solid #aaa;
}

.layer-button-container .layer-hexbinButton{
    background-image: url(images/hexbin_overlay.png);
    background-repeat:no-repeat;
    background-position: center;
    width: 34px;
    height: 34px;
}

.layer-button-container .layer-hexbinButton.layer-hexbinButton-active{
    background-color: rgba(153, 153, 153, 0.2);
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: url(images/hexbin_overlay_active.png);
    background-repeat:no-repeat;
    background-position: center;
    width: 34px;
    height: 34px;
}