{% extends 'base.html' %}
{% load i18n %}

{% block additional-headers %}
    <link rel="stylesheet" href="/static/recline/dist/recline.css" />
    <link rel="stylesheet" href="/static/recline/vendor/slickgrid/2.0.1/slick.grid.css" />
    <link rel="stylesheet" href="/static/js/datetimepicker/datepicker.css" />
{% endblock %}

{% block content %}
<section id="activity">
    <div class="page-header">
        <h1>{%  trans "Account Activity" %}</h1>
    </div>
    <div class="row">
        <span class="span12">
            <div id="activity-grid"></div>
            <div style="clear: both;"></div>
        </span>
    </div>
</section>
{% endblock %}

{% block javascript %}
{{ block.super }}
    <script src="/static/js/underscore-min.js" type="text/javascript"></script>
    <script src="/static/recline/vendor/mustache/0.5.0-dev/mustache.js" type="text/javascript"></script>
    <!-- Slick Grid -->
    <script src="/static/recline/vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
    <script src="/static/recline/vendor/slickgrid/2.0.1/jquery.event.drag-2.0.min.js" type="text/javascript"></script>
    <script src="/static/recline/vendor/slickgrid/2.0.1/slick.grid.min.js" type="text/javascript"></script>
    <script src="/static/recline/vendor/backbone/0.9.2/backbone.js" type="text/javascript"></script>
    <script src="/static/recline/dist/recline.js" type="text/javascript"></script>
    <script src="/static/js/backend.activity-api.js" type="text/javascript"></script>
    <script src="/static/js/widget.activity-filter-editor.js" type="text/javascript"></script>
    <script src="/static/js/datetimepicker/datepicker.js" type="text/javascript"></script>
<script type="text/javascript">
    var fieldUrl = "{% url "main.views.activity_fields" %}";
    var apiUrl = "{% url "main.views.activity_api" user.username %}";
    var dataset = new recline.Model.Dataset({
        fieldUrl: fieldUrl,
        url: apiUrl,
        backend: "ActivityAPI"
    });
    //dataset.fetch();

    var views = [
        {
            id: 'grid',
            label: 'Account Activity Grid',
            view: new recline.View.SlickGrid({
                model: dataset,
                state: {
                    fitColumns: true,
                    columnsWidth: [
                        {
                            column: 'created_on',
                            width: 17
                        },
                        {
                            column: 'action',
                            width: 19
                        },
                        {
                            column: 'user',
                            width: 10
                        },
                        {
                            column: 'msg',
                            width: 64
                        }
                    ]
                }
            })
        }
    ];

    var sideBarViews = [{
        id: 'filterEditor',
        label: 'Filters',
        view: new recline.View.ActivityFilterEditor({
            model: dataset
        })
    }, {
        id: 'fieldsView',
        label: 'Fields',
        view: new recline.View.Fields({
            model: dataset
        })
    }];

    var multiView = new recline.View.MultiView({
        model: dataset,
        views: views,
        sidebarViews: sideBarViews
    });

    $(document).ready(function() {
        $('#activity-grid').append(multiView.el);
    });
</script>
{% endblock %}
