{% extends 'base.html' %}

{% block content %}
  <div class="content-section">
    {% include "publish_survey.html" %}
  </div>

  <div class="content-section">
    {% include "published_surveys.html" %}
  </div>

  {% if extra_section %}
    {% include extra_section %}
  {% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">
	$('a.delete').click(function(evt){
		!confirm('Are you sure you want to delete this survey?') && evt.preventDefault();
	});
</script>
{% endblock %}
