{% load humanize %}

{% block content %}

<section id="profile">
  <div class="row">
    <div class="span5">
        <h1>Publish a Form <small>Upload XLSForm</small></h1>
        For a quick introduction on how to publish a form check out
        the <a href="{% url main.views.tutorial %}">tutorial</a>, and try publishing
        <a href="http://formhub.org/formhub_u/forms/tutorial/form.xls">tutorial.xls</a>.
        <br/>
        <br/>
        Learn about the XLSForm syntax <a href="/syntax/">here</a>, email <a href="https://groups.google.com/forum/?fromgroups#!forum/formhub-users">formhub users mailing list</a> if you have questions, and checkout examples at: <br/><a href="https://formhub.org/formhub_u/">Formhub University</a>.
        <br/>
        <br/>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="tabbable">
            <ul class="nav nav-tabs nomarginbottom">
                <li class="active"><a href="#upload" data-toggle="tab">Upload</a></li>
                <li><a href="#url" data-toggle="tab">URL</a></li>
            </ul>
            <div class="tab-content bordered-side">
                <div class="tab-pane active" id="upload">
                    <table class="narrow-labels">
                        {{ form.as_table }}
                    </table>
                </div>
                <div class="tab-pane" id="url">
                    <table class="narrow-labels">
                        {{ form_url.as_table }}
                    </table>
                </div>
            </div>
            </div>
            <span style='float:middle;'>
	        <div class="form-actions bordered-side bordered-bottom nomargintop">
                <input type="submit" class="btn large btn-primary" value="Publish" />
		</div>
            </span>
        </form>
    </div>
    <div class="span1">
        &nbsp;
    </div>
    <div class="span6 profile">
        <div class="bordered">
        <div class="row">
        <div class="span1">
            {% if not profile.gravatar_exists %}
                <a style="display: inline-block;" title="Click to change your avatar" href="https://secure.gravatar.com/site/login" id="gravatar">
            {% endif %}
            <img src='{{ profile.gravatar }}' alt='gravatar' width='40' height='40' />
            {% if not profile.gravatar_exists %}
               </a>
               <script type="text/javascript">$('#gravatar').tooltip();</script>
            {% endif %}
        </div>
        <div class="span4">
            <h3 class="short">
                <a href="/{{content_user.username}}/profile">{{ content_user.username }}</a>
                {% if profile.name %}
                <span class="name">|&nbsp;{{ profile.name }}</span>
                {% endif %}
            </h3>
            <span><a href="/{{content_user.username}}/profile">View Profile Page</a></span>
        </div>
        </div>
        <div class="row">
        <div class="span1">
            <h4>{{ all_forms|intcomma }}</h4>
        </div>
        <div class="span2">
            <h4>{{ num_forms|intcomma }}</h4>
        </div>
        <div class="span2">
            <h4>{{ user_surveys|intcomma }}</h4>
        </div>
        </div>
        <div class="row">
        <div class="span1">
            <small>FORMS</small>
        </div>
        <div class="span2">
            <small>SHARED FORMS</small>
        </div>
        <div class="span2">
            <small>SUBMISSIONS</small>
        </div>
        </div>
        </div>
    </div>
</div>
</section>
{% include "published_surveys.html" %}
{% endblock %}

