{% extends 'base.html' %}

{% block content %}
<section id="shared-forms">
  <div class="page-header">
    <h1>Form Gallery <small>Shared Forms</small></h1>
  </div>

  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.pagination.js"></script>

  <script type="text/javascript" charset="utf-8">

        $.extend( $.fn.dataTableExt.oStdClasses, {
          "sSortAsc": "header headerSortDown",
          "sSortDesc": "header headerSortUp",
          "sSortable": "header"
        } );

	$(document).ready(function() {
	  $('#forms-table').dataTable({
                  "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
	          "bPaginate" : true,
                  "sPaginationType": "bootstrap",
                  "bSort": true, 
                  "oLanguage": {"sSearch": "Search:"},
                  "oSearch": {"sSearch": ""},
      });
      $('#forms-table_filter').addClass('row')
	} );
  </script>

  <table id="forms-table" class="zebra-striped">
    <thead>
      <tr>
        <th></th>
        <th>User</th><!-- we will want more user information -->
        <th>Name</th>
        <th>Description</th>
        <th>XLSForm</th>
      </tr>
    </thead>
    <tbody>
      {% for data_dictionary in shared_forms %}
      <tr>
        <td>
          <img src='{{ data_dictionary.user.profile.gravatar }}' alt='' width='20' height='20' />
        </td>
        <td>
          <a href="/{{ data_dictionary.user.username }}">{{ data_dictionary.user.username }}</a>
        </td>
        <td><a href="{% url main.views.show data_dictionary.user.username data_dictionary.id_string %}">{{ data_dictionary.title }}</a></td>
        <td>{{ data_dictionary.description }}</td>
        <td>
          {% if data_dictionary.xls %}
            <a href="{% url download_xlsform data_dictionary.user.username data_dictionary.id_string %}"><button class="btn small success">Excel</button></a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>
{% endblock %}
