{% extends 'base.html' %}

{% block additional-headers %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="/static/galleria/themes/classic/galleria.classic.css">
<link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% block body %}
<body>
    {% include "topbar.html" %}
    <div id="gallery">
    {% for image_url in images %}
        <a href="{{ image_url.large }}">
            <img longdesc={{ image_url.original }} src="{{ image_url.small }}" alt="{{ image_url.original }}">
        </a>
    {% endfor %}
    </div>

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="/static/galleria/galleria-1.2.8.min.js"></script>
<script type="text/javascript" src="/static/galleria/themes/classic/galleria.classic.min.js"></script>
<script type="text/javascript">
    // Load the classic theme
    // Galleria.loadTheme('/static/galleria/themes/classic/galleria.classic.min.js');
    Galleria.configure({
        transition: 'fade',
        lightbox: false,
        popupLinks: true,
        showInfo: true
    });
    // Initialize Galleria
    Galleria.run('#gallery');
</script>
{% endblock %}
</body>
{% endblock %}
