{% extends 'base.html' %}

{% block additional-headers %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
    html { height: 100%; overflow: hidden }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 100% }
</style>
{% endblock %}

{% block body %}
<body>
    {% include "topbar.html" %}
    <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
    {% for image_url in images %}
        <div class="item"><img src="{{ image_url }}"></div>
    {% endfor %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <div id="gallery">
    </div>
    <script type="text/javascript">
        $('.myCarousel').carousel()
    </script>
</body>
{% endblock %}
