{% extends 'base.html' %}

{% block content %}
<section id="shared-forms">
  <div class="page-header">
    <h1>Form Gallery <small>Shared Forms</small></h1>
  </div>
    <div id="mfeedback">&nbsp;</div>
  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.pagination.js"></script>

  <script type="text/javascript" charset="utf-8">

        $.extend( $.fn.dataTableExt.oStdClasses, {
          "sSortAsc": "header headerSortDown",
          "sSortDesc": "header headerSortUp",
          "sSortable": "header"
        } );

	$(document).ready(function() {
	  $('#forms-table').dataTable({
                  "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
	          "bPaginate" : true,
                  "sPaginationType": "bootstrap",
                  "bSort": true, 
                  "oLanguage": {"sSearch": "Search:"},
                  "oSearch": {"sSearch": ""},
      });
      $('#forms-table_filter').addClass('row');
      
      $('#mfeedback').hide();
      
      {% if loggedin_user %}
      // add click event to all public (x)forms
      $('a.clonexls').click(function(){
        data = this.href.split("#")[1].split("/")
        clone_xlsform(data[0], data[1]);
        return false;
      });
       {% endif %}
	} );
	{% if loggedin_user %}
	var clone_xlsform = function (username, formid){
	    // send to server form owner and form id for cloning/copying
	    $.post('/{{ loggedin_user.username }}/cloneform',
	        {'username': username,
	         'id_string': formid}, function(data){
	        if(data.type == "success" || data.type == "error"){
	            $('#mfeedback').html('<div class="alert-message"><a class="close" href="#">x</a><p>' + data.text+'</p></div>');
	            $('#mfeedback').show();
	            $('.alert-message').alert()
	        }
	    }, 'json');
	};
	{% endif %}
  </script>

  <table id="forms-table" class="zebra-striped">
    <thead>
      <tr>
        <th></th>
        <th>User</th><!-- we will want more user information -->
        <th>Name</th>
        <th>Description</th>
        <th>XLSForm</th>
      </tr>
    </thead>
    <tbody>
      {% for data_dictionary in shared_forms %}
      <tr>
        <td>
          <img src='{{ data_dictionary.user.profile.gravatar }}' alt='' width='20' height='20' />
        </td>
        <td>
          <a href="/{{ data_dictionary.user.username }}">{{ data_dictionary.user.username }}</a>
        </td>
        <td><a href="{% url main.views.show data_dictionary.user.username data_dictionary.id_string %}">{{ data_dictionary.title }}</a></td>
        <td>{{ data_dictionary.description }}</td>
        <td>
          {% if data_dictionary.xls %}
            <a href="{% url download_xlsform data_dictionary.user.username data_dictionary.id_string %}"><button class="btn small success">Excel</button></a>
            {% if loggedin_user %}
            <a href="#{{ data_dictionary.user.username }}/{{ data_dictionary.id_string }}" class="clonexls"><button class="btn small">Clone Form</button></a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>
{% endblock %}
