{% extends 'base.html' %}
{% load humanize %}

{% load i18n %}

{% block content %}
    <!-- <br/>
            <h1>{% trans "Welcome to formhub!" %}<small>&nbsp;{% trans "The hub for your mobile data collection needs" %}</small></h1>
        <div class="row">
          <div class="span5">
        <p><em>{% blocktrans %}formhub is a <strong>free</strong> hosted service that makes data collection <strong>simple</strong> and <strong>collaborative</strong>.{% endblocktrans %}</em></p>
        {% url registration_register as registration_register %}
        <p>{% blocktrans %}<strong>Simple.</strong> All you need to get started is an <a href="{{ registration_register }}">account</a> on formhub and the ability to author .xls files. Absolutely no technical setup required.{% endblocktrans %}</p>
        {% url syntax as syntax_url %}
        {% url forms_list as forms_url %}
        <p>{% blocktrans %}<strong>Collaborative.</strong> Share your data collection forms in <a href="{{ syntax_url }}">Excel</a>. <a href="{{ forms_url }}">Find</a>, grab and modify other <a href="{{ forms_url }}">peoples' forms</a> and quickly deploy it. Publish gathered data to share it with others via Excel, CSV, KML or an interactive map.{% endblocktrans %}
        </p>
        <p>
        <strong>{% trans "Mobile." %}</strong>
          {% blocktrans %}formhub works seemlessly with <a href="http://www.opendatakit.org">ODK Collect</a> a robust and proven data collection platform for Android.{% endblocktrans %}  
        </p>
        <p>
        {% blocktrans %}For more info please read <a href="http://blog.formhub.org/2011/12/05/data-gatherers-of-the-world-unite/">here</a>.{% endblocktrans %}
        </p>
        <p><b>{% trans "Not registered?" %}</b></p>
        <p style="font-size:larger">
         <a href="/accounts/register/" class="btn btn-primary">{%  trans "Create Account" %} &raquo;</a>
        </p>
          </div>
         
         <div class="span7">
           <p><img src="/static/tutorial/submitted_data.png" width="100%"></p>
           <br/>
           <br/>
           <div class="row" style="float:right">
             <div class="span3">
               <h1 class="short">{{ num_forms|intcomma }}</h1>
             </div>
             <div class="span2">
               <h1 class="short">{{ num_shared_forms|intcomma }}</h1>
             </div>
             <div class="span2">
               <h1 class="short">{{ num_users|intcomma }}</h1>
             </div>
           </div>
           <div class="row" style="float:right">
             <div class="span3">
               <h1><small>{%  trans "forms submitted" %}</small></h1>
             </div>
             <div class="span2">
               <h1><small>{% trans "shared forms" %}</small></h1>
             </div>
             <div class="span2">
               <h1><small>{% trans "formhubbers!" %}</small></h1>
             </div>
           </div>
         </div>
        </div> -->
	
<div class="main-display">
	<div class="content row">
		<div class="span12">
			<div class="span4">
				<img src="../static/images/masthead/mobile.png" class="center">
			</div>
		</div>
	</div>
</div>
<div class="display-unit">
	<div class="row-fluid">
		<div class="title">
			How it Works
		</div>
		<div class="span12">
			<div class="span4">
				<img src="../static/images/how_works/design.png" class="center">
			</div>
			<div class="span4">
				<img src="../static/images/how_works/collect.png" class="center">
			</div>
			<div class="span4">
				<img src="../static/images/how_works/analyze.png" class="center">
			</div>
		</div>
		<div class="span12">
			<div class="span4">
				<h2>
					Design
				</h2>
				<p>
					Author surveys quickly and easily in Excel and have instant access on your Android phone. No advanced technical degree required.
				</p>
			</div>
			<div class="span4">
				<h2>
					Collect
				</h2>
				<p>
					Easily distribute your survey on an Android device or on the web. Data connection not needed.
				</p>
			</div>
			<div class="span4">
				<h2>
					Analyze
				</h2>
				<p>
					Visualize your data as it is collected, and gain understanding with our powerful insights tools.
				</p>
			</div>
		</div>
	</div>
</div>


<div class="row-fluid">
	<div class="span12 title-grey">
		<span>Proudly used by</span>
	</div>
	<div class="span12">
		<div class="span2">
			<img src="../static/images/used_by/1.png" class="center">
		</div>
		<div class="span4">
			<img src="../static/images/used_by/2.png" class="center">
		</div>
		<div class="span2">
			<img src="../static/images/used_by/3.png" class="center">
		</div>
		<div class="span2">
			<img src="../static/images/used_by/4.png" class="center">
		</div>
		<div class="span2">
			<img src="../static/images/used_by/5.png" class="center">
		</div>
	</div>
	<div class="span12">
		<div class="formhub-stat">
			<div class="num">
				{{ num_forms|intcomma }}
			</div>forms submitted
			<div class="num">
				{{ num_shared_forms|intcomma }}
			</div>shared forms
			<div class="num">
				{{ num_users|intcomma }}
			</div>formhubbers.
		</div>
	</div>
</div>

<div class = "separator"> </div>

<div class = "row-fluid">
	<div class = "span12">
		<div class="span6">
			<div class = "title"> Features </div> 
			<p>{% blocktrans %}<strong>Simple.</strong> All you need to get started is an <a href="{{ registration_register }}">account</a> on formhub and the ability to author .xls files. Absolutely no technical setup 				required.{% endblocktrans %}</p> {% url syntax as syntax_url %} {% url forms_list as forms_url %}
			<p>{% blocktrans %}<strong>Collaborative.</strong> Share your data collection forms in <a href="{{ syntax_url }}">Excel</a>. <a href="{{ forms_url }}">Find</a>, grab and modify other <a href="{{ forms_url 				}}">peoples' forms</a> and quickly deploy it. Publish gathered data to share it with others via Excel, CSV, KML or an interactive map.{% endblocktrans %}
			</p>
			<p>
			<strong>{% trans "Mobile." %}</strong>
			  {% blocktrans %}formhub works seemlessly with <a href="http://www.opendatakit.org">ODK Collect</a> a robust and proven data collection platform for Android.{% endblocktrans %}  
			</p>
			<p>
				{% blocktrans %}For more info please read <a href="http://blog.formhub.org/2011/12/05/data-gatherers-of-the-world-unite/">here</a>.{% endblocktrans %}
			</p>
			
		</div>
		<div class="span6">
			<img src = "../static/images/screenshot.png" style="float:right">
		</div>
	</div>
</div>

<br>
<br>


{% endblock %}
