{% extends 'base.html' %}
{% block content %}

  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.pagination.js"></script>

  <script type="text/javascript" charset="utf-8">

        $.extend( $.fn.dataTableExt.oStdClasses, {
          "sSortAsc": "header headerSortDown",
          "sSortDesc": "header headerSortUp",
          "sSortable": "header"
        } );

	$(document).ready(function() {
	  $('#people-table').dataTable({
                  "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
	          "bPaginate" : true,
                  "sPaginationType": "bootstrap",
                  "bSort": true, 
                  "oLanguage": {"sSearch": "Search:"},
                  "oSearch": {"sSearch": ""},
          });
	});
  </script>

  <div class="page-header">
<br>
    <h1>formhubbers <small>({{users.count}})</small></h1>
  </div>
  <table id="people-table" class="zebra-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Name</th>
	<th>Organization</th>
	<th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td><img height='20' width='20' src="{{user.profile.gravatar}}"/>&nbsp; <a href="/{{user.username}}"/>{{ user.username }}</a></td>
        <td>{{ user.profile.name }}</td>
        <td>{{ user.profile.organization }}</td>
        <td>{% if user.profile.city %}{{ user.profile.city }},{% endif %} {% if user.profile.country %}{{user.profile.country}}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />


{% endblock %}
