{% extends 'base.html' %}
{% load humanize %}
{% block content %}
{% load i18n %}


  <div class="page-header">
<br>
    <h1>{% blocktrans count nb_users=users.count %}formhubber <small>({{ nb_users }})</small>{% plural %}formhubbers <small>({{ nb_users }})</small>{% endblocktrans %}</h1>
  </div>
  <table id="people-table" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{% trans "User" %}</th>
        <th>{% trans "Name" %}</th>
	<th>{% trans "Organization" %}</th>
	<th>{% trans "Location" %}</th>
	<th>{% trans "Member Since" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        {% url "user_profile" user.username as profile_url %}
        <td><img height='20' width='20' src="{{user.profile.gravatar}}" alt="gravatar" />&nbsp; <a href="{{profile_url}}"/>{{ user.username }}</a></td>
        <td>{{ user.profile.name }}</td>
        <td>{{ user.profile.organization }}</td>
        <td>{% if user.profile.city %}{{ user.profile.city }},{% endif %} {% if user.profile.country %}{{user.profile.country}}{% endif %}</td>
	<td>{{ user.date_joined|date:"F j, Y" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.pagination.js"></script>

<script type="text/javascript">

$(document).ready(function() {
      $.extend( $.fn.dataTableExt.oStdClasses, {
        "sSortAsc": "header headerSortDown",
        "sSortDesc": "header headerSortUp",
        "sSortable": "header"
      } );

  $('#people-table').dataTable({
                "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
          "bPaginate" : true,
                "sPaginationType": "bootstrap",
                "bSort": true,
                "oLanguage": {"sSearch": "Search:"},
                "oSearch": {"sSearch": ""},
        });
});
</script>
{% endblock %}
