{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if show_dashboard %}
        {% include "dashboard.html" %}
    {% else %}

   <section id="profile">
     <div class="page-header">
       <h1>
         {% if is_owner and not profile.gravatar_exists %}
             <a style="display: inline-block;" title="{% trans 'Click to change your avatar' %}" href="https://secure.gravatar.com/site/login" id="gravatar">
         {% endif %}
         <img src='{{ profile.gravatar }}' alt='gravatar' width='60' height='60' />
         {% if is_owner and not profile.gravatar_exists %}
            <span class="small-link">{% trans "change" %}</span>
            </a>
         {% endif %}
         {{ content_user.username }}
         {% if profile.name %}
            <span class='pipe'>&nbsp;|&nbsp;</span><span class='name'>{{ profile.name }}</span>
          {% endif %}
          {% if is_owner %}
            <span class='right'>
            <a href="{% url "main.views.profile_settings" content_user.username %}" class="btn btn-small">{% trans "Edit Your Profile" %}</a>
            </span>
          {% endif %}
       </h1>
     </div>
     <em>{{ profile.description }}</em>
     <div class="row">
       <div class="span8">
	 {% if profile.organization %}
         <p><strong>{% trans "Organization:" %} </strong>{{ profile.organization}}</p>
	 {% endif %}
	 {% if location  %}
         <p><strong>{% trans "Location:" %} </strong>{{ location }}</p>
	 {% endif %}
	 {% if profile.home_page %}
         <p><strong>{% trans "Website:" %}</strong><a href="{{ home_page }}">{{ profile.home_page }}</a></p>
	 {% endif %}
     {% with twitter=profile.twitter_clean %}
	   {% if twitter %}
         <p><strong>{% trans "Twitter:" %}</strong><a href="http://www.twitter.com/{{ twitter }}">@{{ twitter }}</a></p>
	   {% endif %}
     {% endwith %}
         <p><strong>{% trans "Member since:" %} </strong>{{ content_user.date_joined|date:"F j, Y" }}</p>
       </div>
       <div class="span4">
         <h2>
            <span class='right'>
              {% blocktrans count num_forms=num_forms %}{{ num_forms }} <small>Shared form</small>{% plural %}{{ num_forms }} <small>Shared forms</small>{% endblocktrans %}
            </span>
         </h2>
       </div>
     </div>
     <hr>

     <div class="row">
       <div class="span12">
	 <h3>{% blocktrans %}Shared Forms & Public Data <small>({{ num_forms }})</small>{% endblocktrans %}</h3>
	 {% if forms %}
	 <table id="sharedforms-table" class="table table-bordered table-striped">
	   <thead>
	    <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Create Date" %}</th>
              <th>{% trans "XLSForm" %}</th>
              <th>{% trans "Public Data" %}</th>
              <th>{% trans "View" %}</th>
	    </tr>
	  </thead>
	  <tbody>
        {% for form in forms %}
            <tr>
                <td>
                    <a href="{% url "main.views.show" content_user.username form.id_string %}">
                        {{ form.title }}
                    <a/>
                </td>
                <td>{{ form.date_created|date:"N d, Y" }}</td>
                <td>
                    {% if form.shared %}
                    <a href="{% url "download_xlsform" content_user.username form.id_string %}">
                        <button class="btn btn-small btn-success"><i class="icon-th icon-white"></i> {% trans "XLS" %}</button>
                    </a>
                    {% else %}
                        <span class="label label-warning">{% trans "PRIVATE" %}</span>
                    {% endif %}
                </td>
                <td>
            {% if form.shared_data %}
                {% if form.submission_count %}
                <div class="data-download">
                  <span class="vertical-middle">
                    <i class="icon-download icon-large"></i>
                  </span>
                  <span class="vertical-middle">
                    <span class="download">{% trans "Download" %}</span>
                      {% if xform.shared_data %}
                          <span class="label label-info">{%  trans "PUBLIC" %}</span>
                      {% endif %}
                      <ul class="download-nav">
                          <li><a href="{% url "odk_viewer.views.export_list" content_user.username form.id_string 'csv' %}">{%  trans "csv" %}</a></li>
                          <li><a href="{% url "odk_viewer.views.export_list" content_user.username form.id_string 'xls' %}">{%  trans "xls" %}</a></li>
                          <li>
                              {% if xform.data_dictionary.has_surveys_with_geopoints %}
                                  <a href="{% url "odk_viewer.views.kml_export" content_user.username form.id_string %}">{%  trans "kml" %}</a>
                              {% endif %}
                          </li>
                      </ul>
                  </span>
                </div>
                {% else %}
                    <span class="label label-warning">{% trans "NO DATA" %}</span>
                {% endif %}
            {% else %}
                <span class="label label-warning">{% trans "PRIVATE" %}</span>
            {% endif %}
                </td>
                <td>
                    {% if form.shared_data %}
		    {% if form.data_dictionary.has_surveys_with_geopoints %}
                <a class="btn btn-flat" href="{% url "odk_viewer.views.map_view" content_user.username form.id_string %}" data-original-title="{% trans 'View Map' %}" rel="tooltip">
                    <i class="icon-map-marker icon-large"></i>
                </a>
		    {% endif %}
                    {% else %}
                        <span class="label label-warning">{% trans "PRIVATE" %}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
	  </tbody>
	</table>
    {% else %}
        <h4>{% trans "None public" %}</h4>
    {% endif %}
    </div>
  </section>
  {% endif %}
  {% endblock %}
  {% block javascript %}
    {{ block.super }}

        <script type="text/javascript">$('#gravatar').tooltip();</script>

        <script type="text/javascript" src="/static/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/static/js/jquery.dataTables.pagination.js"></script>
          <script type="text/javascript">

        $.extend( $.fn.dataTableExt.oStdClasses, {
          "sSortAsc": "header headerSortDown",
          "sSortDesc": "header headerSortUp",
          "sSortable": "header"
        } );


	$(document).ready(function() {

        $(document).on("click", ".showqr", function () {
          div_target = $(this).attr('data-target')
          url = $(this).attr('href')
          $(div_target+" .img_holder").load(url)

        });

	  var tbl = $('#forms-table').dataTable({
        "bPaginate": false,
        "sPaginationType": "bootstrap",
        "bSort": true,
        "oLanguage": {"sSearch": "{% trans 'Search:' %}"},
        "oSearch": {"sSearch": ""},
        "aoColumnDefs": [
            { "bVisible": false, "aTargets": [ 6 ] }
        ]
      });
      tbl.fnFilter( 'true', 6, true);
      var tblFilter = $('#forms-table_filter');
      tblFilter.addClass('row');
      tblFilter.prepend('{% trans "Show inactive:" %} <input id="active-select" type="checkbox" />&nbsp;&nbsp;');
      $('#active-select').change(function() {
          tbl.fnFilter('(true' + ($(this).is(':checked') ? '|false)' : ')'), 6, true);
      });

        // remove shared forms
        $('.remove-shared-form').each(function (index, link) {
            link.onclick = function (evt) {
                evt.preventDefault();
                evt.stopPropagation();
                var url = $(this).data('url');
                var username = $(this).data('username');
                var data = {'perm_type': 'remove', 'for_user': username};
                var remove_permission_xhr = $.post(url, data);
                remove_permission_xhr.success(function (data) {
                    $(link).parents('tr').remove();
                });
            };
        });

      // add datatables to the shared and crowd tables
        $('#crowdforms-table, #shared-forms-table').dataTable({
            "bPaginate": false,
            "sPaginationType": "bootstrap",
            "bSort": true,
            "oLanguage": {"sSearch": "{% trans 'Search:' %}"},
            "oSearch": {"sSearch": ""}
        });


	});
  </script>
{% endblock %}
