{% load humanize %}
{% if user.xforms.count %}
<section id="published-forms">
  <div class="page-header">
    <h1>Published Forms <small>Export, map, and view submissions.</small></h1>
  </div>

  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.pagination.js"></script>
  <script type="text/javascript" charset="utf-8">

        $.extend( $.fn.dataTableExt.oStdClasses, {
          "sSortAsc": "header headerSortDown",
          "sSortDesc": "header headerSortUp",
          "sSortable": "header"
        } );


	$(document).ready(function() {
	  var tbl = $('#forms-table').dataTable({
        "bPaginate": false,
        "sPaginationType": "bootstrap",
        "bSort": true, 
        "oLanguage": {"sSearch": "Search:"},
        "oSearch": {"sSearch": ""},
        "aoColumnDefs": [
            { "bVisible": false, "aTargets": [ 5 ] }
        ]
      });
      tbl.fnFilter( 'true', 5, true);
      var tblFilter = $('#forms-table_filter');
      tblFilter.addClass('row');
      tblFilter.prepend('Show inactive: <input id="active-select" type="checkbox" />&nbsp;&nbsp;');
      $('#active-select').change(function() {
          tbl.fnFilter('(true' + ($(this).is(':checked') ? '|false)' : ')'), 5, true);
      });
	});
  </script>

  <table id="forms-table" class="zebra-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Submissions</th>
        <th>Last Submission</th>
        <th>Data</th>
        <th>View</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      {% for xform in user.xforms.all %}
      <tr>
        <td>
            <a href="{% url main.views.show content_user.username xform.id_string %}">{{ xform.title }}</a>
            {% if xform.shared %}
                <span class="label notice">PUBLIC</span>
            {% endif %}
        </td>
        <td><center>{{ xform.submission_count|intcomma }}</center></td>
        <td>
          {% if xform.time_of_last_submission %}
          {{ xform.time_of_last_submission|date:"N d, Y" }}
          {% endif %}
        </td>
        <td>
          {% if xform.submission_count %}
              <a href="{% url odk_viewer.views.csv_export user.username xform.id_string %}"><button class="btn small">csv</button></a>
              <a href="{% url odk_viewer.views.xls_export user.username xform.id_string %}"><button class="btn small">xls</button></a>
              {% if xform.data_dictionary.has_surveys_with_geopoints %}
              <a href="{% url odk_viewer.views.kml_export user.username xform.id_string %}"><button class="btn small">kml</button></a>
              {% endif %}
          {% endif %}
          {% if xform.shared_data %}
              <span class="label notice">PUBLIC</span>
          {% endif %}
        </td>
        <td>
          {% if xform.data_dictionary.has_surveys_with_geopoints %}
          <center><a href="{% url odk_viewer.views.map_view user.username xform.id_string %}"><button class="btn small info">Map &raquo;</button></a></center>
          {% endif %}
        </td>
        <td>{{ xform.downloadable|lower }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />

  <p>
    The url of this web application <strong>{{ odk_url }}</strong>
    must be given to ODK Collect before it will get forms from and
    submit data to formhub. In Collect's Main Menu, press the Menu
    button. Select Server Preferences, then Server. Enter
    <strong>{{ odk_url }}</strong> as the server.
  </p>

</section>

<script>
  $(function () {
  $("a[rel=twipsy]").twipsy({
  live: true,
  placement: 'below'
  })
  })
</script>
{% endif %}
