{% load humanize %}
{% if user.xforms.count %}
{% load i18n %}

<section id="published-forms">
  <div class="page-header">
    <h1>{% blocktrans %}Published Forms <small>Export, map, and view submissions.</small>{% endblocktrans %}</h1>
  </div>

  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.pagination.js"></script>
  <script type="text/javascript" charset="utf-8">

        $.extend( $.fn.dataTableExt.oStdClasses, {
          "sSortAsc": "header headerSortDown",
          "sSortDesc": "header headerSortUp",
          "sSortable": "header"
        } );


	$(document).ready(function() {
	  var tbl = $('#forms-table').dataTable({
        "bPaginate": false,
        "sPaginationType": "bootstrap",
        "bSort": true, 
        "oLanguage": {"sSearch": "{% trans 'Search:' %}"},
        "oSearch": {"sSearch": ""},
        "aoColumnDefs": [
            { "bVisible": false, "aTargets": [ 5 ] }
        ]
      });
      tbl.fnFilter( 'true', 5, true);
      var tblFilter = $('#forms-table_filter');
      tblFilter.addClass('row');
      tblFilter.prepend('{% trans "Show inactive:" %} <input id="active-select" type="checkbox" />&nbsp;&nbsp;');
      $('#active-select').change(function() {
          tbl.fnFilter('(true' + ($(this).is(':checked') ? '|false)' : ')'), 5, true);
      });
	});
  </script>

  <table id="forms-table" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{%  trans "Name" %}</th>
        <th>{%  trans "Submissions" %}</th>
        <th>{%  trans "Last Submission" %}</th>
        <th>{%  trans "Data" %}</th>
        <th>{%  trans "View" %}</th>
        <th>{%  trans "Active" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for xform in user.xforms.all %}
      <tr>
        <td>
            <a href="{% url main.views.show content_user.username xform.id_string %}">{{ xform.title }}</a>
            {% if xform.shared %}
                <span class="label label-info">{%  trans "PUBLIC" %}</span>
            {% endif %}
        </td>
        <td><center>{{ xform.submission_count|intcomma }}</center></td>
        <td>
          {% if xform.time_of_last_submission %}
          {{ xform.time_of_last_submission|date:"N d, Y" }}
          {% endif %}
        </td>
        <td>
          {% if xform.submission_count %}
              <a href="{% url odk_viewer.views.export_list user.username xform.id_string 'csv' %}"><button class="btn btn-small">{%  trans "csv" %}</button></a>
              <a href="{% url odk_viewer.views.export_list user.username xform.id_string 'xls' %}"><button class="btn btn-small">{%  trans "xls" %}</button></a>
              {% if xform.data_dictionary.has_surveys_with_geopoints %}
              <a href="{% url odk_viewer.views.kml_export user.username xform.id_string %}"><button class="btn btn-small">{%  trans "kml" %}</button></a>
              {% endif %}
          {% endif %}
          {% if xform.shared_data %}
              <span class="label label-info">{%  trans "PUBLIC" %}</span>
          {% endif %}
        </td>
        <td>
	  <div class=btn-group>
	    <center>
          {% if xform.data_dictionary.has_surveys_with_geopoints %}
	  <a class="btn" href="{% url odk_viewer.views.map_view user.username xform.id_string %}" data-original-title="{% trans 'View Map' %}" rel="tooltip">
	    <i class="icon-map-marker"></i>
	  </a>
          {% endif %}
          {% if xform.submission_count > 0 %}
	  <a class="btn" href="{% url main.views.form_photos content_user.username xform.id_string %}" data-original-title="{% trans 'View Photo' %}" rel="tooltip" >
	    <i class="icon-camera"></i>
	  </a>
          {% endif %}

	  <a class="btn" href="{% url odk_logger.views.enter_data content_user.username xform.id_string %}" data-original-title="{% trans 'Enter Web Form' %}" rel="tooltip">
	    <i class="icon-edit"></i>
	  </a>                
          <!-- DELETE -->
             {% if xform.submission_count <= 0 %}
          <div id="delete-{{ xform.id_string }}" class="modal hide fade">
            <div class="modal-header">
              <a data-dismiss="modal" class="close">&times;</a>
              <h3>{% trans "Delete Confirmation" %}</h3>
            </div>
            <div class="modal-body">
              <p>{% blocktrans with title=xform.title nb_sub=xform.submission_count|intcomma %}Are you sure you want to delete the form '{{ title }}'? This form has <strong>{{ nb_sub }}</strong> submissions associated with it that will also be deleted. If you are unsure about deleting this form press 'Cancel' and conside 'Archiving' the form instead.{% endblocktrans %}</p>
            </div>
            <div class="modal-footer">
              <a href="{% url odk_logger.views.delete_xform username=user.username id_string=xform.id_string %}" onclick="$('#delete-{{ xform.id_string }}').modal('hide');" class="btn btn-primary">Delete</a>
              <a href="#" onclick="$('#delete-{{ xform.id_string }}').modal('hide');" class="btn secondary">Cancel</a>
            </div>
          </div>
          <a data-toggle="modal" href="#delete-{{ xform.id_string }}" data-backdrop="true" data-keyboard="true" class="btn">
            <i class="icon-trash"></i>
          </a>
            {% endif %}                       
            {% if xform.submission_count > 0 %}
      <a class="btn" href="{% url odk_viewer.views.data_view content_user.username xform.id_string %}" data-original-title="{% trans 'View Submitted Data' %}" rel="tooltip">
        <i class="icon-th-list"></i>
      </a>
      <a class="btn" href="{% url odk_viewer.views.instance content_user.username xform.id_string %}" data-original-title="{% trans 'Browse Data (One by One)' %}" rel="tooltip">
        <i class="icon-list-alt"></i>
      </a>
            {% endif %}
	  </center>
	    </div>


        </td>
        <td>{{ xform.downloadable|lower }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />

</section>

<script>
  $(function () {
  $("a[rel=tooltip]").tooltip({
  live: true,
  placement: 'below'
  })
  })
  $('.btn').tooltip();
</script>
{% endif %}
