<section id="publish-form">
  <div class="page-header">
    <h1>Publish a Form <small>Upload Excel form files.</small></h1>
  </div>

  <div class="row">

    <div class="span8">
      <p>
        For a quick introduction on how to publish a form check out
        the <a href="{% url main.views.tutorial %}">tutorial</a>.<br /><br/>

        New to formhub? Try publishing
        <a href="/static/tutorial/tutorial.xls">tutorial.xls</a>.<br /><br/>

        Learn about the XLSForm syntax <a href="https://docs.google.com/document/d/1Dze4IZGr0IoIFuFAI_ohKR5mYUt4IAn5Y-uCJmnv1FQ/edit?hl=en_US">here</a> or checkout this more advanced example: <a href="https://docs.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=0AgpC5gsTSm_4dFZQdzZZVGxlcEQ3aktBbFlyRXE3cFE&output=xls">nutrition_screening.xls</a>.<br />
      </p>
    </div>

    <div class="span8">
      <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" class="btn large primary" value="Publish" />
      </form>
    </div>

  </div>

{% if message %}
  <div class="row">
    <div class="span16">
      <div class="alert-message block-message {{ message.type }} fade in" data-alert="alert">
	<a class="close" href="#">×</a>
	<p>{{ message.text|safe }}</p>
      </div>
    </div>
  </div>
{% endif %}

</section>
