{% if user.xforms.count %}
<section id="published-forms">
  <div class="page-header">
    <h1>Published Forms <small>Export, map, and view submissions.</small></h1>
  </div>

  <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  $('#forms-table').dataTable({
        "bPaginate": false,
        "oLanguage": {"sSearch": ""}
      });
      $('#forms-table_filter').addClass('row')
	} );
  </script>


  <table id="forms-table" class="zebra-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Administration</th>
        <th>Number of Submissions</th>
        <th>Last Submission</th>
        <th>Export</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for xform in user.xforms.all %}
      <tr>
        <td>{{ xform.id_string }}</td>
        <td>
          <a href="{% url odk_logger.views.download_xform username=user.username id_string=xform.id_string %}" rel="twipsy" data-original-title="To download the XForm representation of this form right click this link and select 'Save Link As...'">xform</a>,

          <!-- DELETE -->
          <div id="delete-{{ xform.id_string }}" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>Delete Confirmation</h3>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete {{ xform.title }}?</p>
            </div>
            <div class="modal-footer">
              <a href="{% url odk_logger.views.delete_xform username=user.username id_string=xform.id_string %}" onclick="$('#delete-{{ xform.id_string }}').modal('hide');" class="btn primary">Delete</a>
              <a href="#" onclick="$('#delete-{{ xform.id_string }}').modal('hide');" class="btn secondary">Cancel</a>
            </div>
          </div>
          <a href="#" data-controls-modal="delete-{{ xform.id_string }}" data-backdrop="true" data-keyboard="true">delete</a>,

	  <a href="{% url odk_logger.views.toggle_downloadable username=user.username id_string=xform.id_string %}?next=/" rel="twipsy" data-original-title="Hide or unhide a form, this will determine whether ODK Collect will see this form when getting new forms from the server.">
	    {% if xform.downloadable %}
	    hide
	    {% else %}
	    unhide
	    {% endif %}
	  </a>
        </td>
        <td>{{ xform.submission_count }}</td>
        <td>
	  {% if xform.time_of_last_submission %}
	  {{ xform.time_of_last_submission }}
	  {% endif %}
        </td>
        <td>
          {% if xform.submission_count %}
          <a href="{% url odk_viewer.views.csv_export xform.id_string %}">csv</a>,
          <a href="{% url odk_viewer.views.xls_export xform.id_string %}">xls</a>
          {% endif %}
        </td>
        <td>
          {% if xform.data_dictionary.has_surveys_with_geopoints %}
          <a href="{% url odk_viewer.views.map xform.id_string %}">map</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />

  <p>
    The url of this web application <strong>{{ odk_url }}</strong>
    must be given to ODK Collect before it will get forms from and
    submit data to formhub. In Collect's Main Menu, press the Menu
    button. Select Server Preferences, then Server. Enter
    <strong>{{ odk_url }}</strong> as the server.
  </p>

</section>

<script>
  $(function () {
  $("a[rel=twipsy]").twipsy({
  live: true,
  placement: 'below'
  })
  })
</script>
{% endif %}
