<section id="publish-survey">
  <div class="page-header">
    <h1>Publish a Survey <small>Upload new Excel files.</small></h1>
  </div>

  <div class="row">

    <div class="span8">
      <p>
        For a quick introduction on how to publish a survey check out
        the <a href="{% url main.views.tutorial %}">tutorial</a>.<br />

        New to ODK Deploy? Try publishing
        <a href="/static/tutorial/tutorial.xls">tutorial.xls</a>.<br />

        Learn about the xls2xform syntax <a href="https://docs.google.com/document/d/1Dze4IZGr0IoIFuFAI_ohKR5mYUt4IAn5Y-uCJmnv1FQ/edit?hl=en_US">here</a>.
      </p>
    </div>

    <div class="span8">
      <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" class="btn large primary" value="Publish" />
      </form>
    </div>

  </div>

</section>
