{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div id="resources">
    <div class="title">{% trans "Resources" %}</div>
    <div class="header">{% blocktrans %}Getting Started {% endblocktrans %}</div>
<div class="explanation">
<div style="width: 640px; margin: 10px auto">
  <iframe width="620" height="515" src="http://www.youtube.com/embed/jqpmMpkIXSQ" frameborder="0" allowfullscreen></iframe>
</div>
  <p>{% blocktrans %}Need more help understanding what this is all about? We’ve created a
  comprehensive getting started guide to help you better understand how to get the most 
  out of formhub.{% endblocktrans %}</p>

<div style="width: 640px; margin: auto">
<script async class="speakerdeck-embed" data-id="1a33a070416b01307b8022000a1de118"  src="//speakerdeck.com/assets/embed.js"></script>
</div>
</div>
<br/>
<div class="header">{% blocktrans %}Authoring with XLSForms{% endblocktrans %}</div>

<div class="explanation">
  {% blocktrans %}
  Form authoring in formhub is based on the XLSForm standard. While there is an initial 
  learning curve, we’ve found that XLS provides a great interface for authoring forms — whether it’s
  simple 5 question questionnaire or a complex survey with hundreds of questions. XLS also makes 
  sharing and collaborating on forms easy. Whether you need help authoring your first form or want 
  to pick up advanced tips, please check out our <a href="/syntax">XLForm Syntax page</a> and
  our gallery of sample forms on <a href="/formhub_u">formhub University</a>.
  {% endblocktrans %}
</p>
</div>
</div>
{% endblock %}
