{% extends "base.html" %}

{% block content %}
<section id="register">
  <div class="page-header">
    <h1>Edit User Profile</h1>
  </div>
  <div class="row">
    <div class="span6">
      <a class="btn" href="{% url auth_password_change %}">change password</a>
      <br/>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <form class="well" method="post" action="{% url main.views.profile_settings content_user.username %}">
        {% csrf_token %}
        <table>
          <tr>
          <td><label>Username:</label></td>
          <td><span class="uneditable-input">{{ content_user.username }}</span></td>
          </tr>
        {% for field in form %}
          <tr>
            <td>
              {{ field.label_tag }}
            </td>
            <td>
              {{ field.errors }}
              {{ field }}
              {% if field.field.required %}*{% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
        <input type="submit" class="btn btn-primary" value="Update" />
      </form>
    </div>
  </div>
</section>
{% endblock %}
