{% extends 'base.html' %}

{% block content %}
  <section id="profile">
    <div class="page-header">
      <img src='{{ content_user.profile.gravatar }}' alt='gravatar' width='40' height='40' style='float:left; padding-right:10px;' />
      <h1>
        {{ content_user.username }}
        <span style='color:#DDD; font-weight:100'>&nbsp;/&nbsp;</span>
        {{ xform.id_string }}
      </h1>
    </div> 
    <div class="row">
      <div class="span16">
        <a href="{% url download_xform content_user.username xform.id_string %}">
            <button class="btn small success">XForm</button>
        </a>
        <a href="{% url download_xlsform content_user.username xform.id_string %}">
            <button class="btn small success">Excel</button>
        </a>
        <a href="{% url download_jsonform content_user.username xform.id_string %}">
            <button class="btn small success">Form JSON</button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="span11">
        <h3>Description</h3>
        <div class="clearfix">
            <div class="input">
            <form>
                {% csrf_token %}
                <textarea id="description" class="xxlarge"  disabled="" rows="3" name="textarea">{% if xform.description %}{{ xform.description }}{% else %}None{% endif %}</textarea>
                {% if is_owner %}
                    <a id="description_edit" href="" class="btn small primary">edit</a>
                    <a id="description_save" style="display:none" href="" class="btn small primary" data-url="{% url main.views.edit content_user.username xform.id_string %}">save</a>
                {% endif %}
            </form>
            </div>
        </div>
      </div>
      <div class="span5">
        {% if is_owner %}
        <h3>Settings</h3>
        <div class="clearfix">
            <label>Form Privacy&nbsp;</label>
            <div class="input">
                <a id="toggle_shared_pub" href="" class="btn small{% if xform.shared%} primary{% endif %}" data-url="{% url main.views.edit content_user.username xform.id_string %}">PUBLIC</a>
                <a id="toggle_shared_pri" href="" class="btn small{% if not xform.shared%} primary{% endif %}" data-url="{% url main.views.edit content_user.username xform.id_string %}">PRIVATE</a>
            </div> 
            <br/>
            <label>Data Privacy&nbsp;</label>
            <div class="input">
                <a id="toggle_shared_data_pub" href="" class="btn small{% if xform.shared_data %} primary{% endif %}" data-url="{% url main.views.edit content_user.username xform.id_string %}">PUBLIC</a>
                <a id="toggle_shared_data_pri" href="" class="btn small{% if not xform.shared_data %} primary{% endif %}" data-url="{% url main.views.edit content_user.username xform.id_string %}">PRIVATE</a>
            </div> 
        </div> 
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="span16">
        <hr>
        <h3>
            Form Data
            {% if xform.shared_data %}
                <span class="label notice">PUBLIC</span>
            {% else %}
                <span class="label warning">PRIVATE</span>
            {% endif %}
        </h3>
        {% if xform.shared_data or is_owner %}
        <h4>Number of submissions: {{ xform.submission_count }}</h4>
        {% if xform.submission_count > 0 %}
            <div>
            <a href="{% url odk_viewer.views.csv_export content_user.username xform.id_string %}">
                <button class="btn small">csv</button>
            </a>
            <a href="{% url odk_viewer.views.xls_export content_user.username xform.id_string %}">
                <button class="btn small">xls</button>
            </a>
            <a href="{% url odk_viewer.views.kml_export content_user.username xform.id_string %}">
                <button class="btn small">kml</button>
            </a>
            <a href="{% url odk_viewer.views.map_view content_user.username xform.id_string %}">
                <button class="btn small info">Map &raquo;</button>
            </a>
            </div>
        {% endif %}
        {% endif %}
    </div> 
  </section>
{% endblock %}
  
