<section id="introduction">
  <div class="page-header">
    <h1>Support</h1>
  </div>

  <p>
    Thank you for using formhub!<br><br>  If you need any extra help or have questions about the service below please consider one of the support options below:
  </p>
  <p>
    <ul>
      <li>For questions related to authoring XLSForms please first checkout our <a href="/syntax/">syntax</a> page then  use the <a href="https://groups.google.com/forum/#!forum/xls2xform">XLS2XForm Google group</a></li>
      <li>For help relating to using ODK Collect please contact the <a href="https://groups.google.com/forum/#!forum/opendatakit">ODK Google group</a></li>
      <li>For problems or suggestions related to the formhub service please email: <a href="mailto:support@formhub.org">support@formhub.org</a></li>
    </ul>

  We value your feedback and ideas in how to make this service better.  Thank you!
  </p>
</section>

