<section id="introduction">
  <div class="page-header">
    <h1>XLS2XForm Converter</h1>
  </div>
  <p>
    If you're looking for the XLS2XForm converter you're in the right place.  We've incorporated the XLS2XForm converter into formhub.
  </p>
  <p>
    To use it simply:
    <ul>
      <li><a href="/accounts/register/">Signup</a> for a free account with formhub</li>
      <li>Upload your XLSForm to formhub and it'll instantly be converted to an XForm which will be available on your phone.</li>
      <li>If you want to download the XForm, click on the form name and click on <b>other</b> to download the converted XForm</li>
    </ul>

  </p>
</section>

