{% extends "base.html" %}
{% block title %}Data Export{% endblock %}

{% block content %}
<table class="pretty padded">
  <tr>
    <td>Title</td>
    <td>Number of Submissions</td>
    <td>Time of Last Submission</td>
    <td>Export</td>
  </tr>
{% for xform in xforms %}
<tr>
  <td>{{ xform.title }}</td>
  <td>{{ xform.submission_count }}</td>
  <td>
    {% if xform.time_of_last_submission %}
    {{ xform.time_of_last_submission }}
    {% endif %}
  </td>
  <td>
    {% if xform.submission_count %}
    <a href={% url parsed_xforms.views.csv_export id_string=xform.id_string %}>csv</a>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
<!-- <a class="xform-mgr button" href="/xform_manager/">XForm Manager</a> -->
<!-- <script type="text/javascript" charset="utf-8"> -->
<!-- 	$('a.xform-mgr.button').button() -->
<!-- </script> -->
{% endblock %}
