{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<p>
  Welcome to OSSAP's web-based facility inventory tool.
</p>

<p>
  As a first step, we would like to walk you through some of the
  site's most important features:
</p> 

<ol>
  <li> To track how well the survey teams are doing, check out:
  <a href={% url parsed_xforms.views.submission_counts_by_lga %}>submission counts by LGA</a>
  <li> The map is currently under construction.
  <li> To look at the data more carefully, download the
  data <a href={% url parsed_xforms.views.export_list %}>here</a>. We
  are in the process of ordering the variables according to the order
  in which they appeared in the survey. And we will also add a data
  dictionary to all the spreadsheets so one can see how the variable
  names correspond to survey questions.
</ol>
{% endblock %}

<!-- <table border="0" cellspacing="5" cellpadding="5" style="clear:both;margin:0 auto;"> -->
<!-- 	<tbody> -->
<!-- 		<tr> -->
<!-- 			<td rowspan="2"> -->
<!-- 				<a href="/xforms/dashboard/#/" class="big-button"> -->
<!-- 					<img src="/site-media/images/xforms/map-thumb.png" style="border:0 none"/> -->
<!-- 				</a> -->
<!-- 			</td> -->
<!-- 			<td> -->
<!-- 				<a href="/xforms/surveys/" class="big-button" title="surveyors"> -->
<!-- 					<img src="/site-media/images/xforms/surveys-thumb.png" style="border:0 none"/> -->
<!-- 				</a> -->
<!-- 			</td> -->
<!-- 		</tr> -->
<!-- 		<tr> -->
<!-- 			<td> -->
<!-- 				<a href="/xforms/surveyors/" class="big-button" title="surveyors"> -->
<!-- 					<img src="/site-media/images/xforms/surveyors-thumb.png" style="border:0 none"/> -->
<!-- 				</a> -->
<!-- 			</td> -->
<!-- 		</tr> -->
<!-- 	</tbody> -->
<!-- </table> -->

<!-- <style type="text/css" media="screen"> -->
<!-- 	a.big-button { -->
<!-- 		display: block; -->
<!-- 		opacity: 0.9; -->
<!-- 		width: 250px; -->
<!-- 		position: relative; -->
<!-- 		float: left; -->
<!-- 	} -->
<!-- 	a.big-button span { -->
<!-- 		bottom: 5px; -->
<!-- 		text-align: center; -->
<!-- 		display: block; -->
<!-- 		width: 100%; -->
<!-- 		position: absolute; -->
<!-- 		color: #000; -->
<!-- 		text-decoration: none; -->
<!-- 		background-color: rgba(255,255,255,0.75); -->
<!-- 		padding: 1px 0; -->
<!-- 	} -->
<!-- 	a.big-button:hover { -->
<!-- 		opacity: 1; -->
<!-- 	} -->
<!-- </style> -->
