{% extends 'base.html' %}

{% block content %}
<ul>
  <li><a
 href="/xform_manager">XForm Manager</a></li>
  <ul>
    <li><span
 style="font-style: italic;">XForms - Upload new
forms, set status of forms</span></li>
  </ul>
  <li><a
 href="/phone_manager">Phones</a>
    <br>
    <span style="font-style: italic;">(Identify
who's
responsible for a phones, and what its status is)</span></li>
  <li>All in one page? (sammy)</li>
  <ul>
    <li><a
 href="/xforms/dashboard/#/">Data Export</a></li>
    <li><a
 href="/xforms/dashboard/#/activity">Activity List</a></li>
    <li><a
 href="/xforms/dashboard/#/map">Map</a></li>
    <li><a
 href="/xforms/dashboard/#/frequency-tables">Frequency
Tables</a></li>
  </ul>
  <li>
	Broken out into separate pages (for simplicity of development)
  </li>
  <ul>
    <li><a
 href="/xforms/surveyors/">Surveyors</a><span
 style="font-style: italic;">(See which surveyors /
teams are doing well)</span></li>
    <li>
      <a href="/xforms/surveys/">Survey
Types</a>
    </li>
    <ul>
      <li><a
 href="/xforms/surveys/school">school</a></li>
      <li><a
 href="/xforms/surveys/health">health</a></li>
      <li><a
 href="/xforms/surveys/registration">registration</a></li>
      <li><a
 href="/xforms/surveys/water">water</a></li>
    </ul>
  </ul>
</ul>


{% endblock %}