<div class="lr-cols">
<div class="l-col">
	<h2 style="color:{{template_st.color}}">{{template_st.name}}</h2>
</div>
<div class="r-col">
	<div class="r-sect" style="text-align: right">
		<a href="#" class="button">Export</a>
	</div>
	<div class="r-sect">
		<h3 class="rs-title">Summary</h3>
		<hr />
		<table border="0">
			<tr>
				<td>Number of Submissions</td>
				<td>
					{{template_st.number_of_submissions}}
				</td>
			</tr>
			<tr>
				<td>
					Number of Surveyors
				</td>
				<td>
					{{template_st.number_of_surveyors}}
				</td>
			</tr>
		</table>
	</div>
	<div class="r-sect">
		<h3 class="rs-title">Chart</h3>
		<!-- 
		<hr />
		chart goes here
		-->
	</div>
	<div class="r-sect">
		<h3 class="rs-title">Frequency Table</h3>
		<!-- 
		<hr />
		chart goes here
		-->
	</div>
	<div class="r-sect">
		<h3 class="rs-title">Activity</h3>
		<!-- 
		<hr />
		chart goes here
		-->
	</div>
</div>
<br class="cb" />
</div>
<script type="text/javascript" charset="utf-8">
	$('a.button').button();
</script>