{% extends 'base.html' %}

{% block content %}
<table class="fullw shade-alternate">
  <tr>
	<th style="border-bottom:1px solid #ddd">Attribute</th>
	<th style="border-bottom:1px solid #ddd">Value</th>
  </tr>
	<tr><td>{{data}}</td></tr>
	<!-- I'll let you figure this out :P. -AD
  {% for key, value in data %}
  <tr><td>{{ key }}</td><td>{{value}}</td></tr>
  {% endfor %}
	-->
</table>
{% if score_form %}
<div id="existing_scores"></div>
<div id="score_form">
	{{score_form|safe}}
</div>
<script type="text/javascript" charset="utf-8">
var parsedInstanceId = {{instance.id}};
$.ajax({
	url: '/xforms/quality_reviews/list/'+parsedInstanceId
}).success(function(result){
	$('#existing_scores').html(result);
});

$('#score_form form').submit(function(evt){
	console.log(this);
	return false;
})
</script>
{% endif %}
{% endblock %}