{% extends "base.html" %}



{% block title %}Report List{% endblock %}

{% block page-id %}report-list{% endblock %}

{% block content %}

    <h2>Reports</h2>

    <!-- Just a report list with basic management actions -->
    <style type='text/css'>

    </style>
    {% if report_list %}
    <ul class='report-links'>
        {% for report in report_list %}
            <li>
	      {{ report }}

              (<a class='report-link' href="{% url report-results id=report.pk %}">view</a> |
              <a  href="{% url edit-report report.pk %}" class="edit">edit</a> |
              <a  href="{% url delete-report report.pk %}" class="delete">delete</a>)
             </li>
        {% endfor  %}
    </ul>
    {% endif %}
    <p><a href="{% url create-report %}">Create a new report</a></p>


{% endblock %}
